[2018-09-15 06:04] DinisCruz commented on #877
yes that URL now goes to the juice shop

![image](https://user-images.githubusercontent.com/656739/45583213-9ef13780-b8b5-11e8-9b3c-a5e381d0a647.png)

[2018-09-15 06:05] #877 closed

[2018-09-17 07:19] commjoen commented on #964
Merged and fixed

[2018-09-17 07:19] #964 closed

[2018-09-19 20:50] commjoen commented on #911
And check https://corellium.com

[2018-09-22 06:35] commjoen opened #1001 "Create new checklist file"
The checklist (XLS) needs updating right before going to 1.2.0 of the MASVS.

[2018-09-25 06:43] commjoen opened #1002 "Improve the pdf"
- [x] Have the cover image in.
- [x] Add improved header and footer
- [x] Change font

[2018-09-25 10:40] maks-g opened #1003 "iOS Anti-Reversing Defenses - File Integrity Checks: Apple Bitcode"
Hello

Have a question regarding [
https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06j-Testing-Resiliency-Against-Reverse-Engineering.md#file-integrity-checks](File Integrity Checks).

Because Apple recompiles uploaded .ipa for each supported platform and drops any ‘useless’ object code (Bitcode) - will mach_header signature change after this procedure?

[2018-09-25 12:34] commjoen opened #1004 "New: android appbundles"
**Platform:**
Android
**Description:**
The signing part (next to sigingin v3), will include appbundles with studio 3.2, which means:  signing happens in the store.

[2018-09-26 06:36] commjoen commented on #1003
The mach_header can indeed change, not using bitcode might not be a good answer either. This looks like something we can improve on... For instance, by pinning on the certificate that is embedded in the mach-o-header, might be a good idea...

[2018-09-28 19:03] AninhaLemos opened #1008 "Testing Input Validation and Sanitization"
**Platform:**
Android
**Description:**
Hi, i can't find the link to "Testing Input Validation and Sanitization". I'm looking for all the github, can you help me?

[2018-09-29 06:28] commjoen opened #1009 "Update leanpub and gitbook"
We need to update the leanpub and gitbook on every release at least...
- [x] Gitbook (will be done by hand by Sven every now and then)
- [x] Leanpub (will be done with api-client after release)

[2018-09-30 19:42] commjoen commented on #1008
It is indeed strange that this is missing. I created a PR to check what else was moving. @sushi2k , can you help with this one?

[2018-09-30 20:37] commjoen commented on #1008
The referenced testcase for url sanitization and intent based data sanitization is now under https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06h-Testing-Platform-Interaction.md#testing-custom-url-schemes . I will check with @sushi2k if other items are sitll missing. For input sanitization under android you have to think about various subjects: intents, url-schemes, how persistence is us

[2018-10-01 20:28] anantshri commented on #997
Just a progress update:
So the problem seems to be that the template file is not used for any of its content but only for style. and toc always goes on top as pandoc doesn't seem to support the styles for docx format. : more reading on this might yield different results.

An approach i am thinking right now is using https://github.com/mjanv/mistune-docx
or if i can find a simpler approach to combi

[2018-10-02 04:06] commjoen commented on #997
Thanks for the update @anantshri ! I had the same issue till now: toc on top or, after merger, no toc at all :( ... Hope you can find a way out 👍 !

[2018-10-02 04:31] commjoen commented on #1009
It seems there were a few old links in there, whichi i have removed now, like https://sushi2k.gitbooks.io/the-owasp-mobile-security-testing-guide/content/ .
I have moved all to the new link in both the OWASP wiki and in the mstg using #1013.
Only now i see that the git which backs it up is https://github.com/sushi2k/owasp-mstg , which is not always completely up to date. Can we somehow link it to

[2018-10-02 06:14] TheDauntless commented on #1008
I was also under the impression that most of it should already be in the mstg

Input sanitisation needs to happen on anything you can’t trust, of course, and maybe creating a list of all entry points into the application could be useful.

Maybe we can add a section “attack surface” in /0x05a-Platform-Overview.md and list the various options with links to correct pages?

[2018-10-02 06:28] commjoen commented on #1008
Okidoki, then that's what I will do per platform: Create an attack surface section in which possible input vectors are described from either a backend or an inputsource and references to sections within the MSTG where this is dealt with.
- [ ] iOS
- [ ] Android

[2018-10-04 01:01] joelwat commented on #877
http://owasp.herokuapp.com/ still goes to the juice shop. How can I join the slack channel?

[2018-10-04 06:50] commjoen commented on #877
you can use owasp.slack.com, will use update the README

[2018-10-04 07:05] commjoen commented on #891
Thank you for implementing

[2018-10-04 07:05] #891 closed

[2018-10-04 11:33] commjoen commented on #896
@clviper what is the status of this?

[2018-10-04 20:31] joelwat commented on #877
Yep! I was able to get an invite email. Thank you for your help!

[2018-10-05 08:22] commjoen opened #1015 "Migrate hackmes to omtg playground and automate"
Currenlty, the maintenance of the OMTG and the hackmes gives a lot of overhead. We should merge them together and apply the same automation as we do for the crackmes already.

[2018-10-05 18:36] commjoen opened #1017 "MASVS 7.8 is missing for both Android and iOS"
MASVS 7.8 is missing for both iOS and Android:
 | **7.8** | In unmanaged code, memory is allocated, freed and used securely.  | ✓ | ✓ |

- [x] Explain what it is in general testing guide in terms of memory management and corruption
- [x] Explain what it is in terms of cleaning up keys in the general testing guide
- [x] explain the calls to look for in the general testing guide
- [x] Add Android JN

[2018-10-05 19:33] commjoen opened #1018 "Testing the Device-Access-Security Policy is removed for iOS (to be researched) (as a counterpart for confirm credentials for android)"
**Platform:**
iOS
**Description:**
Testing the Device-Access-Security Policy is removed for iOS (to be researched) (as a counterpart for confirm credentials for android)

[2018-10-05 19:36] commjoen opened #1019 "Inform testers on the instructions that should be provided to a user"
**Platform:**
iOS, Android
**Description:**
A user should be instructed on:
- Privacy: (Europa: GDPR: consent, privacy, etc. eULA, etc.)
- Sharing devices and fingerprints
- Having a lockscreen
- Using third party app-sources
---etc..

[2018-10-05 19:40] commjoen commented on #1008
Research completed in #1010, will create another PR where the issue at hand will be fixed.

[2018-10-06 07:18] commjoen commented on #1008
@AninhaLemos sorry for the delay: basically, the testcase you are looking for is https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05h-Testing-Platform-Interaction.md#testing-custom-url-schemes . To get an overview of all of the issues were one has to do input sanitization, see the content now described/added in #1020

[2018-10-06 10:07] commjoen commented on #929
@shwetajoshi26 any updates?

[2018-10-06 10:12] commjoen commented on #922
Note that the android part needs updating as well: testcases for insecure key management and generation should be added to the existing testcase..

[2018-10-06 11:32] commjoen commented on #1018
So it turns out at iOS 12 it is not possible, i made a mistake and mixed up with mac os x 10.12 keychain apis...

[2018-10-06 14:15] commjoen opened #1023 "Q/A for 3 issues"
We need to get the Q/A done on the following delta, (to speed up the review process):
https://github.com/OWASP/owasp-mstg/compare/55ade23b765aeb09f945583ddd012db7891969ed...master

It covers:

- [x] #1019 MASVS 2.12 missing for Android and iOS (in 0x04 section..)
- [x] #1018 Testing the Device-Access-Security Policy is removed for iOS (to be researched) (as a counterpart for confirm credentials fo

[2018-10-06 14:18] commjoen commented on #1023
The issues that include in these changes are:
- #1019 MASVS 2.12 missing for Android and iOS (in 0x04 section..)
- #1018 Testing the Device-Access-Security Policy is removed for iOS (to be researched) (as a counterpart for confirm credentials for android)
- #1008 Testing Input Validation and Sanitization

Additionally the last chapter has been extended with a set of vulnerable applications to chec

[2018-10-07 21:03] commjoen commented on #928
Will combine this with possible input sanitization methods.

[2018-10-09 09:50] meetinthemiddle-be commented on #1001
I can help on this one. If nobody is taking that up, feel free to assign to me.

[2018-10-09 09:56] commjoen commented on #1001
The file is located in Heading off to Bay Area to present at @appsecusa
<https://twitter.com/appsecusa>. Excited to have this opportunity.

Share my story and hear from others as well.

#appsec #owasp #conference

Op di 9 okt. 2018 11:50 schreef meetinthemiddle-be <notifications@github.com

[2018-10-09 09:58] commjoen commented on #1001
Done

[2018-10-11 03:34] commjoen opened #1027 "Get a sponsorsection in the MASVS/MSTG/wiki and add NowSecure"
Given that Nowsecure bought a package, we need to add them to our pages.

- [ ] Add at github repository of MSTG
- [x] Add at github repository of MASVS (See https://github.com/OWASP/owasp-masvs/issues/138)
- [ ] Add at Owasp wiki after merge of https://github.com/OWASP/owasp-mstg/pull/1029  (e.g. copy paste frontispiece again to acknowledgements)

[2018-10-11 09:40] commjoen opened #1028 "Update Readme and frontispiece"
Given the additions of others & given the new sections we need to update the README.md and the frontispiece again.

[2018-10-11 09:43] commjoen commented on #1009
So it seems that https://mobile-security.gitbook.io/mobile-security-testing-guide/ is not always up to date, but this is still a manual step. It would be great if we can make travis, per commit to master, make a new version.

[2018-10-11 16:35] #1027 closed

[2018-10-11 16:41] commjoen commented on #1028
Fixed!

[2018-10-11 16:41] #1028 closed

[2018-10-12 07:58] CelloBin22 opened #1031 "QA - iOS Testing Local Authentication"
Noticed that in https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06f-Testing-Local-Authentication.md a reference to the OWASP MASVS is incorrect:

V4.8: "Biometric authentication, if any, is not event-bound (i.e. using an API that simply returns "true" or "false"). Instead, it is based on unlocking the keychain/keystore."

It should actually be 4.7 according to the v1.1 standard.

[2018-10-12 14:59] commjoen commented on #1031
Hi @CelloBin22 ,
Welcome to the MSTG project!
Thank you for your Q/A! You're totally right: in the MASVS pdf release (english) 1.1 we apparently made a mistake: 4.7 and 4.8 got mixed up. So in the MSTG, MASVS RU, MASVS ES it is correct... We will fix this soon 👍 .

[2018-10-12 15:01] commjoen commented on #1031
We will close the issue here, and continue at https://github.com/OWASP/owasp-masvs/issues/140 as it needs to be fixed there.

[2018-10-12 15:01] #1031 closed

[2018-10-12 22:53] #924 closed

[2018-10-13 16:42] #927 closed

[2018-10-13 18:02] commjoen commented on #1002
This is fixed in 1.0.2. Closing now

[2018-10-13 18:02] #1002 closed

[2018-10-13 19:03] anantshri commented on #997
A positive find seems like https://www.npmjs.com/package/docx-merger

Now to figure out if we can move to node fully as we are already using
nodejs for the first part. i.e. pdf. then we can get rid of whole pandoc
dependencies.

I will keep posting progress. Just so its clear the progress is posted so
that its not just kept with me and if someone more faster and knowledgable
then me gets time to s

[2018-10-14 14:36] commjoen commented on #1023
Thank you again @TheDauntless ! You rock as a reviewer!

[2018-10-14 14:36] #1023 closed

[2018-10-14 14:56] commjoen commented on #1009
Work and insturctions are finished for now. Once we hit 1.1.0 we will follow the new releaseproces.

[2018-10-14 14:56] #1009 closed

[2018-10-14 15:03] commjoen commented on #997
Some people like to have a doc format: so they can actually copy contents into their own standards body.

[2018-10-14 16:15] sushi2k commented on #1017
Unmanaged code is defined as C/C++ code

[2018-10-14 16:47] commjoen opened #1041 "Create testcase issues on data storage for Parse and CouchDB"
In our data storage chapters (see 0x05d for Android and 0x06d for iOS), we miss writeups for Parse and CouchDB.

As this is a good first issue, we would like to invite anyone to start working on the following:

- Explain how the storagemechanism works (so what does CouchDB and Parse do?) in the overview part. Explain what could go wrong: where do you have to pay attention to? Thing about how the s

[2018-10-14 18:58] sushi2k opened #1043 "Bettercap"
**Platform:**
iOS and Android

**Description:**
Replace the ettercap description and setup with bettercap in 0x04f-Testing-Network-communication.md and 0x05b-Basic-Security-Testing.md

Should also be referenced in 0x06b-Basic-Security-Testing.md

[2018-10-14 23:59] commjoen commented on #896
It might be a good idea to add that indeed having a proxied connection should be risky if no pinning is enabled.

[2018-10-15 00:44] #896 closed

[2018-10-15 15:56] commjoen commented on #939
Duplicate of #958. Can be closed now.

[2018-10-15 15:56] #939 closed

[2018-10-15 16:17] commjoen commented on #923
1. Update the Android section on the security provider given https://android-developers.googleblog.com/2016/06/security-crypto-provider-deprecated-in.html
2. Update the Android section based on https://android-developers.googleblog.com/2018/03/cryptography-changes-in-android-p.html
3. Update the Android section based on https://developer.android.com/about/versions/oreo/android-8.1
4.

[2018-10-15 16:43] commjoen commented on #923
Next, take care of #922

[2018-10-15 17:46] commjoen commented on #928
Fixed in #1045

[2018-10-15 17:46] #928 closed

[2018-10-16 14:04] commjoen commented on #947
Part of it is now dealt with while updating to #923 as we are revisitng the android parts in there as well a little bit.

[2018-10-16 15:51] commjoen commented on #947
It seems that all code should be checked for providerSelection. BC/SC recommendations should be removed and the urge for patching the security provider should be stringently underlined.

[2018-10-18 00:40] commjoen commented on #949
Include titan and thr Android blog about it

[2018-10-18 01:13] sushi2k opened #1046 "List down companies that are using MSTG/MASVS"
**Describe the issue**
We should list down companies that are using the MASVS/MSTG (this was feedback during the OWASP Project Review)

[2018-10-18 01:23] sushi2k opened #1047 "Automation of MASVS"
**Describe the issue**
We should reach out to Davide if he is interested writing about automation of the MASVS into the MSTG.

https://www.owasp.org/images/f/fb/V2_-_OWASP_Buscharest_Davide_Cioccia.pdf
https://github.com/ing-bank/bdd-mobile-security-automation-framework

[2018-10-20 22:13] sushi2k opened #1050 "Clean Git Repo"
**Describe the issue**
The github repo is using already 374MB. We should clean it:

https://stackoverflow.com/questions/2100907/how-to-remove-delete-a-large-file-from-commit-history-in-git-repository

[2018-10-23 19:12] NamiShuri commented on #963
I'd like to help tackle this issue.

[2018-10-23 19:36] commjoen commented on #963
Please accept the invite link send to you, so we can assign it to you :).

[2018-10-24 18:10] commjoen commented on #996
We have chosen to use the gitbook-cli to create the epub, mobi and pdf. This means that we have to manually update the book at leanpub... So it is now part of our release. Leanpub and gitbook show not wanting to collaborate. So will close this issue.

If people want to get the leanpub/mobi file without leanpub: check the readme saying ```
Clone the repository and run the gitbook generator. This pr

[2018-10-24 18:11] #996 closed

[2018-10-25 05:09] commjoen commented on #1047
I have send him an email, let's see what happens.

[2018-10-25 20:04] commjoen opened #1057 "Extend safetyned attestation for Android"
**Platform:**
Android
**Description:**
Extend safetyned attestation for Android and what you can do wrong/right.

[2018-10-25 20:58] commjoen commented on #947
note: we should incldue better key derivation functions, etc. as well..

[2018-10-28 06:56] meetinthemiddle-be commented on #1046
I'll ask my current client's CISO if they can be mentioned by name in this context. They're one of the bigger bio-pharma companies in Europe, so would be a nice reference.

[2018-10-28 07:02] commjoen commented on #1046
I will ask a few companies as well :)

[2018-10-28 16:34] joscandreu commented on #880
This kind of check is doable, just look at how rootkit detectors work, for instance: https://github.com/dgoulet/kjackal/blob/master/src/syscall.c
This should detect the tampered syscall function if the hook is done in a similar way as it is explained in the OWASP-MSTG, that is, swapping the pointers to the syscall functions.

[2018-10-28 20:40] commjoen commented on #1046
Feel free to list them here as well

[2018-10-28 20:41] commjoen commented on #1046
- [Infosec](Infosec.com.br)

[2018-10-29 15:17] #922 closed

[2018-10-29 15:17] #923 closed

[2018-10-29 22:10] coky-t opened #1060 "The type of CC license is inconsistent between documents."
It is described as CC BY-SA 3.0 in README.md and LICENSE file.
But in the text of 0x02-Frontispiece.md it is described as CC BY-SA 4.0 .
And in the image of 0x02-Frontispiece.md it is described as CC BY-NC-SA .

Which is BY-SA or BY-NC-SA correct ? What is the version number of CC ?

[2018-11-02 00:55] sushi2k commented on #1060
Thanks for pointing out this inconsistency @coky-t!

i just found that version 4.0 of CC is already out since 2013 https://creativecommons.org/share-your-work/licensing-considerations/version4/. It seems the intention of it is to have a more international focus compared to 3.0 that seems to have a more US focus. I am not a lawyer and have that in-depth knowledge about open source licenses, but I g

[2018-11-02 06:28] anantshri opened #1066 "Why are we pointing to commercial website instead of product page"
This issue is regarding Pull Requst : https://github.com/OWASP/owasp-mstg/pull/1062

Why are we pointing to specific website and not a particular product.
Its commercial and that should also be clearly noted if we care mixing free / opensource stuff with commercial entities.

Don't want OWASP-MSTG to grow into another promotion platform.

[2018-11-02 12:04] coky-t commented on #1060
I appreciate your research and consideration.
I have no objection to adopt 4.0 as well.

[2018-11-06 13:19] sushi2k opened #1068 "Security libraries removed from Testing Tools section"
**Describe the issue**
In the Testing Tools section we had a sub section called "Security libraries". This doesn't really fit into testing tools, as this section should describe tools that you can use for verifying vulnerabilites and analyse app.s

**Optional: Additional context**

I removed the following section. Either we create an additional chapter "Security libraries" that summarises differen

[2018-11-07 03:46] commjoen commented on #1068
There are tons of security libraries mentioned throughout the mstg. Maybe we can create a simple url overview of mentioned security libraries in version 1.2? (Summit release)

[2018-11-08 00:39] commjoen commented on #1060
@coky-t & @sushi2k: looks like this can be closed...

[2018-11-08 00:41] commjoen commented on #1060
Ah.. the masvs it's frontispiece is not done yet... then we're complete

[2018-11-08 12:13] commjoen commented on #1066
LGTM :).

[2018-11-08 12:15] coky-t commented on #1060
I have found another mistake.
The license image file has a .png extension, but since mstg's frontispiece is described as .jpg, the image is not displayed.

[2018-11-09 03:59] #1060 closed

[2018-11-12 00:44] sushi2k opened #1074 "OWASP Top 10 references are inconsistent"
**Describe the issue**
Every chapter has references and one of the references is going to OWASP Mobile Top 10. Some of the references are outdated and not aligned with the latest Top 10 from 2016 .

https://www.owasp.org/index.php/Mobile_Top_10_2016-Top_10

Als the structure should be consistent in the following way (Reference - URL):

- M5 - Insufficent Cryptography - https://www.owasp.org/index.

[2018-11-12 00:46] sushi2k commented on #1066
Done and closed https://github.com/OWASP/owasp-mstg/pull/1069

[2018-11-12 00:46] #1066 closed

[2018-11-16 17:06] Jnchi opened #1076 "0x05c Tampering and Reverse Engineering on Android: Update regarding latest angr release"
Under [Building a Reverse Engineering Environment for Free](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05c-Reverse-Engineering-and-Tampering.md#building-a-reverse-engineering-environment-for-free),

The new homepage is [angr.io](https://angr.io).

Then under [Installing Angr](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05c-Reverse-Engineering-and-Tampering.md#install

[2018-11-16 17:11] securityvoid commented on #1046
We use this as the initial basis of what we test at @CyberNinjas .

[2018-11-17 05:45] sushi2k commented on #804
Following scenario:

An error was reported https://www.gitbook.com/book/b-mueller/the-owasp-mobile-security-testing-guide/discussions/7 with the following configuration (which intents to remove all log statements before compiling, see also https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05d-Testing-Data-Storage.md#static-analysis-2):

[code]

I have added the gradle task in build.gradle

[2018-11-17 05:58] sushi2k commented on #1074
Unfortunately it's inconsistent. Good catch.
Use "Poor Code Quality" for M7.

[2018-11-17 06:02] sushi2k commented on #1074
Just merged your PR with "poor code quality". Thanks for that!  Then we can close this ticket. Now it's consistent.

[2018-11-17 06:02] #1074 closed

[2018-11-17 20:50] commjoen commented on #1076
Thank you for posting @Jnchi ! This sounds like something we should improve. And it seems an easy task as well. Therefore, I will mark it as a "Good first issue" so that it can be fixed for our next milestone.

[2018-11-17 21:24] commjoen commented on #804
You can use gradle (or the gradlewrapper) from the commandline and use --debug to see if the task is executed. Next, see https://stackoverflow.com/questions/46608832/testing-if-gradle-task-executed to write certain conditionals to verify whether it worked or not. In which codebase are you testing this? would love to assist you in there!

[2018-11-17 21:34] commjoen commented on #804
To further answer your question: the gradle task is not necessary; you just need to create a release with version with hte right proguard instructions. See https://stackoverflow.com/questions/2446248/how-to-remove-all-debug-logging-calls-before-publishing-app-to-google-play its accepted answer for more details.

[2018-11-18 22:07] commjoen commented on #1076
@Jnchi is the change proposed in #1080 enough?

[2018-11-20 21:42] commjoen commented on #1076
Closed by merging #1080

[2018-11-20 21:42] #1076 closed

[2018-11-21 05:55] sushi2k commented on #1068
Let's make this as part of release 1.2 so that all libraries mentioned in this ticket are mentioned at the right place in the MSTG.

[2018-11-21 06:05] sushi2k commented on #804
True, we were actually describing this already anyway in this chapter with  ProGuard.

I removed the gradle task now in the PR https://github.com/OWASP/owasp-mstg/pull/1081

[2018-11-21 06:54] commjoen commented on #929
The app should have:
- recommended compiler settings enabled (Stack canary, etc.)
- not be debuggable,

[2018-11-21 17:05] meetinthemiddle-be commented on #1046
I got a no-go from my current client's CISO on this front. It was worth a shot as that would've been a nice reference, but alas to no avail. I hope that we can get more names on this list though, so anyone who reads this: please try your best to convince your superiors to approve using their company name :)

[2018-11-28 07:15] commjoen commented on #804
Fixed :)

[2018-11-28 07:15] #804 closed

[2018-11-28 14:38] romualdszkudlarek commented on #929
@sushi2k I've just initiated a proposal (PR #1086 ). Feel free to develop it :-)

[2018-11-29 13:06] meetinthemiddle-be commented on #1001
Just an idea : Would it be an idea to work with intermediary "permalinks"? This keeps the flexibility in altering the URL's without breaking the links in the Excel checklist.

[2018-11-29 21:58] heheh111 commented on #979
Hey, this one should be solved I think? Went over the changed and resolved it.

[2018-11-30 09:02] commjoen commented on #929
Merged it to OWASP:929/debugging and will continue there today

[2018-11-30 12:07] #929 closed

[2018-12-02 06:58] commjoen opened #1089 "Improve reverse-engineering writup for iOS"
**Platform:**
iOS
**Description:**
Add stuff to it, like https://medium.com/0xcc/xcode-instruments-for-ios-reversing-and-abuse-dd73d72d87e2 (test it first before the write down ofcourse ;-))

[2018-12-02 06:58] commjoen commented on #1017
Detect it on android with https://github.com/pnfsoftware/jnihelper

[2018-12-07 00:56] NamiShuri commented on #963
I have made changes and it looks like you all can see them but I am not 100% sure. Please let me know if you have any issues. I apologize in advance.

[2018-12-07 10:49] commjoen commented on #1001
Let's create links to github with the tags :D

[2018-12-07 14:09] commjoen commented on #963
This can be closed now. Thank you @NamiShuri ! Feel free to pick up your next issue ;-). Let us know via Slack or Github what you want to do next :).

[2018-12-07 14:09] #963 closed

[2018-12-10 08:32] commjoen commented on #944
Let's not forget to include virustotal here :).

[2018-12-11 09:55] locpv-ibl opened #1098 "unclear sentence"
**Platform:**
Android
**Description:**
At the sentence `Verify that the kSecAccessControlUserPresence policy and kSecAttrAccessibleWhenPasscodeSetThisDeviceOnly protection classes are set when the SecAccessControlCreateWithFlags method is called.`

Which means if the app has SecAccessControlCreateWithFlags method calls those 2 policy and protection class are set, then the app will be able to avoid

[2018-12-11 11:42] commjoen commented on #1098
This looks indeed a bit conflicting, Let me have a look in there later this week/next week so we can make the write-up a bit better.
(note: I have changed the platform to iOS in your ticket as these look like iOS questions)

[2018-12-11 11:59] locpv-ibl commented on #1098
Thanks @commjoen

[2018-12-13 06:59] commjoen opened #1100 "Better Built up for the to be used TLS cipher settings"
Right now the section `##### Recommended TLS Settings` in 0x04f, we immediately focus on technical preparations of things, whereas it is better to first introduce the right information on where to find recommendations with TLS settings and ciphers in general: how should which TLS version be configured? And where do you look for for curves?

[2018-12-17 20:44] commjoen commented on #1098
It should be fixed in https://github.com/OWASP/owasp-mstg/pull/1101 . Can you doublecheck ? Indeed there are more protectionclasses usable here, apparently we did not jot it down complete in the past...

[2018-12-18 03:08] locpv-ibl commented on #1098
I did check it out! Really nice, and I think this should be sufficient.

[2018-12-20 11:43] meetinthemiddle-be opened #1103 "Mitigation of tapjacking / overlay attacks are not tested for"
**Platform:**
Android

**Description:**
Add a SAST that looks for ``filterTouchesWhenObscured``being set to ``true``, or that ``onFilterTouchEventForSecurity()`` is implemented (source : https://blog.devknox.io/tapjacking-android-prevent/ )

[2018-12-21 09:08] commjoen commented on #806
Any news on this @leonjza ?

[2018-12-21 09:09] commjoen commented on #806
Another nice item: Add stuff to it, like https://medium.com/0xcc/xcode-instruments-for-ios-reversing-and-abuse-dd73d72d87e2 (test it first before the write down ofcourse ;-))

[2018-12-21 09:09] commjoen commented on #1089
#806 covers this as well, let's close it.

[2018-12-21 09:09] #1089 closed

[2018-12-21 09:10] commjoen commented on #806
Added @cpholguera : maybe you can work together at it?

[2018-12-27 06:32] commjoen commented on #1100
Fixed in #1102 . Thank you @A-AFTAHI !

[2018-12-27 06:32] #1100 closed

[2018-12-30 19:08] commjoen commented on #970
Scheduled to be taken care of during the OSS2019! https://open-security-summit.org/working-sessions/mobile/restructure/

[2018-12-31 10:33] A-AFTAHI commented on #1001
I checked the checklist and found that some sentences are expressed diffrently from the MASVS and i'm not sure if these has to be changed. please check these examples to make sure everything is alright: 4.2, 4.7 and 5.2
thanks

[2019-01-02 07:19] dineshdinz commented on #1046
@Briskinfosec we are using the MASVS in our projects.

[Briskinfosec Technology and Consulting Pvt Ltd](https://www.briskinfosec.com/)

[2019-01-08 19:43] cpholguera opened #1110 "0x06h Testing for Sensitive Functionality Exposure Through IPC missing [iOS]"
While reviewing 0x06h I realized that "Testing for Sensitive Functionality Exposure Through IPC" is missing for iOS. Now I've seen that there was a [ticket](https://github.com/OWASP/owasp-mstg/issues/376) some time ago and it's closed. However the section in 0x06h is not present.

In addition, in 0x06h "Testing Custom URL Schemes" it is stated that "Apple offers two types of indirect communication

[2019-01-08 21:05] commjoen commented on #1110
This issue has been adressed partially in #925 as well. Can we close this issue and continue the discussion over there?

[2019-01-08 21:12] cpholguera commented on #1110
Sure!

El mar., 8 ene. 2019 22:05, Jeroen Willemsen <notifications@github.com>
escribió:

[2019-01-09 06:52] commjoen commented on #1110
Closed and will assign you #925

[2019-01-09 06:52] #1110 closed

[2019-01-09 06:52] commjoen commented on #925
Content of #1110 from @cpholguera : While reviewing 0x06h I realized that "Testing for Sensitive Functionality Exposure Through IPC" is missing for iOS. Now I've seen that there was a ticket some time ago and it's closed. However the section in 0x06h is not present.

In addition, in 0x06h "Testing Custom URL Schemes" it is stated that "Apple offers two types of indirect communication: file transfe

[2019-01-09 06:53] commjoen commented on #925
Can you add the UIActivity-based, App extensions and shared storage/keychain mechanisms to share info accross processes @cpholguera ?

[2019-01-10 08:04] commjoen commented on #952
We should include the Android 7.1 changes and onward (e.g.: if you want to pentest, yuou have to recompile the app with allowing user type certs (https://serializethoughts.com/2016/09/10/905/) )

[2019-01-10 08:53] commjoen opened #1111 "Upgrade network eavesdropping test description"
We should include the Android 7.1 changes and onward (e.g.: if you want to pentest, yuou have to recompile the app with allowing user type certs (https://serializethoughts.com/2016/09/10/905/) )

I guess we have to update 0x04f and 0x05g for this 🙂
(0x04f explain that for newer versions (android 7.1 and above) we have to check 0x05g and extend 0x05g for how to get the eavesdropping to work)

[2019-01-11 08:12] commjoen commented on #1015
- [ ] Add kottlin ap
- [ ] do paperwork for incorporating the playground into the omtg project

[2019-01-11 08:12] sushi2k commented on #1015
I will push the source code to the MSTG Github repo and also open source another Android Kotlin App.

[2019-01-11 09:26] commjoen opened #1113 "Add MSTG-RESILIENCE-7 and MSTG-RESILIENCE-8"
Add 8.7 and 8.8 for android and ios: show how you can delay the attacker or report tampering to the backend as a response to a tamper detected
8.7: The app implements multiple mechanisms in each defense category (8.1 to 8.6). Note that resiliency scales with the amount, diversity of the originality of the mechanisms used.
8.8: The detection mechanisms trigger responses of different types, includin

[2019-01-11 09:57] commjoen opened #1116 "Add missing reverse engineering testcases for iOS"
Add missing reverse engineering testcases for iOS given the following MASVS requirements:
- [ ] 8.4 The app detects, and responds to, the presence of widely used reverse engineering   tools and frameworks on the device.
- [ ] 8.5 The app   detects, and responds to, being run in an emulator.
- [ ] 8.6 The app   detects, and responds to, tampering the code and data in its own memory   space.
- [ ] 8

[2019-01-11 10:02] commjoen commented on #970
Don't forget to update the excel after this :)

[2019-01-12 08:57] A-AFTAHI commented on #1111
Don't you think that we should refer to 0x05b, which already presents how to hook the app with a proxy, so we will expend it to explain how to do it with Android  7+ ?
i'm a little bit confused because 0x05g also talks about the changes in Android 7+ network config changes.

[2019-01-13 18:52] commjoen commented on #1001
Beautifully done, all seems to make sense now.

[2019-01-13 18:52] #1001 closed

[2019-01-15 01:02] sushi2k commented on #1068
I didn't include https://github.com/guardianproject/TrustedIntents, as the repo is now 3 years old and not maintained.

[2019-01-15 02:48] sushi2k commented on #961
Hi @funky-monkey. Any update for this ticket? Are you still interested in adding Swift source code? It should also be now Swift 4.2 instead of 4.1

[2019-01-15 03:18] sushi2k commented on #806
I added objection already a while back to the reverse engineering chapter of iOS.
https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06c-Reverse-Engineering-and-Tampering.md#automated-repackaging-with-objection
As the documentation of objection is quite detailed and up-to-date I would suggest to reference to the Github Wiki of objection instead. Otherwise we duplicate documentation that wi

[2019-01-15 03:32] sushi2k commented on #1047
I just pinged him.

[2019-01-15 06:08] sushi2k commented on #892
@TheDauntless Was there any action taken for this ticket yet?

[2019-01-15 06:33] leonjza commented on #806
I think mention of some more features such as the easy return value modifier's for [iOS](https://github.com/sensepost/objection/blob/master/objection/console/helpfiles/ios.hooking.set.return_value.txt) and [Android](https://github.com/sensepost/objection/blob/master/objection/console/helpfiles/android.hooking.set.return_value.txt) (to name one) may also be worth touching on. Cases where one may ha

[2019-01-15 06:41] funky-monkey commented on #961
Yes still interested. I’ll pick this up asap

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Sven <notifications@github.com>
Sent: Tuesday, January 15, 2019 3:48 AM
To: OWASP/owasp-mstg
Cc: Sidney de Koning; Mention
Subject: Re: [OWASP/owasp-mstg] Upgrade all swift code to Swift 4.2 (#961)

Hi @funky-monkey<https://github.com/funky-monkey>. Any update for this t

[2019-01-15 13:08] sushi2k commented on #806
Thanks for the quick response! Sure, let's park this ticket for now and if there is any way a new version coming then it makes sense waiting for that.
We wanted to make the 1.2 release (this ticket is part of the 1.2 milestone) during the OWASP Summit in June 2019. Would be great if the description of the new features of objection would also be part of that.

[2019-01-18 05:05] commjoen commented on #1068
Is fixed in #1120

[2019-01-18 05:05] #1068 closed

[2019-01-19 17:42] commjoen commented on #1017
Android is fixed, will fix iOS in the next branch

[2019-01-21 10:13] commjoen commented on #1047
Thank you for joining the project @david3107 ! As you know, we were amazed by your work on the automation of the MASVS requirements! We would love to have some write up about it inside the MSTG, so that people can follow your lead in doing automated verifications :)

[2019-01-21 10:15] david3107 commented on #1047
Hey @commjoen thanks, you guys are doing an amazing jobs with the MSTG and MASVS. I will definitely put more content in the automation section.

[2019-01-22 03:04] 007divyachawla opened #1127 "Declared spelling mistake in the MSTG document"
**Describe the issue**
In Testing Data storage in Android section for Shared Preferences, this particular paragraph has one spelling mistake, please rectify it.

The SharedPreferences API is commonly used to permanently save small collections of key-value pairs. Data stored in a SharedPreferences object is written to a plain-text XML file. The SharedPreferences object can be **declated** world-rea

[2019-01-22 06:31] commjoen commented on #1127
Hi @007divyachawla , we have checked the full code on master and we cannot find the spelling issue anywhere. Can you show where you found the spelling mistake?

[2019-01-22 06:41] 007divyachawla commented on #1127
![image](https://user-images.githubusercontent.com/7563150/51516842-cac19280-1e3e-11e9-84ee-67d021a41dd5.png)

[2019-01-22 06:42] 007divyachawla commented on #1127
@commjoen I have attached the screen shot please refer to it.

[2019-01-22 06:42] commjoen commented on #1127
Thank you! Can you copy the url here? because then we know which repo to sync

[2019-01-22 06:43] 007divyachawla commented on #1127
https://sushi2k.gitbooks.io/the-owasp-mobile-security-testing-guide/content/0x05d-Testing-Data-Storage.html

[2019-01-22 06:44] 007divyachawla commented on #1127
i am reading from the sushi2k.gitbooks,io here is the link.

[2019-01-22 06:46] commjoen commented on #1127
Ah I see! Thank you for pointing out that gitbook. This one is very outdated (@sushi2k : can you have a look at it?).
If you want to read it from gitbook, for now please read it from https://mobile-security.gitbook.io/mobile-security-testing-guide/ as that one is way more up to date. Sorry for the inconvinience of having older versions online!

[2019-01-22 06:49] 007divyachawla commented on #1127
Thanks for the same and to provide the link to the new testing guide. This is latest one 2018, also could you please remove the old version for the same.

[2019-01-22 06:50] commjoen commented on #1127
@sushi2k manages this gitbook if I am not mistaken. I think he can pick it up :).

[2019-01-22 06:50] 007divyachawla commented on #1127
Sure thanks for the same.

[2019-01-22 06:54] commjoen commented on #1127
Let's keep it open for now until the gitbooks are sorted out ;-).

[2019-01-22 06:59] 007divyachawla commented on #1127
Sure i think it will be good.

[2019-01-22 07:47] 007divyachawla commented on #1127
@sushi2k please update the MSTG guide with the latest one.

[2019-01-22 14:20] funky-monkey commented on #961
Hi @sushi2k, @commjoen,

A lot has changed in my personal life and I need to focus on other things. I'm a little sad I can't pick this up. I hope you can find someone else to make this shine.

Cheers,
Sidney

[2019-01-22 14:58] sushi2k commented on #1127
So this is the link for gitbook that will contain all the updates:

https://mobile-security.gitbook.io/mobile-security-testing-guide/

The old one I just deleted.

[2019-01-22 14:58] #1127 closed

[2019-01-23 14:12] sushi2k commented on #934
Hi @kysokzla. Any update on the russian translation of the MSTG? Is this something you want to continue working on?

[2019-01-23 14:14] sushi2k commented on #1116
let me work on the following two:
8.4 The app detects, and responds to, the presence of widely used reverse engineering tools and frameworks on the device.
8.5 The app detects, and responds to, being run in an emulator.

[2019-01-23 14:21] sushi2k commented on #1113
I guess it would make sense to mention Safetynet for Android as one mechanism that could be used to achieve this (report tampering) https://developer.android.com/training/safetynet/

[2019-01-23 14:39] kysokzla commented on #934
@sushi2k i've corrected some typos , but didn't pull. Have no time for now. Maybe in future i would continue, but idea of writing main content seems more interesting because many topics could be improved. But again lack of time ...

[2019-01-23 14:40] #934 closed

[2019-01-24 08:17] commjoen commented on #1113
True :)

[2019-01-24 08:18] commjoen commented on #961
No worries! We will look for a new volunteer :)

[2019-01-24 14:13] commjoen commented on #1111
Finished in #1125, thank you @A-AFTAHI !

[2019-01-24 14:13] #1111 closed

[2019-01-31 01:34] sushi2k opened #1130 "/proc/self/maps for Frida library detection"
**Describe the issue**
it seems /proc/self/maps should be removed as a method for frida detection (at least when running as gadget). As an app will not have access to this information (pid would need to be known to access /proc/<pid>/self/maps where the frida-gadget can be found.
Need to be investigated further if detection in memory can be executed on recent android versions and if frida can be f

[2019-02-01 06:57] commjoen commented on #952
Thanks @A-AFTAHI !

[2019-02-01 06:57] #952 closed

[2019-02-08 09:14] TheDauntless commented on #1130
Has there been a change to the behaviour of Android in this regard? I can't immediately see something in https://developer.android.com/about/versions/pie/android-9.0-changes-all or https://developer.android.com/about/versions/oreo/android-8.0-changes and it works on Android 7.

Could you clarify the problem a little bit more?

[2019-02-09 13:49] sushi2k commented on #1130
Thanks @TheDauntless. If the app is running as gadget you can access /proc/<pid>/maps.

[code]

Can of course be bypassed by renaming the frida gadget.

If you want to go through /proc/self/maps it should work according to the POC from Bernhard: https://github.com/b-mueller/frida-detection-demo/. But I cannot build the app, https://github.com/b-mueller/frida-detection-demo/issues/5

[2019-02-09 13:52] sushi2k commented on #1130
Thanks Jeroen. I have now a very basic portscan within a demo  app

[code]

Can of course be easily bypassed by changing the port.

Bernhard has implemented the port scan more sophisticated with the NDK https://github.com/b-mueller/frida-detection-demo/

[2019-02-11 06:49] TheDauntless commented on #1046
My company also uses the MASVS during assessments:

* [NVISO CVBA](https://www.nviso.be)

[2019-02-13 05:38] sushi2k opened #1135 "New Encyrption Method called Adiantum"
**Platform:**
Android

**Description:**
New encryption method introduced with Android P called Adiantum for CPUs that lack support of AES:
https://source.android.com/security/encryption/adiantum
https://security.googleblog.com/2019/02/introducing-adiantum-encryption-for.html
https://tosc.iacr.org/index.php/ToSC/article/view/7360

[2019-02-17 22:47] sushi2k opened #1137 "List tools as references"
**Describe the issue**
The chapter "Setting up a Testing Environment for iOS" has no reference list at the end. Create a list of tools that are mentioned in this section as in https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05b-Basic-Security_Testing.md

[2019-02-21 08:25] galapogos opened #1139 "No MSTG-ID in MSTG checklist"
Unlike the OWASP OTG Testing Checklist (https://www.owasp.org/index.php/Testing_Checklist), the OWASP MSTG Checklist is lacking the "Category" field for the various checklist items. The category allows an easy descriptive reference to the tests instead of listing out the entire test name, e.g. referencing "OTG-INFO-001" instead of "Conduct Search Engine Discovery and Reconnaissance for Information

[2019-02-22 02:15] sushi2k commented on #1139
Thanks for pointing this out. We had references at the very beginning of the project (maybe 3 years back), but then got rid of it as the requirements in the MASVS were still changing a lot.

This would need to be defined in the MASVS, so I created a ticket there https://github.com/OWASP/owasp-masvs/issues/205. Once we have the references in the MASVS we can also add them to checklist.

[2019-02-24 13:10] commjoen commented on #957
Fixed in #1140. Thanks @aftahi!

[2019-02-24 13:10] #957 closed

[2019-02-26 09:59] galapogos opened #1145 "Screen mirroring detection"
**Platform:**
iOS, Android
**Description:**
I think there should be a testcase for detection of screen mirroring, as users could inadvertently be displaying sensitive information to another screen, especially wirelessly via RATs.

[2019-02-26 10:36] galapogos opened #1146 "Ways to detect Magisk"
**Describe the issue**
The test cases for root detection do not seem to be able to detect the latest Magisk (18.1) with Magisk Hide and Hide Magisk Manager enabled. Are there any ways to detect this?

[2019-02-26 20:21] commjoen commented on #1145
@galapogos that sounds like a cool idea! But how can you detect that?

[2019-02-27 01:42] galapogos commented on #1145
@commjoen there are several ways. In Android, the best way I know of is to check DisplayManager.getDisplays(), and see if it's >1. If so, there's more than 1 screen, which indicates that screen mirroring is running.

[2019-02-27 05:46] commjoen commented on #1145
Sounds like a nice departure point!

[2019-02-27 06:32] galapogos commented on #1145
I have not tried on iOS, but a quick google search would suggest that it's possible - https://developer.apple.com/documentation/uikit/uiscreen/1617829-mirrored
It might be a new item under "Data Storage and Privacy", similar to 2.9. I think should apply only to Level 2.

[2019-03-05 10:39] TheDauntless commented on #1146
Hardly.

What kind of works is getting an application listing and checking the app names. The package name is randomised, but the application name (Magisk Manager) isn't.

[2019-03-05 10:43] galapogos commented on #1146
AFAIK, along with randomizing the package name, the app name is also
renamed to simply "Manager". Detecting this may increase false positives
due to its generic nature.

On Tue, Mar 5, 2019, 18:39 Jeroen Beckers <notifications@github.com> wrote:

[2019-03-05 10:44] TheDauntless commented on #1130
@sushi2k  you wrote:

Either I'm still not getting it, or you agree that it shouldn't be removed and it's still a possible way to detect it?

Or is there actually a difference between self and PID ?

[2019-03-05 10:47] TheDauntless commented on #1146
I did not verify, so this is possible :). It would indeed increase FP rate.

But detecting Magisk itself is very difficult. The author has stated that he knows of several ways to do it, but he will only add those defences once SafetyNet finds them. (Quote from at least a year ago)

[2019-03-05 11:47] rubaljain commented on #901
Step by step process & scripts to be used to bypass the Jailbreak detection mechanism in the iOS application using Frida.

https://github.com/rubaljain/frida-jb-bypass

[2019-03-07 07:06] commjoen commented on #1057
Fixed in #1057

[2019-03-07 07:06] #1057 closed

[2019-03-07 07:12] commjoen commented on #1137
Is fixed in #1143

[2019-03-07 07:12] #1137 closed

[2019-03-07 21:21] commjoen opened #1154 "Update cover image with high res image"
Update cover image with high res image

[2019-03-08 16:26] commjoen opened #1156 "book issues"
This issue covers all the issues we might need to fix for the actual print:

- [x] make sure that the changelog has the same typefont
- [x] make sure that the index actually contains pagenumbers instead of sections.
**[Sven] I couldn't find anything in the gitbook documenation, but it can be done with CSS, see http://support.typora.io/Auto-Numbering/. Thanks @ThunderSon for the tip!**
- [x] make t

[2019-03-09 08:06] 51j0 commented on #892
@TheDauntless Are we done with this?

[2019-03-11 07:27] galapogos commented on #1146
Thanks. Referencing V8 of OWASP_Mobile_AppSec_Verification_Standard_1.1.3_Document, there is a line that says "For any of the controls in the list below to be effective, the app must fulfil at least all of MASVS-L1 (i.e., solid security controls must be in place), as well as all lower-numbered requirements in V8. For examples, the obfuscation controls listed in under "impede comprehension" must be

[2019-03-11 07:31] commjoen commented on #1146
Good point :), i guess this will be a cat and mouse game that can be played :).

[2019-03-11 23:01] sushi2k commented on #1130
An App doesn't have access anymore to /proc/self/maps since Android 7.0, but it can still access /proc/<PID>/maps. That was the result when testing on a non rooted phone

[2019-03-17 20:05] commjoen commented on #960
Fixed in #1150

[2019-03-17 20:05] #960 closed

[2019-03-17 20:07] commjoen commented on #958
Fixed in #1147

[2019-03-17 20:33] commjoen commented on #1154
Fixed in #1159

[2019-03-17 20:33] #1154 closed

[2019-03-20 15:38] commjoen commented on #901
Thanks @rubaljain ! Can we reference to this in the MSTG?

[2019-03-20 15:49] rubaljain commented on #901
Hi Jeroen,

Sure, you can create a reference to it. I would further love to contribute
in MSTG.

Let me know in case you have any further requirement.

Thanks,
Rubal

On Wed, 20 Mar, 2019, 9:08 PM Jeroen Willemsen, <notifications@github.com>
wrote:

[2019-03-20 17:02] commjoen opened #1160 "iOS: update the network testing stack where necessary"
**Platform:**
iOS
**Description:**
In https://developer.apple.com/ios/whats-new/ we see the upgrade of the network framework . This means it is a good idea to update the network related portion if it comes to interception and pinning: https://developer.apple.com/documentation/network. Next, we have to doublecheck if urlsession had any changes due to that and make sure that is covered as well  http

[2019-03-20 17:02] commjoen commented on #1160
(to be updated)

[2019-03-20 17:02] commjoen commented on #1160
https://developer.apple.com/documentation/foundation/urlsession

[2019-03-20 17:03] commjoen commented on #1160
https://developer.apple.com/documentation/network

[2019-03-21 06:40] commjoen opened #1161 "iOS 12: make sure you only use identifierForVendor and instanceID"
Check the MSTG and make sure we only identify using :  https://developer.apple.com/documentation/uikit/uidevice/1620059-identifierforvendor

See https://developer.apple.com/documentation/devicecheck as well

[2019-03-21 07:23] commjoen opened #1162 "iOS 12 update: update on password management & credential/session sharing"
given iOS 12, there are a few best practices that app developers should embrace, which we should test for to make sure that password generation, usage, etc. is done correctly. This should be part of platform integration. Some pointers:
- https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession
- https://developer.apple.com/documentation/security/password_autofill

[2019-03-21 10:11] commjoen opened #1163 "iOS and Android: improve platform interaction on notifications"
One thing we might want to add to the MSTG is that we should, optionally, try to limit the information shared through notifications when they have a high confidentiality.

[2019-03-21 10:12] commjoen commented on #1163
https://developer.apple.com/notifications/

[2019-03-21 10:12] commjoen commented on #1163
@sushi2k : i guess we can do the same for Android right?

[2019-03-21 10:13] commjoen opened #1164 "iOS: update writeups on using a connected iDEvice to require passcode unlock at iOS 12"
iOS: update writeups on using a connected iDEvice to require passcode unlock at iOS 12

[2019-03-21 10:13] commjoen commented on #911
All issues have been created which are good to have. we will skip corellium for now as we still do not have access.

[2019-03-21 10:13] #911 closed

[2019-03-25 07:24] TheDauntless opened #1166 "Style guide for test cases"
While reviewing the 0x06h PR, I was wondering what kind of style we want to use for the test cases. Active? Passive? Targeted at the reader? Together with the reader?

A few options (don't mind the content ;) ):

I'm personally a fan of the 2nd, as I don't like using "you" in these explanations. I took a look at the owasp testing guide, but they seem to use different styles. Sometimes they speak a

[2019-04-01 05:18] commjoen commented on #1166
Vey good issue! I like the 2nd person (you) and active voice. This can make sentences short and readable. What do you think @sushi2k ?

[2019-04-03 05:31] sushi2k commented on #1166
Definitely also prefer the 2nd one. This is much more to the point. I tend to do it in various ways I think, but usually like the 1st one, targeting the reader.
We should then also update the style guide, so that

[2019-04-03 13:00] TheDauntless commented on #1166
@commjoen Was talking about the 2nd person (=1st example) while @sushi2k you choose the 2nd example. So... discuss ? ;)

I'm also in favour of the 2nd example by the way.

[2019-04-04 00:53] sushi2k commented on #1166
I was just going through a few sections and it seems usually we were using 2nd person and it reads quite well (but maybe I am now just used to it and spoiled ;-) )and fit's it's purpose the best. As these are technical instructions that should be executed by the reader I think addressing him/her directly with "you" in an active voice is the best for that.

[2019-04-08 08:56] YoonChangKIM opened #1169 "iOS Anti-Reversing Defenses - Anti-Debugging Checks"
**Platform:**
iOS
**Description:**
I have test with 'Anti-Debugging Cehcks' part.
But, I can't detect attaching frida on my app by using ptrace and sysctl...
It can't be do?
Please, teach me.

[2019-04-09 07:39] shivsahni opened #1170 "Android: Usage of Device Identifiers for Encryption Key?"
**MSTG Suggests Usage of Device Identifiers For Encryption Key**
The "Testing Device Binding" section in chapter 0x05j suggests the following:

I believe it is an insecure practice for encryption key generation. The device identifiers should never be directly used in the security context such as generation of encryption key since the values like IMEI, Android ID, Device ID can be easily obtained b

[2019-04-09 07:51] commjoen commented on #1169
Hi @YoonChangKIM ! Welcome to the MSTG! Sooo what is exactly your issue? If you seek guidance, have you tried connecting with us on Slack? because that makes understanding the issue you face a little more easier :).

[2019-04-09 07:56] YoonChangKIM commented on #1169
Hi, @commjoen .
How to prevent attaching frida on my app?
Using ptrace and sysctl doesn't work.

[2019-04-09 07:56] commjoen commented on #1170
Hi @shivsahni ! Welcome to the MSTG! Basically the item you touch is not about the actual encryption, it is about binding certain assets to a device. That is why we do not say that we are encrypting data on the device, but we are obfuscating the data. We are not trying to secure the data, we are simply trying to bind the data to the device.

If you still want to pull-request, we could indeed enric

[2019-04-09 09:08] Ingan121 commented on #1146
It looks like Uncrackable Level 3 can detect latest Magisk (19.0).

[2019-04-09 09:29] commjoen commented on #1146
Seems like a nice possibility to extend the writeup based on lvl 3? Who wants in :) ?

[2019-04-09 09:33] galapogos commented on #1146
Any idea how they do it?

[2019-04-09 09:40] Ingan121 commented on #1146
It beats those two at least for me... but it might not be a problem related to Magisk root since there are 3 root checks, integrity checks (is app debuggable), and library tamper check. I looked into those 3 root detections, but all of them should be hidden by MagiskHide or not present in normal Magisk installation.

[2019-04-09 10:30] TheDauntless commented on #1146
Level 3 doesn't detect Magisk, it's just broken.

`04-09 12:21:48.936   5731     5731           UnCrackable3  V  CRC[lib/arm64-v8a/libfoo.so] = 2268200259
04-09 12:21:48.936   5731     5731           UnCrackable3  V  CRC[lib/x86_64/libfoo.so] = 1483140570
04-09 12:21:48.937   5731     5731           UnCrackable3  V  CRC[lib/armeabi-v7a/libfoo.so] = 2867094050
04-09 12:21:48.937   5731     5731

[2019-04-09 10:34] TheDauntless opened #1171 "Level3 detects root on non-rooted devices"
**Describe the bug**
Running the Level 3 app on a non rooted device shows the "Root detected" popup and then quits.

The check that fails is the CRC check on classes.dex, which probably wasn't updated with the last revision of the app. The CRC should be "275e7af8", but the application flags this as the wrong CRC:

`04-09 12:21:48.936   5731     5731           UnCrackable3  V  CRC[lib/arm64-v8a/lib

[2019-04-09 11:10] commjoen commented on #1169
Can you be a bit broader on which ios/android version you are trying to prevent this? Please note that the attacker can rename hte process name all hte time so eventually there is no closing detection scheme based on proces name, all you could do then is check if there are certain symbols available..

[2019-04-09 11:12] commjoen commented on #1171
Hi @TheDauntless ! Thank you for your bug submission, we will have a look soon, when we can find some time (given that both @sushi2k & me are at a terrible busy schedule at this point in time). If you want to, you can have a check as well @ https://github.com/commjoen/uncrackable_app and see if i did something wrong there...

[2019-04-09 11:18] commjoen commented on #1146
So i guess we have to fix it... will not have time to validate now unfortunately, hope to find time soon! See #1171

[2019-04-09 19:52] commjoen commented on #1169
Basically, as discussed on slack: you cannot prevent it, you can only detect it partially when you check the running processes... again : it depends on the method and os version...

[2019-04-10 02:27] shivsahni commented on #1170
Hi @commjoen,

Thank you for the prompt response. I do understand that the section under discussion is not pertaining to the secure data storage and instead device binding. However, since we suggest MSTG as the bible of mobile application security to developers/security analysts, we should remove the space for ambiguities.

I think we should not suggest encrypting the data using device identifiers

[2019-04-10 04:56] commjoen commented on #1170
Given our discussion I do agree that we need to reword it, but this section is not about secure storage: it is about device binding ;-).

[2019-04-10 05:07] commjoen commented on #1169
Does this answer your question? Or would it be a nice idea to dive into the details of Frida together in order to understand what is happening so you can make a more detailed write up on detection in return :)?

[2019-04-10 05:16] YoonChangKIM commented on #1169
I realized there are not absolutely skill for anti-debugging.
Thank you for your kind answer.

[2019-04-10 05:16] #1169 closed

[2019-04-10 05:17] sushi2k commented on #1170
@shivsahni I do understand your point, but the goal of using encryption in this scenario is purely to bind the app to the device and not protect the confidentiality of the data.
Instead of following up a discussion here, do you want to create a PR that makes this clear to avoid any ambiguities?

[2019-04-10 05:19] commjoen commented on #1170
Perhaps another nice idea to extend the binding next to the keystore would be to use aes gcm based on envelope encryption (with the private key in the keychain) and the authentication data using device identifiers...

[2019-04-10 06:59] shivsahni commented on #1170
@sushi2k, I'll do that.

@commjoen, I didn't get the idea you are trying to explain. Can you please elaborate on it?

[2019-04-10 07:21] commjoen opened #1174 "update oauth2 for native apps :)"
Enhance Oauth 2 recommendations based on the evaluations of https://tools.ietf.org/html/rfc8252

[2019-04-15 19:46] TheDauntless commented on #954
I'm probably missing something, but how exactly can you test this as a developer?

I can only end up at DISALLOW_INSTALL_UNKNOWN_SOURCES_GLOBALLY, but that only tells you if the global policy is true / false. If it's "true", it could still either be checked or unchecked, it's just not enforced by a device policy.

[2019-04-18 11:04] joscandreu commented on #1135
I'd like to contribute on this topic. However I think that an in-depth review of Adiantum would not fit in the scope of mstg, since all the available information seems to be focused on implementing it on the Android platform, which is a task to be done by vendors or at most by ROM hackers given that it implies applying patches to the kernel and to AOSP images and recompiling them.
I propose to wri

[2019-04-18 23:50] sushi2k opened #1181 "Update 0x05a-Platform-Overview"
**Describe the issue**
0x05a-Platform-Overview is talking mainly about Dalvik (line 142 onwards) instead of ART. We should emphasise ART more in this section and should update it.

Also the picture Images/Chapters/0x05a/java_vs_dalvik.png should be updated to ART instead of Dalvik.

Maybe can also use this one (I created it a while back for a training):

![image](https://user-images.githubusercont

[2019-04-20 17:09] Shivam-Beeyani commented on #877
That invite is no longer active. Can you provide it again?

[2019-04-21 05:03] commjoen commented on #1135
I would say: let's try to indeed keep it in the context of the android platform: e.g.: where/when do you use it and what parameters should you look for?

[2019-04-21 05:05] commjoen commented on #1135
@joscandreu : I have sent you a github invite so we can assign this issue to you :)

[2019-04-21 05:10] commjoen commented on #1170
Basically, what we can do is use "proper encryption" and make it more device binding:
1. create a public private keypair stored in the AndroidKeystore or in the Keychain (https://developer.android.com/reference/android/security/KeyChain)
2. generate a random AES key
3. encrypt the AES key with that keypair created in 1
4. now use AES GCM to encrypt the data at hand, but do use the Android applicat

[2019-04-21 05:10] commjoen commented on #1166
Closing this given #1177

[2019-04-21 05:10] #1166 closed

[2019-04-21 05:20] commjoen commented on #877
https://join.slack.com/t/owasp/shared_invite/enQtNjExMTc3MTg0MzU4LTViMDg1MmJiMzMwZGUxZjgxZWQ1MTE0NTBlOTBhNjhhZDIzZTZiNmEwOTJlYjdkMzAxMGVhNDkwNDNiNjZiOWQ

[2019-04-21 09:54] joscandreu commented on #1135
Invitation accepted :)

[2019-04-22 05:17] commjoen commented on #1135
Thanks! Issue assigned :)

[2019-04-22 12:53] cpholguera opened #1182 "0x06h UIActivity Sharing Section Re-work"
This issue refers to the built-in sharing mechanisms in the UIActivity Sharing section. Here's the discussion from a previous [PR](https://github.com/OWASP/owasp-mstg/pull/1158). We can keep the discussion here separately to have a better overview and common understanding.

[code]

[2019-04-22 12:57] cpholguera opened #1183 "0x06h App Extensions Discussion"
This issue is about getting on the same page about testing App Extensions.

These are the comments from the original [PR](https://github.com/OWASP/owasp-mstg/pull/1158):

[code]

Concretely about the items on the static analysis:

[code]

[2019-04-23 05:59] commjoen opened #1184 "0x6h: update MASVS references"
Given the various topics discussed in 0x6h we need to update the references to the masvs.

[2019-04-23 07:24] sushi2k opened #1185 "0x06h - Aquiring the app binary to 0x06b"
**Describe the issue**
"###### Acquiring the App Binary" should be part of 0x06b as it describes a generic approach of how to get the app binary
https://github.com/OWASP/owasp-mstg/pull/1158/files#diff-c9f2ccf4f6a5979b995232e65803555eR223

[2019-04-23 08:04] sushi2k opened #1186 "Update 0x08-Testing Tools"
**Describe the issue**
The links in 0x08-Testing Tools need to be changed so they can be read in the printed version of the MSTG.

Instead of:
- [Frida](https://www.frida.re) - The toolkit works using a client-server model and lets you inject into running processes on Android and iOS.

We should change it to:
- Frida: The toolkit works using a client-server model and lets you inject into running p

[2019-04-23 14:44] TheDauntless commented on #970
Will we move to make a direct link between MASVS and MSTG? Just like ASVS and the security testing guide?

For a very large part of the content, this would make good sense.

[2019-04-28 05:28] commjoen commented on #1146
Fixing might take a little longer, sorry for that. But i guess we will get somewhere before or during the upcoming open-security summit ...

[2019-04-29 05:36] DimaKoz opened #1189 "How to prevent tampering signatures of APK-files using C"
You can add to this book a description about tampering apk keys by nkstool and my solution how to prevent that.
You can see a more detailed description here:
 https://github.com/DimaKoz/stunning-signature/blob/master/README.md

[2019-04-29 06:27] commjoen commented on #1189
Hi @DimaKoz , nice writeup and nice suggestion. Would you like to give it a shot yourself?

[2019-04-29 08:45] DimaKoz commented on #1189
Yes, I'd like to. I'm going to prepare a contribution related to my research and create a new pull request.

[2019-04-29 08:45] commjoen commented on #1189
Awesome! Looking forward to it 👍

[2019-05-01 02:17] sushi2k commented on #1156
Couldn't find anything to remove the empty pages in the book. It seems that when the end of the chapter almost reached the end of the page, the subsequent page is empty.
Also couldn't find anything that would show the page numbers in the TOC :-(

[2019-05-01 02:17] sushi2k commented on #1156
Will work on the titles in the 5th and 6th level, so that this is fixed and can be recognised as titles

[2019-05-01 02:29] sushi2k commented on #1163
Definitely worth mentioning it and describe how to test for it. I also just thought 0x05h and 0x06h is the best place for it, but which MASVS requirement does it touch? Nothing in V6: Platform Interaction Requirements covers it actually https://github.com/OWASP/owasp-masvs/blob/master/Document/0x11-V6-Interaction_with_the_environment.md. Need to think about which requirement it is related to.

May

[2019-05-05 14:25] cpholguera commented on #1183
@commjoen let's try to get to the same page. Could you please give me some input here?

We have these open points:

1. Your comment about "MiTMing given the mixed content", I think it was really referring to another section ("Testing for Mixed Content" maybe? It is part of "Testing iOS WebViews").
    - If yes, we should discuss this separately. I think what you might be missing over there is some

[2019-05-05 14:39] cpholguera commented on #925
@commjoen should we close this issue now?

[2019-05-05 14:42] cpholguera commented on #1184
Should we add the following to the "#### OWASP MASVS" section of 0x06h?

- V6.2: "All inputs from external sources and the user are validated and if necessary sanitized. This includes data received via the UI, IPC mechanisms such as intents, custom URLs, and network sources."
- V6.4: "The app does not export sensitive functionality through IPC facilities, unless these mechanisms are properly prote

[2019-05-05 15:12] cpholguera commented on #1186
@sushi2k I can take over this, is it OK for you?

[2019-05-06 06:57] commjoen commented on #1184
At least, let's doublecheck which others as well :)

[2019-05-06 06:57] commjoen commented on #925
Closed in favor of https://github.com/OWASP/owasp-mstg/issues/1184

[2019-05-06 06:57] #925 closed

[2019-05-06 15:20] MadhanKumarasamy opened #1194 "Measuring text is improper in linux environment"
**Describe the bug**
Measuring text is improper in Linux environment.

**To Reproduce**
Steps to reproduce the behavior:
var paint = new SKPaint();
var bounds = new SKRect();
float width = paint.MeasureText("Location", ref bounds);

**Expected behavior**
we want same width for the text in both windows and Linux environment

[2019-05-06 15:36] commjoen commented on #1194
Hi @MadhanKumarasamy ! Welcome to the MSTG. I don't think this issue is part of the Mobile Security Testing Guide as SKPaint (Skia paint library?) is not really part of the MSTG. Shall we close this issue?

[2019-05-07 04:27] commjoen commented on #1163
I guess so :) , that sounds like a good requirement to base it on :)

[2019-05-07 04:54] commjoen commented on #1183
I guess most of the discussion went in odd directions due to the size of the MR and me not overseeing what was happening exactly ^^. Sorry about that!
1. That sounds like a nice idea in a separate ticket, but not very high prio to me.
2.: For now I am not missing anything other than how can we misuse an app extension in terms of input provided from the extension towards the process via the shared

[2019-05-07 05:24] #1194 closed

[2019-05-07 06:04] commjoen opened #1195 "Missing MASVS references"
We are missing references to :
- [x] V1.X of the MASVS: these still need to be added somewhere? More specifically still to do:

- [x] V1.8: "There is an explicit policy for how cryptographic keys (if any) are managed, and the lifecycle of cryptographic keys is enforced. Ideally, follow a key management standard such as NIST SP 800-57."
     - NIST SP 800-57 Part 1 Rev. 4: https://csrc.nist.gov/pub

[2019-05-07 06:18] commjoen commented on #1184
Let's add at least these :)

[2019-05-07 06:20] cpholguera commented on #1184
6.2+6.4, sure. Will do ;)

[2019-05-07 19:14] TheDauntless commented on #892
This issue can be closed (but I don't have those rights)

[2019-05-07 19:18] commjoen commented on #892
Closing it. Thanks!

[2019-05-07 19:18] #892 closed

[2019-05-07 19:25] TheDauntless commented on #901
The script referenced above only works for the DamnVulnerable iOS app so I don't think we need to reference it.

I suggest we reference to objection's jailbreak bypass script, as it makes more sense to have people contribute to it there, than to have to update a very long script in a testing guide:

https://github.com/sensepost/objection/blob/master/agent/src/ios/jailbreak.ts

If that's ok with yo

[2019-05-07 19:38] TheDauntless commented on #950
@commjoen Close please

[2019-05-07 19:43] TheDauntless commented on #951
@commjoen You can close this, as it was added in https://github.com/OWASP/owasp-mstg/commit/f2e6ff115634e1afee1f045c0317c5bcc905edb7

[2019-05-07 19:45] TheDauntless commented on #956
@commjoen Close please

[2019-05-08 08:30] sushi2k opened #1196 "Address issues in tools section"
**Describe the issue**
There are some issues in the tools section that need to be rewritten . See Jeroen Becker’s comments in the PR

https://github.com/OWASP/owasp-mstg/pull/1106#merged-event

[2019-05-10 06:05] commjoen commented on #1184
Fill fix it for now :)

[2019-05-10 06:31] commjoen commented on #1185
Fixed in #1158

[2019-05-10 06:32] commjoen commented on #1184
Fixed it in #1199

[2019-05-10 06:32] #1184 closed

[2019-05-10 09:53] sushi2k opened #1201 "Slow down attack’s on Android keystore via side channel attacks"
**Describe the issue**
Remediation of a new attack form NCC against Qualcomm backed key stores should be added to MSTG.

https://www.nccgroup.trust/us/our-research/private-key-extraction-qualcomm-keystore/

[2019-05-10 16:59] commjoen commented on #1043
Fixed ib #1197 and #1187

[2019-05-10 16:59] #1043 closed

[2019-05-11 03:34] sushi2k commented on #1196
Updated in https://github.com/OWASP/owasp-mstg/pull/1197

[2019-05-11 03:34] #1196 closed

[2019-05-11 13:56] commjoen commented on #1186
Fixed with #1197

[2019-05-11 13:56] #1186 closed

[2019-05-12 13:27] shivsahni commented on #1170
Thanks for the description @commjoen, I have made the required changes, please go through it and suggest if we need to make any further improvements.

[2019-05-13 05:16] commjoen opened #1203 "Android: Extend platform overview with instant apps"
Android: Extend platform overview with app-bundles and instant apps (e.g. what to look for in instant apps/app-bundles , security mistakes, etc.)

[2019-05-13 05:43] commjoen opened #1204 "Create code of conduct / contribution guidelines"
- [x] have a code of conduct
- [x] have a how to contribute
- [x] have clean markdown
- [x] have markdown automation support
- [x] have statistics on number of dead links and numer of issues with markdown reported back to the PR by travis: https://damien.pobel.fr/post/github-api-from-travisci/

Given the success of our project, we need to start creating a code of conduct / contribution guidelines

[2019-05-13 05:49] commjoen commented on #1047
@david3107 any updates on this :) ?

[2019-05-13 05:50] commjoen commented on #1046
@sushi2k / @TheDauntless : question is now: where do we put this :) ?

[2019-05-13 05:56] commjoen commented on #1203
The signing part (next to sigingin v3), will include appbundles with studio 3.2, which means: signing happens in the store.

[2019-05-13 06:12] cpholguera commented on #1204
We could also highlight there that the code snippets must be well tested and maybe give some hints on the target apps people is allowed to use, e.g. open source apps, give preference to the hacking playground app or other OWASP apps like iGoat

[2019-05-13 06:15] rubaljain commented on #901
Yes, we can do that. However, in case objection fails to bypass the
Jailbreak detection then my script can be used wherein the user has to
manually provide the class and method name.

On Wed, May 8, 2019 at 12:55 AM Jeroen Beckers <notifications@github.com>
wrote:

--
Regards
Rubal Jain

[2019-05-13 06:20] TheDauntless commented on #1046
I suggest on the FrontisPiece, as that's the place where other commercial companies are listed.

But maybe that's too prominent?

[2019-05-13 09:02] commjoen commented on #1195
Can be closed after #1200 is merged.

[2019-05-13 11:07] sushi2k commented on #1204
Very good points and full ACK! Let's finish this before the summit

[2019-05-13 11:07] commjoen commented on #1204
Will start a pR soon :)

[2019-05-13 13:47] commjoen commented on #1195
References complete, still have to fix #1199, but it has its own issue, and #1116 will need its own attention

[2019-05-13 13:47] #1195 closed

[2019-05-13 15:26] commjoen commented on #1204
Maybe nice, similar to https://github.com/OWASP/CheatSheetSeries/blob/master/CONTRIBUTING.md to have a definition of how we want to see the markdown configured? (thanks @jmanico  for the good example! We are happy to follow a proper path :D )

[2019-05-14 07:37] commjoen commented on #958
After discussion with @shivsahni we can extend it a bit more to:
- [ ] Explain key attestation in Android
- [ ] Show how it can be used a bit more detailed

[2019-05-14 16:44] TheDauntless opened #1207 "Remove reference to yahoo weather service in 0x04h - Code quality"
The 0x04h page currently discusses the Yahoo weather app as an example of SQL injection.

As the original blogpost is no longer available online, and since we don't want to showcase vulnerabilities on commercial applications, this should be rewritten.

[2019-05-15 15:50] commjoen commented on #1204
Clean markdown only needs a decision on usage of ** as header and how to use links

[2019-05-16 09:56] commjoen commented on #970
I think having direct links (excel file? and masvs?) will make sense. Moreover, some of the stuff is still os-dependent, while it might make more sense to say that these items can be written for both os's as well. The challenge is still a bit for some of the content: where should it go to (for instance: teh static analysis which should be moved out: where to?)

[2019-05-16 11:44] #1204 closed

[2019-05-17 05:02] #1017 closed

[2019-05-17 05:17] commjoen commented on #961
So with swift 5 we have to update it again ;-)

[2019-05-17 05:21] commjoen commented on #1046
My suggestion would be to put it as part of the README.md :).

[2019-05-17 19:41] commjoen commented on #970
what i think is still pretty important, is to keep the restructuring as fast and as painless as possible: let's first reuse existing content and restructure BEFORE we are going to write a lot of new content :),. this way other people adding content will not introduce a lot of merging conflicts.

[2019-05-17 19:45] commjoen commented on #1207
What if we instead use https://blog.ostorlab.co/android-sql-contentProvider-sql-injections.html ? then we can still use the example.

[2019-05-21 10:06] sushi2k commented on #1046
I also think readme would be sufficient. Let's keep the companies in the frontispiece that are supporting us actively.

[2019-05-21 10:08] commjoen commented on #1046
Readme.md it is 👍

[2019-05-21 22:21] commjoen opened #1216 "epub issues in leanpub"
AFter the book fixes, we end up with the following issues from leanpub on our epub format:
[code]

[2019-05-21 22:24] commjoen commented on #1216
Basically it means we have to use real markdown URL markup , alt in img tags and then see if it works again.

[2019-05-22 05:53] TheDauntless commented on #1216
You can test with this library: https://github.com/w3c/epubcheck/releases

` java -jar epubcheck.jar ../owasp-mstg/Generated/MSTG-EN.epub`

I fixed a few, but I have no idea why the following is still not working correctly:

[code]

They should be easy fixes, but my computer isn't cooperating today :).

Can someone take a look? It's basically 3 lines that need to be edited...

[2019-05-22 07:52] commjoen commented on #1216
(done)

[2019-05-22 15:36] mkuivenhoven opened #1217 "OWASP slack link has expired"
The link "https://join.slack.com/t/owasp/shared_invite/enQtNDI5MzgxMDQ2MTAwLTEyNzIzYWQ2NDZiMGIwNmJhYzYxZDJiNTM0ZmZiZmJlY2EwZmMwYjAyNmJjNzQxNzMyMWY4OTk3ZTQ0MzFhMDY" has expired.

[2019-05-22 22:22] sushi2k commented on #1217
Is this one working for you: https://owasp.slack.com/join/shared_invite/enQtNjExMTc3MTg0MzU4LTViMDg1MmJiMzMwZGUxZjgxZWQ1MTE0NTBlOTBhNjhhZDIzZTZiNmEwOTJlYjdkMzAxMGVhNDkwNDNiNjZiOWQ

[2019-05-24 04:45] commjoen commented on #1217
I guess the wiki needs to be updated;-)

[2019-05-24 04:57] sushi2k commented on #1217
The Link that I shared is the link from our README.md :-) Sorry, should have been more specific.
Not sure where the other link is from.

@mkuivenhoven Can you please let me know if the registration was successful? Then I will close this issue. You can find link also here: https://github.com/OWASP/owasp-mstg/#contributions-feature-requests-and-feedback
Thanks

[2019-05-24 06:16] #1216 closed

[2019-05-26 14:45] commjoen commented on #1217
Updated the wiki link at FAQ for now

[2019-05-26 20:59] commjoen commented on #1046
https://www.europeanpaymentscouncil.eu/document-library/implementation-guidelines/mobile-initiated-sepa-credit-transfer-interoperability, NIST, http://egovstandards.gov.in/notified-standards-0 and more

[2019-05-30 17:11] cpholguera opened #1226 "OSS19 0x5b - Enhance Testing on a Real Device"
- Elaborate a bit more on "why a physical device is the preferred option", e.g. when the app communicates with companion devices, e.g. fitness tracking apps communicating with an armband or automotive apps communicating with the car per bluetooth.

- Include a recommendation for physical devices. e.g. Nexus / Pixel devices and why we recommend them.

Search for the "ToDo" in 0x05b

[2019-05-30 17:15] cpholguera opened #1227 "OSS19 0x5b - Recommended Tools"
Write an intro for the section "Recommended Tools" for Android

Additionally consider this: in this section we will only summarize the few basic tools that we are using throughout the guide. **Be sure to reference to installation manuals and DON'T copy paste from the tools documentation**. Only put in installation instructions if they are not straightforward or the documentation lacks information.

[2019-05-30 17:26] cpholguera opened #1228 "OSS19 0x5b - adb"
- Extend the adb section with a summary of features and basic usage.
- Search in the rest of the chapter for possible duplicates of adb descriptions, installation or usage.
- Include the basics here and more "test case" specific content / commands in the test cases. For example: `adb backup` is very "test case" specific and it's correctly included in 0x05d Testing Backups for Sensitive Data. On th

[2019-05-30 17:34] cpholguera opened #1229 "OSS19 0x5b - Frida on Android"
We've moved installation and basics from 0x05c to the "Recommended Tools/Frida" section in 0x05b. Still we have to review these instructions and refer to the official instructions to avoid maintaining them, which does not make sense for us.

Also, we should make clear in this section
- what's the point on using Frida (instead of another tool, e.g. Xposed, and in which situations)
- what are the be

[2019-05-30 17:43] cpholguera opened #1230 "OSS19 0x5b - Objection on Android"
Create the "Recommended Tools/Objection" section in 0x05b.

- Give an introduction.
- Refer to the official installation instructions to avoid maintaining them.

Also, we should make clear in this section

- what's the point on using objection (instead of another tool and in which situations)
- what are the benefits of using it on Android
- what are the basic commands / features.

Keep in mind tha

[2019-05-30 17:45] cpholguera opened #1231 "OSS19 0x5b - radare2 on Android"
Create the "Recommended Tools/radare2" section in 0x05b.

- Give an introduction.
- Refer to the official installation instructions to avoid maintaining them.

Also, we should make clear in this section

- what's the point on using radare2 (instead of another tool and in which situations)
- what are the benefits of using it on Android
- what are the basic commands / features.

Keep in mind that we

[2019-05-30 17:46] cpholguera opened #1232 "OSS19 0x5b - r2frida on Android"
Create the "Recommended Tools/r2frida" section in 0x05b.

- Give an introduction.
- Refer to the official installation instructions to avoid maintaining them.

Also, we should make clear in this section

- what's the point on using r2frida (instead of another tool and in which situations)
- what are the benefits of using it on Android
- what are the basic commands / features.

Keep in mind that we

[2019-05-30 17:48] cpholguera opened #1233 "OSS19 0x5b - Drozer"
Review the "Recommended Tools/Drozer" section in 0x05b.

Check if the installation instructions are up-to-date; check if it's just copy and paste. If it is, we just get rid of it and link to the original documentation.

[2019-05-30 17:51] cpholguera opened #1234 "OSS19 0x5b - Xposed"
Review and enhance the "Recommended Tools/Xposed" section in 0x05b.

Link to the installation instructions and give some basics and benefits. It should be clear why you'd like to use this instead of e.g. Frida. (note: we've moved the current description from 0x05c)

[2019-05-30 17:55] cpholguera opened #1235 "OSS19 0x5b - angr on Android"
Review and enhance the "Recommended Tools/Angr" section in 0x05b.

- Review the introduction. Give some more basics and benefits.
- Refer to the official installation instructions to avoid maintaining them.

Also, we should make clear in this section

- what's the point on using angr (instead of another tool, e.g. radare2 + ESIL, and in which situations)
- what are the benefits of using it on Andr

[2019-05-30 19:28] cpholguera opened #1236 "OSS19 0x5b - Accessing the Device Shell"
Enhance the "Accessing the Device Shell" section in 0x05b.

Add introduction and create / enhance / review the following sub-sections:

- On-device Shell App: describe it for the sake of completeness, but should also mention that usually using a on-device shell is very tedious compared to a remote shell. But might be good for debugging in case of for example network issues. e.g. app: termux.
- Rem

[2019-05-30 19:37] cpholguera opened #1237 "OSS19 0x5b - Host-Device Data Transfer"
Create the "Host-Device Data Transfer" section in 0x05b.

Consider:
- `adb push / pull` https://developer.android.com/studio/command-line/adb#copyfiles
- FTP/SFTP from termux, with this you can just access the Android File system from e.g. Finder on macOS
- House: evaluate if House allows convenient data transfer. If not, discard.
- objection. It's quite tedious, as you can only download files one

[2019-05-30 19:45] cpholguera opened #1238 "OSS19 0x5b - Obtaining and Extracting Apps"
Create the "Obtaining and Extracting Apps" section in 0x05b.

- App Store: consider websites like https://www.apkmirror.com/ or similar, verify reputation; Consider also tools like https://github.com/matlink/gplaycli, test, evaluate and include if convenient.
- Recovering the App Package from the Device (From Rooted/Non-Rooted Devices): e.g. via `adb pull`. For example, this works on both rooted a

[2019-05-30 20:04] cpholguera opened #1239 "OSS19 0x5b - Information Gathering"
Create the "Information Gathering" section in 0x05b.

- Give an introduction.
- Read all messages in the discussion starting with https://github.com/OWASP/owasp-mstg/pull/1222#discussion_r287551713
- After considering the mentioned discussion, decide if we want to split this issue in sub issues.

Complete the following sections:

- Installed Apps: e.g. `adb shell pm list packages`
[code]

- App Ba

[2019-05-30 20:17] cpholguera opened #1240 "OSS19 0x5b - Dynamic Analysis on Android"
Create the "Dynamic Analysis" section in 0x05b.

- Give an introduction.
- Complete the next sections:
  - Using Non-Rooted Devices
  - Method Tracing
- Basic Network Monitoring/Sniffing: maybe consider moving "Basic Network Monitoring/Sniffing" from the next section to here.

Are we missing some other basics? Evaluate and add. Consider creating new issues.

[2019-05-30 20:20] cpholguera opened #1241 "OSS19 0x5b - Shift Certificate Pinning"
Shift the current section "Certificate Pinning" in 0x05b (including bypass sub-sections) to the SSL Pinning test case and merge it together. Consider making a reference from here (or not).

[2019-05-30 22:06] sushi2k opened #1242 "OSS19 0x6b - Setting up Xcode and Command Line Tools"
**Describe the issue**
As part of changes to the basic security testing chapter for iOS, it should be explained how to setup the iOS SDK with references

[2019-05-30 22:08] sushi2k opened #1243 "OSS19 0x6b - Update Tools list"
**Describe the issue**
As part of changes to the basic security testing chapter for iOS, the tools list nee to be updated in 0x06b.

1. First identify the tools we are using in the iOS guide, including URLs where the tool can be downloaded
2. Then extend the list in "Recommended Tools" with the identified tools and give guidance on how to install them. Refer to the official installation instructio

[2019-05-30 22:11] sushi2k opened #1244 "OSS19 0x6b - Update Installation of Needle"
**Describe the issue**
As part of changes to the basic security testing chapter for iOS, double check the paragraphs with the documentation of Needle. If this is copy/paste we should reference to the original documentation only and remove it.

[2019-05-30 22:12] sushi2k opened #1245 "OSS19 0x6b - Data Transfer between host device and iOS"
**Describe the issue**
As part of changes to the basic security testing chapter for iOS, ways need to be described on how to transfer data between host device (laptop) and iOS device.

Describe it including all the commands that need to be executed:
- via SSH
- via Passionfruit
- Objection

iOS jailbroken test devices are available during the summit.

[2019-05-30 22:16] sushi2k opened #1246 "OSS19 0x6b - Describe how to Clutch an iOS App"
**Describe the issue**
As part of changes to the basic security testing chapter for iOS, describe how to Clutch an app to get rid of DRM (FairPlay).

Check with ##### Recovering an IPA File From an Installed App in 0x06c, it's already described there

[2019-05-30 22:18] sushi2k opened #1247 "OSS19 0x6b - Information Gathering on iOS with objection"
**Describe the issue**
As part of changes to the basic security testing chapter for iOS, describe how to get basic information that might be useful for an attacker out of the app with objection, e.g. directories used and UUID for installation of the app and other useful information.

iOS jailbroken test devices are available during the summit.

[2019-05-30 22:25] sushi2k opened #1248 "OSS19 0x6b - Describe various ways of sideloading iOS apps"
**Describe the issue**
As part of changes to the basic security testing chapter for iOS, describe the various ways of sideloading the app:
- ideviceinstaller as part of libimobiledevice
- ios-deploy
- Xcode etc.

[2019-05-30 22:39] sushi2k opened #1249 "OSS19 0x6b - Information Gathering on iOS with Passionfruit"
**Describe the issue**
As part of changes to the basic security testing chapter for iOS, describe how to get basic information that might be useful for an attacker/pentester out of the app with passionfruit, e.g. directories used and UUID of the app and other useful information.

iOS jailbroken test devices are available during the summit.

[2019-05-30 22:41] sushi2k opened #1250 "OSS19 0x6b - Dumping KeyChain Data with Needle/Objection/Passionfruit/Keychaindumper"
**Describe the issue**
As part of changes to the basic security testing chapter for iOS, describe how to use Passionfruit and objection to dump Keychain data from a non jailbroken device and explain it's limitations (e.g. the tester is still in the app sandbox and can only access items in the keychain that are tied to the entitlement of the app).

iOS jailbroken test devices are available during t

[2019-05-30 22:43] sushi2k opened #1251 "OSS19 0x6b - Describe installation of Frida"
**Describe the issue**
This section will be redundant most likely with the RE chapters / Android Basic Security Testing. Clean it and consolidate the installation instructions of Frida and align with other  chapters.

[2019-05-30 22:45] sushi2k opened #1252 "OSS19 0x6b - Merge with SSL Pinning test case"
**Describe the issue**
The section "bypass certificate pinning" should be moved to document 0x05g and merged with the existing test case "Testing Custom Certificate Stores and Certificate Pinning".

[2019-05-31 06:15] commjoen opened #1253 "OSS19: Add missing masvs references to 0x6a/0x6b, 0x5a/0x5b"
We still need to add MASVS references to the restructured chapters, so that it is easy to lookup.

[2019-05-31 06:15] commjoen opened #1254 "OSS19: Update Excel based on restructured chapters"
We need to update the Excel links in EN/FR/JP/ES given the restructured MSTG.

[2019-05-31 18:36] #1170 closed

[2019-05-31 18:53] commjoen commented on #970
Can we close this?

[2019-05-31 19:01] commjoen opened #1256 "Review ios backup testcase"
Let's review the iOS backup testcase as iTunes and iCloud backups have changed.

[2019-05-31 19:18] cpholguera commented on #970
We cannot close it yet. We've only covered the "Basic Security Testing"
chapters on PRs #1220 and #1222. Now we still have to target the RE
chapters on two new PRs.

El vie., 31 may. 2019 20:54, Jeroen Willemsen <notifications@github.com>
escribió:

[2019-06-01 13:52] sushi2k commented on #1256
The backup you can open in Finder, but for some reason you cannot navigate in the terminal to it.

[code]

Is it the same on your mac?  Any idea why this is not possible, even as root?

[2019-06-01 14:00] sushi2k commented on #1256
Ok. Wasn't aware of this. Once iTerm has full disk access I can also navigate to MobileSync :-)

http://osxdaily.com/2018/10/09/fix-operation-not-permitted-terminal-error-macos/

[2019-06-02 10:29] cpholguera commented on #806
@sushi2k maybe we can cover this as part of issue #1230 and close this one? The idea is to have such a section on Android and one on iOS, both focusing on the benefits that objection brings to each OS.

[2019-06-02 12:11] #1242 closed

[2019-06-03 03:05] sushi2k commented on #1050
There are a lot of PDFs checked in (script from https://stackoverflow.com/a/42544963)

[code]

[2019-06-03 03:08] sushi2k commented on #1050
This seeems to be the way to go to remove the majority of the large files https://rtyley.github.io/bfg-repo-cleaner/

https://stackoverflow.com/a/17890278

[2019-06-03 11:15] #1244 closed

[2019-06-03 12:22] sushi2k commented on #1230
Include also this issue: https://github.com/OWASP/owasp-mstg/issues/806

[2019-06-04 04:40] commjoen commented on #1256
Fixed in #1258

[2019-06-04 04:40] #1256 closed

[2019-06-04 05:16] sushi2k commented on #1247
https://github.com/OWASP/owasp-mstg/pull/1267

[2019-06-04 09:22] cpholguera opened #1270 "0x05b add drozer highlights"
Now we have a nice structure on the Basic Testing -> Recommended Tools. However we can add more value to the drozer section by talking about:
- basic architecture
- modules
- little spoiler on how we use it in the guide
- review Sieve
- talk about the highlights: why do we want to use drozer, there's some things you can actually do via adb, or some grepping, without having to install drozer only f

[2019-06-04 09:27] TheDauntless commented on #970
I'm aligning iOS and Android from a structure point of view

[2019-06-04 09:52] TheDauntless opened #1271 "OSS19 0x6b - Setting up a Network Testing Environment"
This section is much less populated than the 0x5b counterpart.

On Android:
* Basic Network Monitoring/Sniffing
    * Burp plugins to Process Non-HTTP Traffic
    * Firebase/Google Cloud Messaging (FCM/GCM)
        * Preparation of Test Setup
        * HTTP
        * XMPP
        * Intercepting the Requests
        * End-to-End Encryption for Push Notifications
* Setting Up an Interception Proxy

[2019-06-04 15:20] sushi2k commented on #1217
Closing issue as Slack link is now updated everywhere. @mkuivenhoven  please reopen if you still have problems.

[2019-06-04 15:20] #1217 closed

[2019-06-04 15:22] sushi2k commented on #1207
Let's remove it and link to it. Thanks for the URL!

[2019-06-04 15:47] #1207 closed

[2019-06-04 15:52] #1185 closed

[2019-06-04 16:32] commjoen commented on #1233
Fixed at #1269

[2019-06-04 16:32] #1233 closed

[2019-06-04 16:39] #1237 closed

[2019-06-04 16:40] commjoen commented on #1247
Can be closed thanks to #1267

[2019-06-04 16:40] #1247 closed

[2019-06-04 19:04] sushi2k commented on #901
https://github.com/OWASP/owasp-mstg/pull/1276

[2019-06-04 20:06] sushi2k commented on #1248
https://github.com/OWASP/owasp-mstg/pull/1277

[2019-06-04 21:16] commjoen commented on #1248
Fixed in #1277

[2019-06-04 21:16] #1248 closed

[2019-06-04 22:05] cpholguera opened #1279 "OSS19 0x5b - Enhance Testing on the Emulator"
When working on issue #1236 we moved some content to "Testing on a Real Device" and "Testing on the Emulator". However, this section might not be complete and therefore a review is required.

**Please only work on this ticket after we close #1236**

Things to consider:

- which emulators exist? (AVD, Genymotion, ...), which one is better for what, etc.
- what to install in the emulator (Frida, Xpo

[2019-06-04 22:08] cpholguera commented on #1279
@TheDauntless please consider this and the changes from #1236 (only one paragraph actually) when working on #1226

[2019-06-05 07:47] sushi2k opened #1283 "Clear wording for the "computer" of the tester"
**Describe the issue**
We are using sometimes different phrases to describe the "computer" of the tester:
- laptop
- workstation
- machine
- etc.

We should decide which one we should use and keep it consistent in the guide and add it to the style guide. I would prefer workstation :-)

[2019-06-05 08:18] cpholguera commented on #1228
consider the additions from https://github.com/OWASP/owasp-mstg/pull/1280 once it is merged, so that we don't duplicate content: it talks mostly about `adb shell`.

[2019-06-05 08:35] cpholguera opened #1284 "OSS19 -0x6b - Accessing the Device Shell"
Create the "Accessing the Device Shell" section in 0x06b.

Add introduction and create the following sub-sections:

- On-device Shell App: describe it for the sake of completeness, but should also mention that usually using a on-device shell is very tedious compared to a remote shell. But might be good for debugging in case of for example network issues.
- Remote Shell: SSH

[2019-06-05 09:10] commjoen commented on #1246
Fixed in #1281

[2019-06-05 09:10] #1246 closed

[2019-06-05 09:17] commjoen commented on #1236
Fixed in #1280 and #1279

[2019-06-05 09:17] #1236 closed

[2019-06-05 09:19] commjoen commented on #901
Fixe din #1276

[2019-06-05 09:19] #901 closed

[2019-06-05 09:31] ninedter commented on #1283
I give workstation a vote + 1

[2019-06-05 10:00] commjoen commented on #1279
Can we close this one @cpholguera ?

[2019-06-05 10:03] cpholguera commented on #1279
This is still open. We can remove the assignment in case someone wants to take care of it. I'm working on other issues right now.

[2019-06-05 11:26] commjoen commented on #1271
PArtially fixed in #1271, still needs to remain open.

[2019-06-05 13:45] commjoen commented on #1230
Can be closed thanks to #1289

[2019-06-05 13:45] #1230 closed

[2019-06-05 13:45] commjoen commented on #806
CAn now be closed with #1289

[2019-06-05 13:45] #806 closed

[2019-06-05 13:52] commjoen commented on #1284
Can be closed with  #1286

[2019-06-05 13:52] #1284 closed

[2019-06-05 14:00] commjoen commented on #1252
Fixed in #1282

[2019-06-05 14:00] #1252 closed

[2019-06-05 16:04] cldrn commented on #1270
The Sieve app has problems running on newer Android versions. It partially works. Should we use something else?

[2019-06-05 16:46] commjoen commented on #1171
Fixed in #1146 :) together with @TheDauntless . Please, for now, only use the apk provided in the mstg folder.

[2019-06-05 16:46] #1171 closed

[2019-06-05 16:47] commjoen commented on #1146
So we fixed #1171 and level3 does not detect magisk-hide.

[2019-06-05 16:53] commjoen commented on #1146
Given the complexity and the cat-and-mouse-game for detecting magisk, we rather move it to 1.3 . If someone wants to pick it up: feel free to do this earlier :).

[2019-06-05 19:47] commjoen commented on #1250
for now:
- do it with Needle on iOS12 and with the ios Keychaindumper
- do it with objection/passionfruit on a lower version of ios

[2019-06-05 19:50] commjoen commented on #1232
Fixed with #1292.

[2019-06-05 19:50] #1232 closed

[2019-06-05 19:50] cldrn commented on #1238
I'll tackle this.

[2019-06-05 22:01] cpholguera commented on #1238
nice, I've assigned it to you and set it to "In Progress", thank you!

[2019-06-06 08:35] #1228 closed

[2019-06-06 09:29] #1245 closed

[2019-06-06 10:35] cpholguera opened #1300 "OSS19 0x6b - Information Gathering"
Create the "Information Gathering" section in 0x06b by following the new structure on 0x5b.

[2019-06-06 11:51] commjoen commented on #1270
Fixed in #1296

[2019-06-06 11:51] #1270 closed

[2019-06-06 14:22] commjoen opened #1302 "Add recommended tools and writeup on APT for iOS"
Add recommended tools and writeup on APT for iOS

[2019-06-06 14:43] Ingan121 commented on #1146
[This](https://github.com/kimchangyoun/rootbeerFresh) might be helpful, but I think it isn't a good way because it could cause false positive on some devices (it only checks socket name's length to see its randomity, and some stock devices have 32+ digit socket names). Also, this won't be available on Q since it blocked access to /proc/net.

[2019-06-06 14:56] cldrn commented on #971
Where would this sections be? I think we should definitely mention the new App Signing method hosted/managed by Google (https://support.google.com/googleplay/android-developer/answer/7384423?hl=en-GB).

[2019-06-06 15:00] cldrn commented on #1046
I talked to @commjoen about it this morning but I just saw this ticket. I think a dedicated page for this would be nice. It will help promote MSTG/MASVS.

[2019-06-06 15:10] commjoen commented on #1302
Fixed in #1303

[2019-06-06 15:10] #1302 closed

[2019-06-06 15:15] sushi2k commented on #1253
As spoken we close it as we introduce the MSTG-ID in the future, see https://github.com/OWASP/owasp-mstg/issues/1139

[2019-06-06 15:16] #1253 closed

[2019-06-06 15:18] commjoen commented on #971
we should! 0x5a and 0x6a

[2019-06-06 20:26] commjoen commented on #1243
Closed in  #1267

[2019-06-06 20:26] #1243 closed

[2019-06-06 20:27] TheDauntless commented on #1251
@sushi2k this one can be closed, right?

[2019-06-06 20:28] sushi2k commented on #1251
yes

[2019-06-06 20:28] #1251 closed

[2019-06-06 21:20] commjoen commented on #1239
Closed by #1299

[2019-06-06 21:20] #1239 closed

[2019-06-06 21:23] commjoen commented on #1271
Fixed in #1286

[2019-06-06 21:23] #1271 closed

[2019-06-06 21:27] commjoen commented on #1241
Fixed in #1309

[2019-06-06 21:27] #1241 closed

[2019-06-06 21:28] commjoen commented on #1250
#1307

[2019-06-06 21:28] #1250 closed

[2019-06-07 05:40] #1238 closed

[2019-06-07 05:40] commjoen commented on #1238
Fixed by #1301

[2019-06-07 08:49] commjoen commented on #1046
Fixed in #1313

[2019-06-07 08:49] #1046 closed

[2019-06-07 08:51] commjoen commented on #1279
Fixed in #1315

[2019-06-07 08:51] #1279 closed

[2019-06-07 09:12] commjoen commented on #1231
Fixed in #1306

[2019-06-07 09:12] #1231 closed

[2019-06-10 05:34] commjoen commented on #1300
Can be closed thanks to  #1314

[2019-06-10 05:34] #1300 closed

[2019-06-10 05:34] commjoen commented on #1249
Can be closed thanks to #1314

[2019-06-10 05:34] #1249 closed

[2019-06-10 06:34] ThunderSon commented on #1240
Hello, I'd like to handle this issue 😄

[2019-06-10 06:36] commjoen commented on #1240
Hi @ThunderSon !
Great to have you on board! You don't seem to be in the collaborator list yet, so I have send you an invite. Can you please accept it? Then i can assign the issue to you.

[2019-06-12 20:12] commjoen opened #1317 "Update for iOS 13 / Android 10"
There are quiet a few security updates for both android Q and iOS 13 which require attention. This ticket is about setting up these new security feature/updates into new tickets.
Android: New location controls and reminder, Privacy settings
- [x] Biometric changes: https://developer.android.com/about/versions/10/features#improved-biometric-auth . #1504
- [x] TLS 1.3 support: https://developer.andr

[2019-06-15 11:47] commjoen commented on #1317
iOS 13: https://developer.apple.com/documentation/cryptokit, bot detection, app portability to mac OSX

[2019-06-17 15:32] ThunderSon commented on #1240
The basic networking section contains plenty of subsections, and I'd debate it being in in the Dynamic Analysis section. What do you think @commjoen ? If we were to add that section, why not the Intercepting proxy too? That could as well be part of the dynamic analysis.

[2019-06-18 14:22] commjoen commented on #1240
Current status: being discussed on Slack ;-).

[2019-06-22 03:17] sushi2k opened #1321 "Don't use passwords that have been disclosed in previous breaches"
**Platform:**
A new sub-section should be added for General Testing Authentication Chapter, https://github.com/OWASP/owasp-mstg/blob/master/Document/0x04e-Testing-Authentication-and-Session-Management.md#best-practices-for-passwords

**Description:**
We should add a check to the password best practices to use the API from haveibeenpwned to verify if the password has already been breached.
https://

[2019-06-26 04:20] commjoen commented on #1164
Fixed

[2019-06-26 04:20] #1164 closed

[2019-06-26 07:13] imskr commented on #1283
I am beginner. I want to take this issue. How can i get started for this ?

[2019-06-27 06:55] sushi2k opened #1324 "Verify requirements in Excel sheet with MASVS"
**Describe the issue**
Check the wording of each requirement in MASVS with column C in the excel checklist and verify if all requirements are aligned.

[2019-06-28 10:36] #1234 closed

[2019-06-29 03:51] sushi2k commented on #1283
Hi @imskr. Thanks for reaching out. Can you please ping me in Slack (@sushi2k)? Then we can take it from there.
This is how you can join our Slack:
https://github.com/OWASP/owasp-mstg/#contributions-feature-requests-and-feedback

[2019-06-29 05:05] imskr commented on #1283
Yeah sure @sushi2k

[2019-06-29 07:54] sushi2k commented on #1283
As workstation usually refers to a heavy desktops, the term "computer" might be better as it's more generic (can be a laptop, workstation etc.). Any objections @TheDauntless @cpholguera?

Computer is for example used here already and fits better than workstation: https://github.com/OWASP/owasp-mstg/blob/dcda81fa5974146cb6efc3f61be4b12d62d8bcc6/Document/0x06b-Basic-Security-Testing.md#jailbreak-typ

[2019-06-29 08:52] cpholguera commented on #1283
I think that's a good idea. We're using "host computer" pretty often on
that chapter and it's working perfectly so it'd be great to keep using it
consistently.

El sáb., 29 jun. 2019 9:54, Sven <notifications@github.com> escribió:

[2019-07-11 06:13] commjoen commented on #958
Fixed in #1264

[2019-07-11 06:13] #958 closed

[2019-07-11 06:33] commjoen opened #1335 "Create chinese version of the Excel file"
Create chinese version of the Excel file

[2019-07-11 06:47] commjoen commented on #1324
#1327 covered the french and english version
@cpholguera can you pick up this issue to update the Spanish one please :) ?

[2019-07-11 08:14] cpholguera commented on #1324
Sure ;)

[2019-07-11 08:35] commjoen commented on #1324
After that we can close this issue :).

[2019-07-14 13:54] cpholguera commented on #1226
Hi @TheDauntless , @A-AFTAHI  would like to work on this ticket but it's assigned to you. Have you started working on it already?

[2019-07-14 18:54] commjoen commented on #1240
Closed based on #1326. Thanks @ThunderSon !

[2019-07-14 18:54] #1240 closed

[2019-07-15 04:11] commjoen commented on #1235
Hi @rylyade1 :), do you have any status update on this :) ?

[2019-07-15 06:00] commjoen commented on #1235
Update: had a chat on slack and decided to pick up the issue together :)

[2019-07-16 05:50] commjoen commented on #1203
Fixed in #1334

[2019-07-16 05:50] #1203 closed

[2019-07-16 05:51] commjoen commented on #1004
Fixed in #1334

[2019-07-16 05:51] #1004 closed

[2019-07-16 08:47] zehuanli opened #1340 "0x05a Broadcast Receiver: Incorrect description"
**Describe the issue**

As [0x05a-Platform-Overview.md](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05a-Platform-Overview.md) states, Broadcast Receiver must be declared in `AndroidManifest.xml` to work:

However, according to [Android documentation](https://developer.android.com/guide/topics/manifest/receiver-element), Broadcast Receivers can also be registered dynamically:

I'm no

[2019-07-16 15:27] commjoen commented on #1340
Hi @zehuanli ! you have a point there! Let's put this in the 1.2 milestone.
I was wondering though: can you help us out with a PR on this matter :)? That would be awesome! Otherwise I will pick it up later.

[2019-07-16 17:59] #1324 closed

[2019-07-16 18:36] joscandreu commented on #1135
I created a PR so you can give opinion on what I have written so far. It is still WIP.
I added two sub-sections for file-based encryption and for full-disk encryption which I intend to complete ASAP.
I thought it made sense to write all this inside the Android platform overview chapter.

Waiting to hear your thoughts!

[2019-07-17 12:32] sushi2k opened #1345 "WebAuthn for iOS and Android"
**Platform:**
iOS and Android

**Description:**
The support and status of WebAuthn should be researched for iOS and Android and put into the 0x04e chapter (https://webauthn.guide/). Either as standalone section that describes WebAuthn or also as additional testcase (if any specific test cases make sense to describe).
Testcases should look for pitfalls and bypasses of the protocol.

[2019-07-18 00:24] sushi2k opened #1347 "[iOS] Making Sure that the App Is Properly Signed (MSTG‑CODE‑1)"
**Describe the issue**

The test case for "Making Sure that the App Is Properly Signed (MSTG‑CODE‑1)" for iOS is only an overview without much information on what to do with the codesign output.

It should describe what to look out for in codesign output and how to verify that it wasn't modified.

**Optional: Testcase or section**
### Making Sure that the App Is Properly Signed (MSTG‑CODE‑1) in 0x

[2019-07-19 09:14] commjoen commented on #1227
Fixed in #1337

[2019-07-19 09:14] #1227 closed

[2019-07-22 08:33] commjoen commented on #1340
It seems we have similar issues with the browsable intents :). Let's have a look at that as well :)

[2019-07-22 19:49] commjoen commented on #1226
Fixed in #1344

[2019-07-22 19:49] #1226 closed

[2019-07-23 05:13] commjoen commented on #1235
I have not seen any easy steps to use angr on an ios binary, as most examples run on a binary dedicated for the cpu architecture it is compiled for... (e.g x86 binaries on an intel based machine)

[2019-07-23 15:31] commjoen commented on #1235
Fixed in #1351

[2019-07-23 15:31] #1235 closed

[2019-07-23 16:27] ThunderSon opened #1353 "Slack Channel Link Update"
It seems that a recent update to Slack links changed the routes. The current link takes the user to the default channel, and not to the project's [channel](https://app.slack.com/client/T04T40NHX/C1M6ZVC6S)

[2019-07-23 16:30] commjoen commented on #1353
Hi @ThunderSon ! Thank you for your check! Just to make sure: which links did you check?

[2019-07-23 16:35] #1353 closed

[2019-07-23 16:35] commjoen commented on #1353
Thank you for fixing it in #1354 !

[2019-07-24 06:14] zehuanli commented on #1340
Hi @commjoen , thanks for the update! I'm working on 0x05a now, but haven't noticed the issue with the browsable intents. I can also work on it if you could point me to that one, otherwise I'll file a PR for the 0x05a itself.

[2019-07-24 06:26] commjoen commented on #1340
Maybe I overlooked something there, or it is only in my head. For now continue with what you are working on! Can you file an early PR (WIP) when you have something to push please? Because large rewrites often (E.g. more than 250 words) often take way more time to review and pingpong...

[2019-07-24 06:28] commjoen commented on #1340
Funny: it does seem we had an issue on this registered, best is to linke it here i guess: https://github.com/OWASP/owasp-mstg/issues/941 . Thank you for picking it up! Looking forward to your results :).

[2019-07-24 06:53] zehuanli commented on #1340
I'll file it as soon as I push the changes.

Yeah I didn't see that issue but it was related to this one!

[2019-07-24 07:00] commjoen commented on #970
@cpholguera : can we now close this issue :D ?

[2019-07-24 07:22] cpholguera commented on #970
Yes! We finally made it :D

[2019-07-24 07:24] commjoen commented on #970
Congratulations!!! YOU and the team worked hard on this one! Finally!!!!! Whooohoooo!

[2019-07-24 07:24] #970 closed

[2019-07-24 07:25] commjoen commented on #1254
@A-AFTAHI , given that the restructuring is complete, can you please do a final round for linking stuff correctly? After that, we can close this issue :).

[2019-07-25 04:51] commjoen commented on #1139
Are we complete now? Can we close this issue :) ?

[2019-07-25 04:52] commjoen commented on #1161
] 9. MSTG: Update how we cover app-device identification: Covered in the mstg wrongly: MSTG‑STORAGE‑10: https://github.com/OWASP/owasp-mstg/blob/4d9938a3d767f56387fb2586886664aab89419e6/Document/0x04e-Testing-Authentication-and-Session-Management.md#testing-login-activity-and-device-blocking-mstgauth11, but we do cover instanceID and identifierforVendor in different pages. Let;s make sure we open

[2019-07-25 18:41] commjoen commented on #1135
Fixed in #1342. Thanks @joscandreu !

[2019-07-25 18:41] #1135 closed

[2019-07-26 04:22] commjoen commented on #943
Hi @51j0 ! Do you have any updates on this issue :) ?

[2019-07-26 06:22] commjoen opened #1356 "Reintroduce Frida stalker"
[code]

The sentence (now deleted from the guide) is not really useful as-is: it's informing us about its existence "with enhancements" and that is for Android, actually is a general tool. We're not using it yet in the guide, so I thought I'd write a separate ticket which should:

- see if we should use it again;
- find a good place for introducing stalker (probably in the Frida general intro in 0

[2019-07-26 06:26] commjoen commented on #1229
Fixed in #1350

[2019-07-26 06:26] #1229 closed

[2019-07-26 12:57] cpholguera opened #1357 "5c - Review Symbolic Execution Section"
commjoen: "this might need some references to arm instructions before you continue as this example does not speak for itself as it is described here."

See: https://github.com/OWASP/owasp-mstg/pull/1332#discussion_r303216106

The goal is to re-read the section and make sure that both the section is understandable and its example "speaks for itself", include all necessary enhancements and reference

[2019-07-26 13:00] cpholguera opened #1358 "5c - Create Basic Information Gathering (Static Analysis)"
Create in section Static Analysis -> Basic Information Gathering

after "Manual (Reversed) Code Review"

[code]

Consider this:

- In "##### Retrieving Strings" and "##### Call Diagrams and Cross References" consider using radare2.
- In "##### API Usage" talk briefly about Bluetooth, NFC, Crypto ... You can reference 0x05d-j
- In "##### Check Secure Connections" You can talk about HTTPS, TLS, cert

[2019-07-26 13:02] cpholguera opened #1359 "5c - Create Basic Information Gathering (Dynamic Analysis)"
Create Dynamic Analysis -> Basic Information Gathering

after "Dynamic Analysis on Non-Rooted Devices"

[code]

Thanks to Dynamic Analysis we are able to do some additional Information Gathering steps that we cannot do when performing Static Analysis. This section is meant to describe those steps.

Consider talking about Files and Permissions in "Sandbox Inspection".

[2019-07-26 13:03] cpholguera opened #1360 "5c - Create Method Tracing"
Create Dynamic Analysis -> Tracing -> Method Tracing

after "Execution Tracing"

[code]

This section will talk about how to perform Java Code method tracing in order to show parameters and return values.

[2019-07-26 13:05] cpholguera opened #1361 "5c - Create Native Code Tracing"
Create Dynamic Analysis -> Tracing -> Native Code Tracing

after "Method Tracing"

[code]

This section will talk about how to trace native code, for example using frida-trace to trace the methods of a native library and how is this different from Java Code method tracing.

The following snippet taken (and removed) from chapter 5b should help starting here:

[code]

[2019-07-26 13:06] cpholguera opened #1362 "5c - Create Library Injection"
Create Tampering and RI -> Patching ... -> Library Injection

before end of "Patching ...", before "Dynamic instrumentation"

[code]

This section will talk about how to perform Library Injection on Android. This is used for example to inject Frida gadget but can be used on other cases and using several techniques: e.g. modifying the source code, patching a binary or its libraries, using a dynamic

[2019-07-26 13:12] cpholguera opened #1363 "5c - Create Tooling (Dynamic Instrumentation)"
Create Tampering and RI -> DI -> Tooling

after "Dynamic Instrumentation"

[code]

This section will present recommended tools to use for Android dynamic analysis, e.g. Xposed and Frida.

Consider the tools in 5b! Avoid repeating content. Consider if we should move some content here (e.g. Xposed), or for Frida talk about some basics in 5b (actually only what it's being used there) and the more adv

[2019-07-26 13:14] cpholguera opened #1364 "5c - Create Information Gathering (Dynamic Instrumentation)"
Create Tampering and RI -> Dynamic Instrumentation -> Information gathering

after "Tampering and RI -> Dynamic Instrumentation -> Tooling

[code]

This section is intended to show a couple of cases where you can apply dynamic analysis for Information Gathering and present some of the things you can retrieve.

[2019-07-26 13:16] cpholguera opened #1365 "5c - Create Process Exploration"
Create Tampering and RI -> Dynamic Instrumentation -> Process Exploration

after "Method Hooking"

[code]

This section is intended to show a view of the app from within its memory. One of the recommended tools to address here is r2frida.

Check chapter 6c to keep it consistent. Once this ticket is ready: #1377

[2019-07-26 13:21] cpholguera opened #1366 "5c - Add Ghidra"
Add Ghidra to "##### Reviewing Disassembled Native Code". Include similar information as in the radare2 section.

Remember to refer to radare2 and Cutter which now support the Ghidra decompiler.

[2019-07-26 13:26] cpholguera opened #1367 "6c - Create Subsections in Disassembling and Decompiling"
add subsections to #### Disassembling and Decompiling

[code]

Check chapter 5c to keep it consistent.

Think of maybe splitting this if it's too much for one ticket.

[2019-07-26 13:28] cpholguera opened #1368 "6c - Create Manual (Reversed) Code Review section and subsections"
add "#### Manual (Reversed) Code Review" and subsections after "### Static Analysis"

[code]

Check chapter 5c to keep it consistent.

Consider discarding IDA (?)

[2019-07-26 13:31] cpholguera opened #1369 "6c - Review and Restructure Basic Information Gathering (Static Analysis)"
restructure "#### Basic Information Gathering" and add subsections

[code]

Consider this:

- In "##### Retrieving Strings" and "##### Call Diagrams and Cross References" consider using radare2.
- In "##### API Usage" talk briefly about Bluetooth, NFC, Crypto ... You can reference 0x06d-j
- In "##### Check Secure Connections" You can talk about HTTPS, TLS, cert. pinning, Network Configuration. Be

[2019-07-26 13:33] cpholguera opened #1370 "6c - Create Basic Information Gathering (Dynamic Analysis)"
add "#### Basic Information Gathering" in "### Dynamic Analysis" after "#### Dynamic Analysis on Non-Jailbroken Devices"

[code]

Thanks to Dynamic Analysis we are able to do some additional Information Gathering steps that we cannot do when performing Static Analysis. This section is meant to describe those steps.

Consider talking about Files and Permissions in "Sandbox Inspection".

[2019-07-26 13:35] cpholguera opened #1371 "6c - Create Debugging Subsections"
add "##### Debugging Release Apps" subsection to "#### Debugging" before "##### Debugging with lldb"

[code]

Maybe extract common steps from the lldb section that might be applicable for other debuggers like gdb.

Also consider adding more Debugging subsections to "#### Debugging" after "##### Debugging with lldb"

[code]

Check chapter 5c to keep it consistent.

[2019-07-26 13:39] cpholguera opened #1372 "6c - Add More Tracing Subsections"
add more tracing subsections to "#### Tracing" after "##### Execution Tracing"

[code]

Consider talking about ObjC/Swift methods' parameters and returns in "Method Tracing"

[2019-07-26 13:42] cpholguera opened #1373 "6c - Create Emulation-based Analysis"
add "#### Emulation-based Analysis" to "### Dynamic Analysis" after "#### Tracing"

[code]

Check chapter 5c to keep it consistent.

Consider:
- talking about simctl in "iOS Simulator" as well as caveats using the simulator. Consider the contents already in 6b "##### Testing on the iOS Simulator"
- adding Corellium https://corellium.com/ (just mention it shortly, it might vanish in some time)

[2019-07-26 13:45] cpholguera opened #1374 "6c - Create Binary Analysis"
add "#### Binary Analysis" to "### Dynamic Analysis" before "### Tampering and Runtime Instrumentation"

[code]

Check chapter 5c to keep it consistent.

[2019-07-26 13:47] cpholguera opened #1375 "6c - Add Another Example about Patching an iOS App"
add more examples of patching an iOS app after "##### Patching Example: Installing Frida Gadget"

For example:
[code]

Check chapter 5c to keep it consistent.

[2019-07-26 13:49] cpholguera opened #1376 "6c - Create Information Gathering (Dynamic Instrumentation)"
add "##### Information Gathering" to "#### Dynamic Instrumentation" after "##### Tooling"

[code]

This section is intended to show a couple of cases where you can apply dynamic analysis for Information Gathering and present some of the things you can retrieve.

[2019-07-26 13:51] cpholguera opened #1377 "6c - Create Process Exploration"
add "##### Process Exploration" to "#### Dynamic Instrumentation" after "##### Method Hooking".

[code]

This section is intended to show a view of the app from within its memory. One of the recommended tools to address here is r2frida.

Check chapter 5c to keep it consistent. Once this ticket is ready: #1365

[2019-07-27 05:10] commjoen opened #1382 "extend ### Testing Login Activity and Device Blocking (MSTG‑AUTH‑11)"
From https://github.com/OWASP/owasp-masvs/issues/189:
- [ ] how which meta-infromation can help (location, etc.) and which events should be covered (auth, change password, hitting important resources, etc.)
- [ ] accessing paid content might be interesting in tners of session logging :) no extension at the MASVS required: just extend the MSTG with a hint on payed content. Note: google play chekcou

[2019-07-27 05:13] commjoen opened #1383 "Explain in the guide that 4.9 + 2nd factor should mean: enforce at remote endpoint"
As derived from https://github.com/OWASP/owasp-masvs/issues/189: we have to make sure that we explain in the mstg that with MFA, the 2nd/3rd factor should be enforced at the remote endpoint. And explain why capthca's (webviews/etc.) might not be a good idea.

[2019-07-27 05:14] commjoen opened #1384 "Ensure that hardcoded keys in native ios/android code are explained as a bad idea."
Ensure that hardcoded keys in native ios/android code are explained as a bad idea.
As derived from https://github.com/OWASP/owasp-masvs/issues/189
- [x] check for android (style corrected at https://github.com/OWASP/owasp-mstg/pull/1404 and well covered)
- [x] check for iOS

[2019-07-27 05:17] commjoen opened #1385 "Make sure we cover pinning failbacks properly"
As described in: https://github.com/OWASP/owasp-masvs/issues/189: An app should give a notiifcation when something is wrong with a certifcate (pin), or at least log at the remote endpoint something is wrong. This is already in the mstg - just need to confirm what we say over there.
Let's make sure we explain this well for both iOS/Android / generic (either generic or specific for both platforms)

[2019-07-27 05:33] commjoen commented on #1254
#1379 fixes french and english version.
@coky-t : can you bring the japanese version in sync please?
@cpholguera can you bring the Spanish version in sync please?

[2019-07-27 13:13] commjoen commented on #1254
#1387 fixes japanese version. now only the spanish version and we can close this one

[2019-07-27 13:16] commjoen opened #1388 "Ensure that tiles are in sync on Excel and MSTG"
There are various titles in the excel document out of sync with the titles in the mstg. As reported by @cpholguera :
"Determining Whether the Keyboard Cache Is Disabled for Text Input Fields" (MSTG section)
"Testing Whether the Keyboard Cache Is Disabled for Text Input Fields" (excel)
or
"Verifying that 2FA is Enforced" (MSTG section)
"Testing 2-Factor Authentication" (excel)

Can we please make t

[2019-07-29 03:48] commjoen commented on #1388
Fixed in #1389

[2019-07-29 03:52] commjoen opened #1390 "Update excel after 1.1.3 and masvs 1.2 release"
When 1.2 and of the masvs is released and the os19 mstg release is done  we should;
- [x] Put in the mstg ids in the excel
- [ ] Make sure we cover v1.x

[2019-07-29 03:57] commjoen commented on #1388
I guess we still have to fix the spanish/japanese/french version...

[2019-07-31 15:29] commjoen commented on #1254
French ( #1392) and spanish (#1391) their links are updated again.

[2019-08-01 05:23] 51j0 commented on #943
Hi @commjoen sorry, got bit occupied, I have the first draft with me but I couldn't find any content related to the secure storage or best practice for handling the data. will keep you posted.

[2019-08-01 21:38] commjoen commented on #1254
All done! Thank you @coky-t , @cpholguera  & @A-AFTAHI  👍

[2019-08-01 21:38] #1254 closed

[2019-08-03 12:21] galapogos commented on #1139
I still don't see the MSTG-ID in the latest v1.1 checklist.

[2019-08-03 13:09] commjoen commented on #1139
The checklists will be updated after the release: we first need a 1.1.3 release, so we have the tag in our git, after that we can put them there :). Will keep the issue open till after the 1.1.3 release of the checklists 👍

[2019-08-04 11:06] #1388 closed

[2019-08-04 11:23] commjoen opened #1398 "Fix PDF/epub/online views for 1.1.3"
There are a couple of issues left with the 1.1.3 release:
- [x] there are too late page breaks in the pdf
- [x] the internal referencing (links) between pages does not always seem to work.

[2019-08-04 19:33] #1398 closed

[2019-08-06 10:23] meetinthemiddle-be opened #1402 "Use of PKCE is recommended in 0x04e, but there appears to be no testcase for verifying if it's in place"
**Platform:**
Both
**Description:**
When using the OAuth2 authorization code flow, code interception attacks are possible, which can be mitigated through implementing PKCE. A testcase for verifying the proper working of this mechanism would be good IMO. At the same time, this might be practically infeasible due to

A) an additional app that registers the same protocol as the app under test to catc

[2019-08-06 10:50] commjoen commented on #1402
Hi @meetinthemiddle-be , thank you for your issue. Is this issue the same as https://github.com/OWASP/owasp-mstg/issues/1174?

[2019-08-07 19:27] commjoen commented on #954
True, you're right about that. So, what happens if we combine it with https://stackoverflow.com/questions/10809438/how-to-know-an-application-is-installed-from-google-play-or-side-load ? Then you can see whether the current app came from the appstore or not and check what the global settings are... (or we focus on where the app is coming from only,..)

[2019-08-07 19:32] TheDauntless commented on #954
Then I think that's a check that would belong in the device hardening section, since the thing you're detecting is a (potentially) fake copy being installed from a non-trusted source.

[2019-08-07 19:57] commjoen commented on #954
Makes sense to me :)

[2019-08-10 23:24] sushi2k opened #1407 "[Android Tool] House"
**Platform:**
Android

**Description:**
Evaluate House (https://github.com/nccgroup/house) and check if it makes sense to add to MSTG. If it does add it to 0x05b.

[2019-08-11 11:46] sushi2k opened #1409 "[iOS Tool] Needle"
**Describe the issue**
Needle doesn't seem to be maintained anymore. The last update was > 1 year and no issues have been answered this year. It also doesnt' seem to work on iOS JB devices with Chimera. https://github.com/mwrlabs/needle/issues/273

We should review where we use Needle and if other tools are a better alternative (e.g. objection, passionfruit).

[2019-08-11 13:59] commjoen commented on #1409
Needle still does the job for me if I want to use it using ios 12 jailbroken device with unc0ver. There are quiet a few tools that require to use unc0ver. I think we can re-evaluate after a year again.

[2019-08-11 19:36] commjoen commented on #1390
Fixed in https://github.com/OWASP/owasp-mstg/pull/1403

[2019-08-11 19:36] #1390 closed

[2019-08-11 20:35] cpholguera commented on #1409
I was doing some research on Needle (for the sake of going towards offering the most up-to-date and relevant tools).

Considering that:
- its installation is far from straightforward (it gave me several headaches)
- it has **very old dependencies** incl. Python2 (end of life: January 1st, 2020), mitmproxy-0.17.1 (current: 4.0.4)
- there are better, simpler and modern alternatives

Here's an overvi

[2019-08-11 20:42] commjoen commented on #1409
Good research @cpholguera ! Well done! Maybe, in the mean time as step 0: explain that we have to use unc0ver as a JB instead of Chimera, show the "odd steps" and then execute step 1 :). Because that is already quiet a huge step :).

[2019-08-11 20:45] cpholguera commented on #1409
Thank you! I agree. That's a good zero step ;)

[2019-08-11 20:49] commjoen commented on #1409
so maybe we can start doing step 0 in this issue, then have another issue with step 1/2 and then another issue with step 3 :) ?

[2019-08-11 22:42] sushi2k commented on #1409
That's a good plan. Let's just suggest for now the usage of unc0ver and that there are issues with Chimera and do the rest with 1.3 milestone.

See  https://github.com/OWASP/owasp-mstg/pull/1411

[2019-08-12 10:39] meetinthemiddle-be commented on #1402
Partly, yes and at the same time, I'm thinking it might be good to split it up in smaller chunks like this one. Going through an entire RFC is quite an endeavor.

[2019-08-12 10:53] commjoen commented on #1402
Agreed, let's have a few issues in there :)

[2019-08-12 10:55] commjoen commented on #1402
I guess we have to check per flow whether it is a good idea in a mobile app, and if so, which controls should be in place.

[2019-08-13 05:07] commjoen commented on #1384
Both are covered sufficiently . ios is in https://github.com/OWASP/owasp-mstg/blob/1.1.3/Document/0x06e-Testing-Cryptography.md#testing-key-management-mstg-crypto-1-and-mstg-crypto-5.

[2019-08-13 05:07] #1384 closed

[2019-08-13 05:11] commjoen commented on #1402
In the end we do need a testcase: creating a test app that intercepts protocols should already have a testcase. When OAuth based flows need to be tested, then we can be pretty sure that a server is available. As long as the server itself is not manipulated, then we can often have it in testing scope.

[2019-08-13 14:02] commjoen commented on #1409
Step 1 completed in  #1411. Want to move this issue to 1.3?

[2019-08-14 04:49] commjoen commented on #1161
Fixed in #1412

[2019-08-14 04:49] #1161 closed

[2019-08-14 21:36] commjoen commented on #1385
Closed in #1413

[2019-08-14 21:36] #1385 closed

[2019-08-14 21:36] commjoen commented on #1402
I will start working on this soon 👍

[2019-08-15 15:37] commjoen commented on #1283
Hi there, what is the current status of this issue?

[2019-08-15 15:39] commjoen commented on #1201
There are no mitigating steps apparently: only "upgrade your device"? if it only leaks ecdsa, we could recommend, for older devices that might not have been patched, to not use ecdsa keys?

[2019-08-16 05:37] commjoen commented on #1189
Hi @DimaKoz : do you have any updates on this ?

[2019-08-16 05:42] commjoen opened #1416 "Testing app-extensions: how can they be used to attack the main process via the shared container"
This is a ticket based on #1183: given iOS app-extensions: explain how they can be used to inject data into the main process and vice-a-versa: how can they be used to leak data?

[2019-08-16 05:43] commjoen commented on #1183
Closing this on behalf of #1416 with more clarity.

[2019-08-16 05:43] #1183 closed

[2019-08-16 05:44] commjoen commented on #1181
We have ART, Jack&Jill (discontinued) and...others? do we want to include each of them? or is it better to refer to websites describing them?

[2019-08-16 06:02] cpholguera commented on #1139
Isn't this already done after closing #1405? The checklists already contain the MSTG-XX IDs

[2019-08-16 06:08] cpholguera commented on #1130
@sushi2k @TheDauntless do we have a conclusion here?

[2019-08-19 19:02] commjoen commented on #797
@B3nac did you get any further with this :) ?

[2019-08-19 19:08] commjoen commented on #889
explain:
- what secure compiler settings should be set?
- what configuration should be avoided?

[2019-08-19 19:16] commjoen commented on #943
Items to discuss here are:
- how can autofill help with password managers? And how can you use autofill to store credentials for an app?
- how can autofill actually make a user leak info into (other) app their ui?

[2019-08-19 19:18] commjoen commented on #944
So at this one: upgrade the webview for android description (And add a reference for iOS) and explain how safebrowsing api's can help to secure content at webviews and the virus otal api's can be used to see if content stored locally is benign...
Also explain the dangers of leaking information through those urls (E.g. confidential information should not be uploaded)

[2019-08-19 19:40] commjoen commented on #945
Describe:
- what does it do?
- how should it be used securely?
- what is wrong to do with these api's? - e.g.: what should you be looking for in terms of insecurities?

[2019-08-19 19:45] commjoen commented on #947
Todo:
- [ ] update crypto/signing recommendations for android (what not to use and what to use)
- [ ] update key derivation functions (recommend right ones, derecommend wrong/sweaker ones)
- [ ] verify that provider selection is no longer recommended anywhere
- [ ] keychain and keystore (key goal) updates (E..g what to use and what not to use)

[2019-08-19 19:47] commjoen commented on #948
Can be derived in | **4.10** | MSTG‑AUTH‑10 | Sensitive transactions require step-up authentication.  |   | ✓ |

[2019-08-19 19:59] commjoen commented on #949
- [ ] cover strongbox (And the requirement for a fallback for older devices
- [ ] cover titan in terms of programmatic interaction if necessary.

[2019-08-19 20:05] commjoen commented on #955
on: how to detect native code in use & how to wrap it right and how to wrap it wrongly.

[2019-08-19 20:06] commjoen commented on #959
@subodhkrishna do you have any updates on this?

[2019-08-19 20:06] commjoen commented on #961
Still looking for a volunteer!

[2019-08-19 20:08] commjoen commented on #971
@cldrn : do you have any updates on this?

[2019-08-19 20:10] commjoen commented on #997
Hi @anantshri,
do you have any update on this?

[2019-08-19 20:11] commjoen commented on #1003
Sorry for not getting back for a longer while: I still have this issue on my todolist and will get through processing it eventually.

[2019-08-19 20:12] commjoen commented on #1050
cleaning it up, will cost releases. shall we close this or do you want to clean up specific documents still for specific commits?

[2019-08-19 20:13] commjoen commented on #1047
Hi @david3107 : do you have any updates on this :) ?

[2019-08-19 20:16] commjoen commented on #1139
Can be closed now as the mstg-ids are in https://github.com/OWASP/owasp-mstg/releases/tag/1.1.3-excel

[2019-08-19 20:16] #1139 closed

[2019-08-19 21:07] commjoen commented on #1041
[CouchDB Writeup Android.docx](https://github.com/OWASP/owasp-mstg/files/3517672/CouchDB.Writeup.Android.docx)
WIP by @shwetajoshi26  👍 . Will have to pick this up and add data to git (e.g. how to exploit/secure and verify it)

[2019-08-19 21:10] commjoen commented on #1160
Check for both good- and bad practices that came to life with the changes here ;-)

[2019-08-19 21:11] commjoen commented on #961
Assigned for @cak. Welcome aboard!

[2019-08-19 22:06] sushi2k commented on #1201
Let's use this as an example when describing MSTG‑STORAGE‑14 in the MSTG, to demonstrate this as defense-in-depth requirements, "Android developers who use the keystore in their applications can also take advantage of the user authentication requirements and key attestation offered by the keystore."
Including your suggestion to consider not using ECDSA on older devices due to this issue.

[2019-08-20 04:42] commjoen commented on #1162
Explain how it works in short, what a dev should do to leverage it and what the bad practices are.

[2019-08-20 04:43] commjoen commented on #1163
And do the same for android in this ticket :).

[2019-08-21 21:50] cpholguera commented on #954
It was hard to map this to the MASVS current requirements. First I thought we'd need to have an additional MSTG‑RESILIENCE one, something like:

[code]

But then I remembered seen already something about "Code integrity checks", that is in 0x5j "[Testing File Integrity Checks (MSTG-RESILIENCE-3)](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05j-Testing-Resiliency-Against-Reverse-Engi

[2019-08-21 23:48] sushi2k commented on #954
Hey Carlos,
I like your suggestion and it definitely fit's best into the RE domain.

First I thought it's redundant to 8.6 or 8.4, but it they all touch different aspects (8.4 is checking if RE tools are present on the OS and 8.6 is about  memory, not the files in the sandbox). So +1 for your suggestion.

[2019-08-22 06:18] commjoen commented on #954
Hi there,
i am fine to extend MSTG-RESILIENCE-3 in that direction. Please create a PR and then we can have this one in as a pr for the mstg as well.

[2019-08-22 06:25] TheDauntless commented on #954
That's a lot in one requirement. This check is mostly aimed at apps like games that need to prevent cheating (or other apps with heavy client-side controls). Modifications can also happen while the app is not running (e.g. modify a .dll or .so in /data/app/package/lib).

Finally, modifying assets may also be sensitive ("see-through walls") and I don't know if that's clear in the current descriptio

[2019-08-22 07:53] commjoen commented on #954
As agreed: let's not put sideloading in the requirement, as it is used as part of android for work/ apple for enterprise. Sideloading should only be an indicator of a possible tampering if the sideloading source is different than the one recommended.

[2019-08-22 08:01] commjoen commented on #954
So for now: let's keep the requirement as it is and focus on the ticket at hand:  if we combine the global setting detection with https://stackoverflow.com/questions/10809438/how-to-know-an-application-is-installed-from-google-play-or-side-load then we can at least have another indicator of whether the app has been tampered.

[2019-08-22 10:19] cpholguera commented on #1130
An app can obtain its own PID by using `android.os.Process.myPid()`, then use this to read `'cat /proc/' + pid + '/maps'` via `Runtime.getRuntime().exec`. That way it's possible to _detect_ Frida. However, using `/proc/self/maps` returns some output but won't reveal Frida.

Tested on Android 8 rooted phone using Frida (to detect Frida, yes :P) and via CLI (termux). Also tested simply via CLI (Term

[2019-08-22 21:38] TheDauntless opened #1421 "Dwarf toolchain"
Platform:
Android

Description:
Evaluate Dwarf (http://www.giovanni-rocca.com/dwarf/) and check if it makes sense to add to MSTG. If it does add it to 0x05c.

[2019-08-22 21:38] TheDauntless commented on #1421
I've set the milestone to 1.4 since it's still a very young project, and tackles a niche segment.

[2019-08-23 08:31] commjoen commented on #1321
Covered in #1418

[2019-08-23 08:31] #1321 closed

[2019-08-28 07:04] cpholguera commented on #1116
For 8.9 take a look at https://github.com/rockbruno/swiftshield

[2019-08-28 14:20] cpholguera commented on #1368
Hi @su-vikas , that's very nice. We can assign it to you then :)

I'd say, you can start with Ghidra and we'll see. We'll probably be discarding IDA Pro but we still have to discuss about it. Nevertheless, at least you're not blocked if you want to start with Ghidra. Please let us know if you have any questions here or on the slack channel. Thank you!

[2019-08-29 07:01] commjoen opened #1429 "Update the Readme for the checklist folder"
As discussed with @ThunderSon : we need to update https://github.com/OWASP/owasp-mstg/blob/master/Checklists/README.md with:
- [x] SHA-256 hashes and instructions for mac/windows/linux to verify the hash/generate the hash per excel file (Given that it is a binary file)
- [ ] Instructions on how to import the file into google docs/sheets.

[2019-08-29 12:38] cpholguera commented on #1368
The ticket is already assigned to you in the project and set to "in progress". Please let us know if you have any questions :)

[2019-09-01 05:45] commjoen commented on #1365
Fixed in https://github.com/OWASP/owasp-mstg/pull/1424

[2019-09-01 05:45] #1365 closed

[2019-09-01 05:45] commjoen commented on #1377
Fixed in https://github.com/OWASP/owasp-mstg/pull/1424

[2019-09-01 05:45] #1377 closed

[2019-09-03 01:45] AOrobator opened #1431 "Extraneous word and formatting issue."
**Describe the issue**
In line 71 of 0x05d-Testing-Data-Storage.md, there are missing spaces after commas.

There is also an extra "the".

`applications and found that the around 9%`

should be

`applications and found that around 9%`

[2019-09-03 02:23] AOrobator opened #1433 "Misused word"
**Describe the issue**
In 0x05d-Testing-Data-Storage.md L127, when talking about passwords for realm databases, the word deferred is used, but probably should have been derived.

[2019-09-03 07:10] commjoen commented on #1433
An issue, a PR, all correct! What more can we wish for?
Getting it to the next release ofcourse ^^. Thank you again @AOrobator !
Fixed in #1434 .

[2019-09-03 07:10] #1433 closed

[2019-09-03 12:28] commjoen commented on #1431
fixedin #1432

[2019-09-03 12:28] #1431 closed

[2019-09-03 12:45] AOrobator commented on #1433
I'm learning a bunch from going through these documents, so I figured I'd pay it forward :)

[2019-09-03 12:52] commjoen commented on #1433
And we are grateful for you doing so! Thanks again 👍

[2019-09-04 04:08] commjoen commented on #1429
The first part is taken care of in #1435.

[2019-09-06 14:26] lehejcek opened #1436 "Flutter MSTG"
[Fuchsia](https://fuchsia.dev/) could became a wide spread OS and the [Flutter](https://flutter.dev/) SDK could be the preview of how apps will be build for it. Also its [high adoption](https://trends.google.com/trends/explore?date=today%205-y&geo=DE&q=flutter,react%20native) among developers for building apps for Android, iOS, macOS, Linux, Windows and the Web are maybe reasons to take a closer l

[2019-09-06 14:29] commjoen commented on #1436
Hi @lehejcek as you probably will understand, we cannot support that given the large amount of work. Instead the MSTG currently supports only Android and iOS . Instead, we can do something similar as we have started of with https://github.com/OWASP/owasp-masvs/issues/293 by asking you as the requestor to start mapping the compliancy sheet for Flutter. Are you up for that challenge?

[2019-09-06 14:40] lehejcek commented on #1436
Hi @commjoen sure, i am in 😃

[2019-09-06 16:21] commjoen commented on #1436
LEt's go then: fill in https://drive.google.com/file/d/1wHK3VI1cU1xmYrCu9yb5OHKUEeLIPSkC/view?usp=sharing 👍

[2019-09-06 16:29] commjoen commented on #1436
We will ask support from others through Twitter and Slack as we simply cannot write down all these security recommendations for those projects ATM.

[2019-09-10 01:40] commjoen commented on #1402
B should not be a problem as long as you have a testing app registered with test-credentials.
A should not be a problem, but will require some sort of testing application which just intercepts the custom handler scheme. Sounds like a testcase? I have started to do some small work, but it is with babysteps as family-life + worklife is taking quiet some time now

[2019-09-10 02:06] commjoen commented on #954
and we can start explaining the user on how to get the app if there is a different installer used then required by the developer

[2019-09-11 16:25] cpholguera opened #1444 "Alternative App Store apkpure not displaying SHA values"
APKpure claims to offer only verified APKs and their SHA. However, I'm not able to display the SHA values:

https://apkpure.com/es/faq-safe.html

APK Mirror on the other hand displays this information when clicking on **Verified safe to install (read more)**. Both SHA-1 and SHA-256 are displayed.

I'd investigate this further. Because the guide states that both pages display the SHA values.

https

[2019-09-11 18:00] commjoen commented on #1444
<img width="1677" alt="Schermafbeelding 2019-09-11 om 19 57 01" src="https://user-images.githubusercontent.com/1457214/64722256-66873800-d4ce-11e9-845a-5b9703dc99f2.png">
Steps to reproduce:
1. open a title
2. scroll to Versiones anteriores
3. select the version
4. click on ...
5. you can see hte version info.

I rather not detail steps to get it in the MSTG as this will change at the sites over t

[2019-09-11 18:01] commjoen commented on #1444
Can we close this 👍  :-) ?

[2019-09-11 19:47] cpholguera commented on #1444
Nice! Thanks for checking. No, no need for step but good to verify it. We can close it :)

[2019-09-11 20:00] commjoen commented on #1444
Closing as agreed.

[2019-09-11 20:00] #1444 closed

[2019-09-11 21:35] J3rry367 opened #1445 "Update Android Basic Security Testing to Include Inspeckage Usage"
Inspeckage is referenced a couple of times within the MSTG, but it'd be nice if there was more of an explanation of it's use case in the Android Basic Security Testing section.

I've found that It's extremely useful in the initial information gathering stages as it allows you to download the APK, explore the data directory, package information, shared_prefs, etc.

On top of that, when it is refere

[2019-09-12 02:07] commjoen commented on #1382
Covered in #1426

[2019-09-12 02:07] #1382 closed

[2019-09-12 06:48] commjoen commented on #1445
Hi @J3rry367! Thank you for submitting this issue. We used to have Inspeckage more described in the MSTG, but due to the work necessary to install it and the issues there have been on various android versions (Both due the Xposed components which have not always been working on each android verison), we removed it.
However, I do believe there is space in the host computer tools section at https://

[2019-09-12 10:11] toorka opened #1449 "Android Anti-Reversing Defenses: Testing File Integrity Checks (MSTG-RESILIENCE-3) requires updating"
hi

There are few comments related to: https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05j-Testing-Resiliency-Against-Reverse-Engineering.md#testing-file-integrity-checks-mstg-resilience-3

1. Google Play modify AndroidManifest.xml after application publishing - did you see such behaviour?

2. Android App Bundles: From documentation - "Google Play automatically generates and serves opti

[2019-09-12 17:05] cpholguera opened #1450 "[Android Tool] Dexcalibur"
Evaluate Dexcalibur (https://github.com/FrenchYeti/dexcalibur/wiki/Gallery) and check if it makes sense to add to MSTG. If it does add it to 0x05b.

https://www.youtube.com/watch?v=2dGoolvMEpI

[2019-09-13 07:27] commjoen commented on #1201
Maybe we can extend this issue wirth the take-aways from https://android-developers.googleblog.com/2019/09/trust-but-verify-attestation-with.html?m=1 ?

[2019-09-13 18:02] J3rry367 commented on #1445
yep I can put something together

[2019-09-13 20:38] commjoen commented on #1445
Great! Looking forward to it!

[2019-09-17 11:45] meetinthemiddle-be opened #1457 "Document Xamarin specific oddities in Google Document"
Traceability-bug from Slack discussion on September 13th 2019.
E.g.: as discussed over Slack: we would like to have a google doc based compliance sheet which describes the different actions for Xamarin to secure a Xamarin app correctly compared to a native app.

[2019-09-17 11:50] commjoen commented on #1457
You ask: we serve! https://drive.google.com/file/d/1UL1yLRREJwXfe0HlrcX-IuvPYQM7lTtG/view?usp=sharing

[2019-09-17 11:56] commjoen commented on #1457
At this point, similarly to the React-native and Flutter checklist, we cannot fill it in ourselves as we are working on the native security issues instead of the hybrid ones. But let's see who can join to check the entries and update them.

[2019-09-17 12:02] commjoen commented on #1457
So for now: any experienced Xamarin developer and/or security expert: feel free to join! Check https://drive.google.com/file/d/1UL1yLRREJwXfe0HlrcX-IuvPYQM7lTtG/view?usp=sharing and help the community on how the controls should be implemented and validated (e.g. follow MSTG and/or  describe how to deal with it using Xamarin)

[2019-09-18 05:00] fujiokayu opened #1459 "the link to the "React-Native Compliancy Checklist" seems wrong"
"React-Native Compliancy Checklist (WIP)" has linked "Flutter Compliancy Checklist (WIP)"

at README.md, line 110.
[code]

[2019-09-18 06:29] commjoen commented on #1459
Thanks for noticing! Hope to get that fixed today ;-).

[2019-09-18 06:31] commjoen commented on #1459
Hi @fujiokayu , can you verify that all links work for you now please?

[2019-09-18 06:42] fujiokayu commented on #1459
@commjoen

Verified 3 links include "React-Native Compliancy Checklist (WIP)" are correct.
Thanks a lot.

[2019-09-18 06:42] #1459 closed

[2019-09-20 08:30] d0n473ll0 opened #1461 "Android biometry auth bypass"
Hi there!

OWASP MSTG (https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05f-Testing-Local-Authentication.md#dynamic-analysis-1) contains the following:

"you could use Frida to call the onAuthenticationSucceeded callback method directly"

I tried to implement this attack using Frida, and I can't find appropriate js script on the Internet..
Also, I tried to write own script for attack, bu

[2019-09-21 20:02] commjoen commented on #1461
Hi @d0n473ll0, thank you for submitting your issue. I can have a look at those scripts soon after appsec global Ansterdam ;-).

[2019-09-25 03:29] commjoen commented on #1367
@su-vikas , can you accept the invite at https://github.com/OWASP/owasp-mstg/invitations so we can assign this ticket to you ?

[2019-09-25 04:14] commjoen commented on #1449
Hi @olex-st , sorry I missed this issue. Let me try to give it a go.
1. I am note sure: I have not payed attention to it lately. Maybe @cpholguera / @TheDauntless / @sushi2k did?
2. Good catch! we started documenting app-bundles at https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05a-Platform-Overview.md#app-bundles but did not update the reverse-engineering part yet. This should be upda

[2019-09-25 04:21] commjoen commented on #797
Many of these apps are already referred to in https://github.com/OWASP/owasp-mstg/blob/master/Document/0x08-Testing-Tools.md#vulnerable-applications so we can close this down i suppose.

[2019-09-25 04:21] #797 closed

[2019-09-25 04:24] commjoen commented on #880
Hi @shuber1 , while cleaning up older issues, I saw this issue still being open. Were the responses in this issue satisfying enough to close this issue?

[2019-09-25 04:30] commjoen commented on #1189
@sushi2k / @cpholguera the author of the issue no longer has time for this item to be processed. I think it would be good to invest in the anti-reverse engineering chapters in a next OSS (together with updates on ios 12/13 android 9/10). Moving it to milestone 1.3

[2019-09-25 06:50] commjoen commented on #1145
We (@cpholguera and me ) have been thinking about this and screen mirroring requires a user to actively say "yes" to mirror his screen. It always requires OS level interaction.
Unlike overlay attacks, at which the user does not have to be warned, screen mirroring is based on sessions which actively require user interaction. Therefore we think the benefit of having these checks and requirements doe

[2019-09-25 06:50] #1145 closed

[2019-09-25 12:52] blacklotos commented on #877
That invite link is no longer active. Can you provide the new one?

[2019-09-25 13:37] blacklotos opened #1469 "I am not able to join to https://owasp.slack.com/"
Hi, I can't join to https://owasp.slack.com/, how can I do? The slack web page ask me user and password like if you need to invite me to the slack, or I need to be invited?

[2019-09-25 13:43] commjoen commented on #877
https://join.slack.com/t/owasp/shared_invite/enQtNjExMTc3MTg0MzU4LTViMDg1MmJiMzMwZGUxZjgxZWQ1MTE0NTBlOTBhNjhhZDIzZTZiNmEwOTJlYjdkMzAxMGVhNDkwNDNiNjZiOWQ

[2019-09-25 13:44] commjoen commented on #1469
Hi there, let's close this one in favor of https://github.com/OWASP/owasp-mstg/issues/877 for updates on this matter. officially we do not manage owasp slack, but we can respond over there centrally ^^.

[2019-09-25 13:44] #1469 closed

[2019-09-25 15:29] blacklotos commented on #1469
Thank you

[2019-09-25 15:34] blacklotos commented on #877
Sorry to disturb you, bud link what you provide in unactive "This invite link is no longer active.
Please check with the person who shared it with you to see if there's a new link available."
I just was unable to find an official way to request an invitation. (http://owasp.herokuapp.com - seams not working it redirect to Juceshop)

[2019-09-25 16:11] commjoen commented on #877
hi @blacklotos, I just contacted one of the owners/admins of the Slack and asked for a new link. We are waiting for that.

[2019-09-25 16:37] blacklotos commented on #877
thank you a lot

[2019-09-26 06:38] shuber1 commented on #880
Can close it.

Am Mittwoch, 25. September 2019 schrieb Jeroen Willemsen <
notifications@github.com>:

[2019-09-26 07:03] #880 closed

[2019-09-26 09:14] commjoen commented on #877
So a new link got released: https://join.slack.com/t/owasp/shared_invite/enQtNjExMTc3MTg0MzU4LWQ2Nzg3NGJiZGQ2MjRmNzkzN2Q4YzU1MWYyZTdjYjA2ZTA5M2RkNzE2ZjdkNzI5ZThhOWY5MjljYWZmYmY4ZjM

[2019-09-26 10:37] blacklotos commented on #877
thank you a lot

[2019-09-27 07:12] galapogos opened #1474 "Unclear/invalid recommendation in testing of 2FA/step up authentication"
**Describe the issue**
In "Testing Two-Factor Authentication and Step-up Authentication (MSTG-AUTH-9 and MSTG-AUTH-10)", under "Dangers of SMS-OTP", one of the recommendations to reduce the likelihood of exploitation when using SMS for OTP is "Dedicated Channel: Send OTPs to a dedicated application that is only used to receive OTPs and that other applications can't access." Is this even possible o

[2019-09-27 09:14] sushi2k commented on #1474
Thanks @galapogos for the issue.

I think the intention of this statement was: „use APN on iOS and NotificationCompat/Firebase on Android).
Using push notifications is much more secure than OTP and then only the app itself can read/receive it.

Let me follow up on that and create a PR for clarification

[2019-09-27 09:23] sushi2k commented on #1474
What do you think about the change @galapogos? Please feel free to comment the PR https://github.com/OWASP/owasp-mstg/pull/1475/files

[2019-09-27 09:29] galapogos commented on #1474
Thanks, much clearer!

[2019-09-27 09:33] sushi2k commented on #1474
Cool. Thanks for pointing it out! Just need an approval from one of the other project leaders and we can merge it into master!

Cheers

[2019-09-27 12:40] commjoen commented on #1367
@cpholguera can this now be closed?

[2019-09-27 12:44] commjoen commented on #1474
Well pointed out sir! Fixed by @sushi2k , thanks!

[2019-09-27 12:44] #1474 closed

[2019-09-27 12:45] cpholguera commented on #1367
If I understood the last PR properly that was just the introduction in 5b. This is the actual content in 5c. Here it should get concrete and specific on what to consider when reversing iOS binaries. The other intro section was just about which tools you can use for it.

What we could do is to choose one of the tools here and write the section with it.

So we could remove the mentioned subsections

[2019-09-28 06:56] su-vikas commented on #1367
@cpholguera  can you please elaborate a bit more. I feel what you are suggesting will be part of #1368.

[2019-09-29 21:28] cpholguera opened #1476 "Dead links"
Results of running remark-lint with remark-lint-no-dead-urls:

[code]

The one's that are really dead should be fixed.

[2019-09-30 09:10] commjoen commented on #1429
I guess we can skip the upload instructions for now.

[2019-09-30 09:10] #1429 closed

[2019-10-01 05:17] commjoen commented on #1476
Let's wait for the hacking playground (@sushi2k ) to have releases before we update those links

[2019-10-01 05:18] commjoen commented on #1476
From https://github.com/FSecureLABS/needle/issues/178: Getting a 404 if you try to hit http://mobiletools.mwrinfosecurity.com/cydia/ with your browser is intended behaviour. Cydia will instead use that endpoint to fetch a bunch of components needed to install the app (e.g., NeedleAgent.deb, CydiaIcon.png, etc.)

[2019-10-01 05:20] commjoen commented on #1476
https://www.safaribooksonline.com/library/view/hacking-and-securing/9781449325213/ch01s03.html and https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man1/plutil.1.html have been replaced in the english version..

[2019-10-01 05:20] commjoen commented on #1476
Maybe we should scope the deadlinks to the english version for now?

[2019-10-01 05:21] commjoen commented on #1476
https://cryptome.org/2016/01/CNSA-Suite-and-Quantum-Computing-FAQ.pdf is not dead but slow

[2019-10-01 05:22] commjoen commented on #1476
https://developer.apple.com/documentation/corelocation/determining_the_availability_of_location_services --> https://developer.apple.com/documentation/corelocation/adding_location_services_to_your_app

[2019-10-02 10:06] cpholguera commented on #889
Hints, you can find useful information in https://developer.android.com/ndk/downloads/revision_history

- Android NDK, Revision r18b (September 2018): Support for ICS (android-14 and android-15) has been removed. Apps using executables no longer need to provide both a PIE and non-PIE executable.
- Android NDK, Revision 10d (December 2014): Introduced the requirement, starting from API level 21, to

[2019-10-02 10:16] cpholguera commented on #942
Is this relevant when applying the MASVS security controls? I have the feeling that this is more information "for developers" and, in that case, I'd close it.

_"We’ve updated the building for billions guidelines with additional guidance on how to optimize your app for devices running Android Oreo (Go edition). For most developers, optimizing your existing APK or using Google Play’s Multiple APK f

[2019-10-02 10:19] #1130 closed

[2019-10-02 10:20] cpholguera commented on #1116
We should split this one into several smaller tickets. Easier to track and follow. What do you think?

[2019-10-02 10:21] commjoen commented on #1116
yes please :D

[2019-10-03 06:20] commjoen commented on #942
The only think I want to cover here is, that when downsizing your application, you should take lightweight, but still effective controls and not remove the main controls out of your "fat" application. This can be as simple as extending the instant-apps with a notification Go based apps i guess...

[2019-10-03 13:43] cpholguera commented on #1409
See suggestion from https://github.com/OWASP/owasp-mstg/pull/1481

[2019-10-03 20:56] commjoen opened #1482 "Hybrid application checklist experiments:"
This issue covers delta analysis of the 3 most important hybrid platforms:

- [ ] React native: https://drive.google.com/open?id=1P5FZ_Bup5eSPOmkePZA8cIpKGOKvngkN
- [ ] Xamarin: https://drive.google.com/open?id=1UL1yLRREJwXfe0HlrcX-IuvPYQM7lTtG
- [ ] Flutter: https://drive.google.com/open?id=1wHK3VI1cU1xmYrCu9yb5OHKUEeLIPSkC

[2019-10-03 21:04] commjoen commented on #1457
Migrated issue to https://github.com/OWASP/owasp-mstg/issues/1482

[2019-10-03 21:04] #1457 closed

[2019-10-03 21:04] commjoen commented on #1436
Migrating issue to https://github.com/OWASP/owasp-mstg/issues/1482

[2019-10-03 21:04] #1436 closed

[2019-10-04 00:59] sushi2k commented on #1461
@d0n473ll0 Sorry for the late response.
If possible, could you share the Frida script that you have done and what the error is?

Otherwise, you could try the script from MWR: https://labs.f-secure.com/blog/how-secure-is-your-android-keystore-authentication, in the section "Biometric/Fingerprint authentication".

https://github.com/FSecureLABS/android-keystore-audit/blob/master/frida-scripts/finger

[2019-10-04 16:42] d0n473ll0 commented on #1461
@sushi2k Hello!
Thank you very much! It works with a little fix!

When I tried https://github.com/FSecureLABS/android-keystore-audit/blob/master/frida-scripts/fingerprint-bypass.js on AVD emulator with API 23, I got error:
`Error: <init>(): argument count of 3 does not match any of:
	.overload('android.hardware.fingerprint.FingerprintManager$CryptoObject', 'android.hardware.fingerprint.Fingerprint

[2019-10-04 16:53] d0n473ll0 commented on #1461
And I plan to test it on a real device

[2019-10-04 19:35] commjoen commented on #1461
maybe have a little PR about this to further show how this works to all the rest of the readers :) ?

[2019-10-04 19:52] commjoen opened #1484 "Create testcase for MSTG-Storage-13 & MSTG‑STORAGE‑14"
MSTG-Storage-13: No sensitive data should be stored locally on the mobile device. Instead, data should be retrieved from a remote endpoint when needed and only be kept in memory.
and
MSTG-Storage-14: If sensitive data is still required to be stored locally, it should be encrypted using a key derived from hardware backed storage which requires authentication.
requiers a testcase. This can be done w

[2019-10-04 19:52] commjoen opened #1485 "Create testcase for MSTG-Storage-15"
We need a testcase for MSTG-STORAGE-15:

The app’s local storage should be wiped after an excessive number of failed authentication attempts.
 for both android and ios

[2019-10-04 19:53] commjoen opened #1486 "Extend MSTG-CODE-4 testcases"
The MSTG-Code-4 testcases should be extended to include checks fo rany other developer asissting code (backdoors etc.)

[2019-10-04 20:33] commjoen opened #1487 "Extend webview testcases with MSTG-Platform-10"
MSTG-Platform-10; A WebView's cache, storage, and loaded resources (JavaScript, etc.) should be cleared before the WebView is destroyed.
for both ios and android

[2019-10-04 20:34] commjoen opened #1488 "Implement testcase for MSTG-PLATFORM-11"
MSTG-PLATFORM-11: Verify that the app prevents usage of custom third-party keyboards whenever sensitive data is entered.

[2019-10-05 05:54] commjoen opened #1489 "Create authorization testcase (for MSTG-AUTH-12)"
Create testcase for  MSTG‑AUTH‑12 Authorization models should be defined and enforced at the remote endpoint at general testing guide part.

[2019-10-05 05:55] commjoen opened #1490 "Create general testcase for MSTG‑ARCH‑11 (responsible disclosure)"
Create a general testcase for MSTG‑ARCH‑11: A responsible disclosure policy is in place and effectively applied.

[2019-10-05 06:03] commjoen opened #1491 "Extend user education testcase based on MSTG‑ARCH‑12"
MSTG‑ARCH‑12: The app should comply with privacy laws and regulations.
Furthermore, based on this, the following actions need to be taken:
- [ ] Extend user education section
- [x] Extend explanation on that this includes not having location data in images and tracking, unless that is consented by the user (https://github.com/OWASP/owasp-masvs/issues/298). Next, make sure we show how to remove exi

[2019-10-05 06:06] commjoen opened #1492 "Extend MSTG‑NETWORK‑3 with Certificate transparency for iOS and Android"
Extend MSTG‑NETWORK‑3 with Certificate transparency for iOS and Android

[2019-10-05 06:07] commjoen commented on #1492
See :
https://www.agnosticdev.com/blog-entry/network-security/mobile-landscape-certificate-transparency
https://github.com/technion/ct_advisor
https://github.com/google/conscrypt
https://github.com/google/certificate-transparency-java
https://www.agnosticdev.com/blog-entry/network-security/mobile-landscape-certificate-transparency
https://github.com/Babylonpartners/certificate-transparency-android

[2019-10-05 06:09] commjoen opened #1493 "Extend MSTG on connectivity remarks"
Based on https://github.com/OWASP/owasp-masvs/issues/132, we should have a MSTG-ARCH-3 testcase with explanation on the risks of bluetooth/nfc/etc. and reference to the testcase for payload encryption MSTG-MSTG‑RESILIENCE‑13.

[2019-10-05 06:11] commjoen opened #1494 "Have a testcase for MSTG‑RESILIENCE‑13"
We need a testcase for MSTG‑RESILIENCE‑13: As a defense in depth, next to having solid hardening of the communicating parties, application level payload encryption can be applied to further impede eavesdropping.

[2019-10-05 06:12] commjoen commented on #1493
See https://github.com/OWASP/owasp-mstg/issues/1494

[2019-10-05 06:36] commjoen opened #1495 "Open todo's for 0x05a Broadcast Receiver fix"
TODO:

1. What does the programmatically declared receiver mean in terms of android:exported and android:enabled? How can we make sure that not everything can start this?
 - https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05h-Testing-Platform-Interaction.md#inspect-the-androidmanifest-2: update this regarding default values when setting a manifest-based receiver
 - https://github.com/OW

[2019-10-05 06:49] commjoen commented on #1317
Will create the other tickets soon 👍

[2019-10-05 17:08] jasondoyle opened #1496 "Testing Backups for Tamper Detection"
I believe there is a need to add a section for testing tamper detection of modified backups in iOS apps. Many times security configurations are stored plainly in some plist within the app container and no keychain based integrity checks are performed to ensure security controls are not disabled after a device restore.

I've used this attack to disable UI lockscreens when the pin is stored in a pli

[2019-10-05 19:37] commjoen commented on #1356
Fixed in #1480

[2019-10-05 19:37] #1356 closed

[2019-10-06 05:49] commjoen commented on #1496
Hi @jasondoyle ! Thank you for submitting an issue. Just to make sure I understand: is this really the backup which you are then attacking or the plist stored on the filesystem?

[2019-10-06 06:28] commjoen commented on #1476
@sushi2k : apperently there has been an android 5 and an android 7 app in the MSTG hacking playground which no longer seems to be the case: how should the writeup now be resolved? can you build another app? or what would be wise?

[2019-10-06 06:31] commjoen commented on #1476
Will fix it for now, creating links to earlier items in the git ;-)

[2019-10-06 08:02] commjoen commented on #1476
All really broken ones are fixed

[2019-10-06 08:02] #1476 closed

[2019-10-06 09:22] su-vikas commented on #1368
While writing this chapter I felt that there may not be a need to include each tool - ghidra, ida, R2. The technique and approach discussed is agnostic to the tool used. And we already provide an introduction on all these tools. Do you guys agree?

[2019-10-06 09:26] su-vikas commented on #1374
I will take up this one.
In android bernhard used angr, i dont use angr much, i use miasm, is that something okay? Or for consistency we stick with angr? I think it should be not much time consuming to use angr on a simple app. Let me know.

[2019-10-06 09:28] su-vikas commented on #1373
As per my understanding you cannot run a release application on iOS simulator (release app dont have x86 code). If so, do we still want to have this chapter and what kind of content to include in that case?

[2019-10-06 09:29] su-vikas commented on #1374
can we include use of code emulation using unicorn in this section?

[2019-10-06 12:33] jasondoyle commented on #1496
Hi @commjoen since modifying app container contents is not possible during runtime, an attacker can perform a device backup to access the target app's container content. At this point, the attacker can start reviewing files and configs for any settings with potential security implications (e.g., pincode, max failed login attempts, dlp settings, etc). These settings are sometimes in a plist the dev

[2019-10-06 17:41] cpholguera commented on #1368
That's totally right for me, thanks 👍  I'll review your PR ;)

[2019-10-06 20:19] commjoen commented on #1496
Makes total sense: a security configuration is part of the sensitive information to me. Can I ask you a favor? Can you help us out please and extend the existing testcase of MSTG-STORAGE-8 with this methodology?

[2019-10-07 04:59] commjoen commented on #1340
Fixed in #1355

[2019-10-07 04:59] #1340 closed

[2019-10-07 05:18] commjoen commented on #948
As OWASP/owasp-masvs#286 is closed: let's have a look at protected confirmation if it makes sense to be part of somethig; otherwise close.

[2019-10-07 07:58] cpholguera commented on #1374
Hi @su-vikas , that sounds very nice. If you would like to describe the three methods we're open to that. I think miasm is also a very nice option to consider, also angr would be nice to have so we can show a use case on both Android and iOS. Same goes for code emulation :+1: thanks!

[2019-10-07 08:04] su-vikas commented on #1374
Perfect. I will get started with this one. You can put hacktoberfest tag, as I intent to do it in october :P.

[2019-10-07 08:05] jasondoyle commented on #1496
yes, happy to put something together

[2019-10-07 08:05] commjoen commented on #1368
Is this one now completed? (@cpholguera /@su-vikas)

[2019-10-07 08:06] commjoen commented on #1496
Great! Looking forward to it!

[2019-10-07 08:10] cpholguera commented on #1368
Yes. Thanks @su-vikas again!

[2019-10-07 08:11] commjoen commented on #1368
Awesome! Thanks @su-vikas !

[2019-10-07 08:11] #1368 closed

[2019-10-07 08:11] cpholguera commented on #1374
Done! Thanks @su-vikas , looking forward to it :)

[2019-10-07 10:30] jasondoyle commented on #1496
To modify backups I use the iMazing software which has been mentioned already in the owasp testing guide. Just want to ensure it's ok to use iMazing in my methodology again since I understand referencing commercial tools is discouraged. I'm not aware of a good free alternative that allows easy navigation and modification of backups.

[2019-10-07 10:38] commjoen commented on #1496
Opensource tooling would be preferred indeed, @sushi2k : would you know an alternative for that?

[2019-10-07 16:32] su-vikas opened #1501 "Using one analysis tool for discussing reversing techniques"
Currently there are multiple tools used to demonstrate the various analysis techniques that are involved while testing applications. For e.g in Android, for Reviewing disassembled code, all R2, ghidra, and IDA, all are used. I think this approach need to be reconsidered because:

- Reader need to go through all sections of various tools to understand the techniques,  he/she might not be interested

[2019-10-08 03:30] commjoen commented on #1501
Hi @su-vikas , thank you for submitting your issue!
I rather use different tools as we have it right now: this way you can see the various tools in action and learn from them. I don't want to cover "all tools out there", but instead at least have a solid basis in explaining the various current tools, which i believe the MSTG is finaly archieving thanks to many contributors like yourself. So let's

[2019-10-08 03:30] #1501 closed

[2019-10-08 03:44] commjoen commented on #1317
Android: New location controls and reminder, Privacy settings
- [ ] Biometric changes: https://developer.android.com/about/versions/10/features#improved-biometric-auth
- [ ] TLS 1.3 support: https://developer.android.com/about/versions/10/features#tls-1.3
- [ ] Run DEX directly as an anti-tampering control: https://developer.android.com/about/versions/10/features#embedded-dex
- [ ] Public Conscryp

[2019-10-08 09:41] sushi2k commented on #1317
Thanks Jeroen, nice overview. Some of the things might touch existing content in the MSTG only slightly (e.g. https://developer.android.com/about/versions/10/features#updating-datasets), but all of them should be issues so we can test/evaluate them.

[2019-10-08 09:48] sushi2k commented on #1496
I am also not aware of an open source solution for this test case. I would say go with iMazing, but mention that it's shareware and not open source. As long as we can describe the test case with the free version, it's fine. Thanks @jasondoyle!

[2019-10-08 19:57] commjoen opened #1504 "Android: update biometrics parts with changes in Android 10"
There have been various changes in Android 10 for biometric authentication: https://developer.android.com/about/versions/10/features#improved-biometric-auth, these need to be processed in the android testing parts of the MSTG

[2019-10-08 20:03] commjoen opened #1505 "Android 10: update in TLS 1.3 support and cryptographic changes"
https://developer.android.com/about/versions/10/features#tls-1.3 and https://developer.android.com/about/versions/10/features#conscrypt introduces quiet a few changes with TLS 1.3 and related cryptographic APIs on which the MSTG needs to be updated.

[2019-10-08 20:04] commjoen opened #1506 "Andriod 10 anti-tampering: run DEX directly"
You can now run dEX code directly as anti-tampering control (see https://developer.android.com/about/versions/10/features#embedded-dex). this should be part of the anti-reverse engineering techniques

[2019-10-08 20:09] commjoen opened #1507 "Android 10: connectivity management from the app"
Android 10 now gives access to network interfaces to connect, which gives oppertunity to further manage and secure the trustworthiness of the network being used. https://developer.android.com/about/versions/10/features#q-connnectivity

[2019-10-08 20:15] commjoen opened #1508 "Update android 10 at storage: scoped storage"
Update the android mstg on storage due to the introduction of scoped storage: https://developer.android.com/about/versions/10/features#create-files-external-storage

[2019-10-08 20:16] commjoen commented on #943
Is now further updated with android 10 : https://developer.android.com/about/versions/10/features#updating-datasets handling passwords now as well (and password updates/rotation).

[2019-10-08 20:21] commjoen opened #1509 "Extend Android general description with service types?"
As described/introduced at Android 10: https://developer.android.com/about/versions/10/features#fg-service-types

[2019-10-08 20:29] commjoen opened #1510 "Extend iOS testing guide on testing apps that have common codebasis with macOS?"
https://developer.apple.com/documentation/uikit/creating_a_mac_version_of_your_ipad_app/ & https://developer.apple.com/ipad-apps-for-mac/ show that you can create a mac version of teh ipad app. however, this should not limit the secuirty controls taken by devs for the ipad version.

[2019-10-08 20:44] commjoen opened #1511 "Have testcases for sign in with apple integration"
We should have testcases for signin with apple: https://developer.apple.com/sign-in-with-apple/

[2019-10-08 20:47] commjoen opened #1512 "Extend ios architecture with background tasks & update testing based on the usage of teh background task"
More information on the BG task: https://developer.apple.com/documentation/backgroundtasks/

[2019-10-08 20:50] commjoen opened #1513 "Create a testcase for not synchronizing confidential data using cloudkit"
For more info on cloudkit: https://developer.apple.com/documentation/coredata/mirroring_a_core_data_store_with_cloudkit/

[2019-10-08 20:52] commjoen opened #1514 "Discussion: Do we want something to do with the nfc api's offered by android and ios?"
Andriod and ios (https://developer.apple.com/documentation/corenfc/) provide programmatic interfaces to work (R/W with NFC): do we want to put our recommendations / controls/evaluation here?

[2019-10-08 20:53] commjoen commented on #1317
All issues are created. closing this one.

[2019-10-08 20:53] #1317 closed

[2019-10-10 06:10] cpholguera commented on #1366
This can be closed once PR #1500 gets merged ;)

[2019-10-10 06:23] cpholguera commented on #1163
Some refs:
- https://www.securitynewspaper.com/2019/08/28/wamr-app-lets-you-recover-whatsapp-deleted-messages-but-you-lose-your-privacy/
- https://developer.android.com/reference/android/service/notification/NotificationListenerService
- https://play.google.com/store/apps/details?id=com.drilens.wamr&hl=en_US

[2019-10-14 11:22] Gaurav-Punjabi commented on #1375
Can I work on this issue?

[2019-10-14 11:27] cpholguera commented on #1375
Sure, thanks @Gaurav-Punjabi . I've just assigned it to you :)

[2019-10-15 04:35] zjn0505 opened #1518 "v3SigningEnabled not available"
I wonder what is the source for
[code]
at
https://github.com/OWASP/owasp-mstg/blame/master/Document/0x05i-Testing-Code-Quality-and-Build-Settings.md#L65

I check Android Gradle plugin DSL, currently in ver. 3.5.1, there are `v1SigningEnabled` and `v2SigningEnabled`.
http://google.github.io/android-gradle-dsl/current/com.android.build.gradle.internal.dsl.SigningConfig.html

[2019-10-15 19:43] cpholguera commented on #1374
Hi @su-vikas , any news on this issue? Thanks!

[2019-10-15 20:00] commjoen commented on #1518
https://android.googlesource.com/platform/tools/apksig/+/master/src/apksigner/java/com/android/apksigner/help_sign.txt shows support for v3 signing and the https://source.android.com/security/apksigning/v3 gives further indication of what is possible. Does this answer your question a little bit?

[2019-10-15 20:02] #1366 closed

[2019-10-15 20:16] commjoen commented on #1496
Thanks! Fixed at #1516

[2019-10-15 20:16] #1496 closed

[2019-10-16 02:42] su-vikas commented on #1374
Hi @cpholguera, things are moving fine. I have got angr working to solve uncrackable level1. Just looking in more details of angr, so that i can explain the script in simple words.

The solution is not purely symbolic, it is using angr's concrete execution engine, but nevertheless should be a good example to have. Which makes me unsure to put this content in "symbolic execution" heading, we can di

[2019-10-16 04:58] zjn0505 commented on #1518
I understand v3 signature scheme is supported by `apksigner` as argument `--v3-signing-enabled`.

Here in OWASP doc, it is referring that the field `v3SigningEnabled` can be used in Gradle to turn v3 signing on and off. So I wonder is this a valid config? As it is neither in the doc from the link in the original thread, nor pass the  build when used with Android Gradle Plugin 3.5.1 in Android Stud

[2019-10-16 05:25] cpholguera commented on #1374
Hi @su-vikas , that sounds very nice. You can gladly put it in the section and if it doesn't completely fit we can think of where to shift it once the PR is opened.

Regarding miasm, if you have a nice, easy and  almost self-explanatory example that would be worth of including it into the Android chapter, please do so. We could set up a separate issue for that.

Thanks for the quick feedback :)

[2019-10-16 05:31] cpholguera opened #1519 "QA - Review 1500"
Do the second round of QA over: https://github.com/OWASP/owasp-mstg/pull/1500

[2019-10-16 05:38] cpholguera commented on #1357
Hi @su-vikas , maybe you could help us out here. This is related to your current issue #1374 and might be a good place to add a nice miasm example in addition to reviewing and enhancing the current one. What do you think?

[2019-10-16 05:39] commjoen commented on #1519
Let's just put all prs here that need a second round :-) (eg extend the issue as required)

[2019-10-16 05:40] su-vikas commented on #1357
Sure. I will take it up once I am done with iOS one.

[2019-10-16 05:46] cpholguera commented on #1357
Nice, thank you very much! :)

[2019-10-16 07:00] zjn0505 commented on #1518
https://android.googlesource.com/platform/tools/base/+/studio-master-dev/build-system/gradle-core/src/main/java/com/android/build/gradle/internal/dsl/SigningConfig.java#53

Here it supports to v2, but I may look at the wrong place and this may not be the latest branch.

[2019-10-16 19:41] commjoen commented on #1518
Hi @zjn0505 , I checked https://google.github.io/android-gradle-dsl/current/com.android.build.gradle.internal.dsl.SigningConfig.html and a few other resources, and you are right: v3signing is only available through APK signer. I will create a PR to fix this. Not sure how it slipped through earlier.

[2019-10-16 19:41] commjoen commented on #1518
Thanks for spotting it! And sorry to disapoint you on v3 signing.

[2019-10-17 06:26] zjn0505 commented on #1518
Thanks for looking into this. I think it will be added eventually.

[2019-10-17 06:26] #1518 closed

[2019-10-18 07:38] su-vikas commented on #1357
@cpholguera I have started looking into this one, will send PR with changes to existing content first.
You can make it hacktoberfest, should be done in october :).

[2019-10-18 11:09] cpholguera commented on #1357
That's very nice. It's now tagged, thanks!

[2019-10-18 17:32] savagejen opened #1523 "Source in the iOS testing tools is listed as malicious by Sileo"
Sileo seems to be reporting that this source (recommended in the book) is malicious. I tracked down the author of AppSync and evidently it's being hosted in another repo.

A reddit thread by an author of AppSync lists it as being available from an entirely different source: https://www.reddit.com/r/jailbreak/comments/cslj55/update_appsync_unified_411noa12_now_with_ios_124/

[2019-10-18 20:50] commjoen commented on #1523
Hi @savagejen ! Thank you very much for reporting this issue. It makes total sense to mention the right repo. Can I ask you a favor? Would you mind filing a PR with the fix?

[2019-10-22 09:50] lwierzbicki opened #1528 "Add to organizations which use MASVS and MSTG"
I would like to add following line to Users.md
STM Solutions actively uses both guides (MASVS and MSTG) during pentests.

[code]

[2019-10-22 09:51] commjoen commented on #1528
Excellent! Can you do a PR for it? (Please keep in mind the alphabetic sorting 👍 )

[2019-10-22 11:24] lwierzbicki commented on #1528
PR sent. Please let me know if it is OK.

[2019-10-22 17:40] commjoen commented on #1528
It is, fixed :)

[2019-10-22 17:40] #1528 closed

[2019-10-25 05:46] cpholguera commented on #1375
Hi @Gaurav-Punjabi! How's your progress here?
Do you have any questions/need some support? Thanks!

[2019-10-26 06:41] commjoen commented on #1103
don't forget to set event.flags and MotionEvent.FLAG_WINDOW_IS_OBSCURED

[2019-10-26 17:58] cpholguera commented on #954
On Android 8+, NFC beaming of APKs between devices bypasses the “install unknown application” security control. A rogue device like a payment terminal can use this vulnerability to infect devices with malware.

Fixed in the October 2019 security bulletin.

https://android-developers.googleblog.com/2017/08/making-it-safer-to-get-apps-on-android-o.html

https://wwws.nightwatchcybersecurity.com/2019/

[2019-10-26 18:18] kysokzla commented on #1409
Hey guys, what should be done to close this milestone?
I've used needle and objection a lot also we have modified it a lot.

[2019-10-26 19:06] cpholguera commented on #1514
https://wwws.nightwatchcybersecurity.com/2019/10/24/nfc-beaming-bypasses-security-controls-in-android-cve-2019-2114/

[2019-10-26 19:22] cpholguera commented on #1506
**How's the scenario? What are we protecting exactly?**

In any case (before and after this change), modifying the embedded DEX files will break the signature, so the new change does not make any difference for repackaged apps. Then we're talking about original apps and are already installed and running on a non-rooted device.

The attacker _tampers with the locally compiled code_...
- Are they re

[2019-10-26 19:26] cpholguera commented on #1494
This will involve key management and encryption. Note that the best practices from must be followed when doing this ;)

https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05e-Testing-Cryptography.md#testing-key-management-mstg-storage-1-mstg-crypto-1-and-mstg-crypto-5

[2019-10-28 05:25] su-vikas commented on #1371
I will take this one

[2019-10-28 06:22] cpholguera commented on #1371
Assigned, thanks ;)

[2019-10-28 10:11] exujing commented on #1103
From our experience, just implementing "filterTouchesWhenObscured=true" causes usabilitity problem. If a user has a legitimate screen overlay software such as twilight, the app does not allow user interaction and it freezes. Implementing "event.flags and MotionEvent.FLAG_WINDOW_IS_OBSCURED" for sensitive input seems to be a better implementation.

[2019-10-28 10:46] A-AFTAHI commented on #1505
I will take this one.

[2019-10-29 05:52] commjoen commented on #1357
Fixed in #1524, thanks @su-vikas !

[2019-10-29 05:52] #1357 closed

[2019-10-29 05:52] commjoen commented on #1374
Fixed in #1521 . Thanks @su-vikas !

[2019-10-29 05:52] #1374 closed

[2019-10-29 06:59] commjoen opened #1534 "Have gender neutral text"
As first approached in #1532, thanks to @grenlith: we need to improve the reading of the text in the guide in which it is more gender neutral without adding any confusion to the text. Todo:

- decide on the techniques to replace "he" without making it confusing
- update the styleguide
- refactor the guide.

[2019-10-29 16:17] commjoen commented on #1505
It is yours! Looking forward to the results sir!

[2019-10-29 16:36] commjoen commented on #1409
Good point @kysokzla ! Let's reiterate on this on slack soon ;-)

[2019-10-29 21:16] commjoen opened #1540 "Fix attribution of russian translation PR"
It seems that https://github.com/OWASP/owasp-mstg/pull/933 never got part of the contributions (in https://github.com/OWASP/owasp-mstg/graphs/contributors) due to a git configuration not compatible . https://github.com/OWASP/owasp-mstg/pull/933/commits/03479b5e99e21262fce0b0ae289ca3fba273e1c1 shows to have indeed the git commits done by Maxim Gall, who filed the PR as @kysokzla .

[2019-10-30 07:45] commjoen commented on #1534
Notes from meeting; in the next meeting we will setup a set of techniques in this issue that we can agree on to make it at least readable and consistent without sticking to "he" in the guide

[2019-10-30 07:52] commjoen commented on #954
We will discuss this next week

[2019-10-30 07:59] commjoen commented on #1409
meeting notes: we will pick up this issue later at the next milestone, not during the 1.2 release now.

[2019-10-30 12:47] commjoen opened #1541 "migrate away crackme write-ups folder"
migrate away crackme write-ups folder

[2019-10-31 05:11] kysokzla commented on #1409
@commjoen i'll try to do my research

[2019-11-06 12:05] su-vikas commented on #1371
We dont really need section on  "##### Debugging Native Code" as everything is native in iOS.

[2019-11-06 13:01] su-vikas commented on #1373
I will take this one. I will put unicorn related stuff in this section ?

[2019-11-06 13:05] commjoen commented on #1371
ah well: the native code is about using c/c++ (so not using swift/objective-c) as this behaves a bit differently than the objective-C/Swift related materials and might require different tooling as well.

[2019-11-06 13:13] su-vikas commented on #1371
I get your point, but in terms of using lldb or any other debugger, there is not much difference. More or less things look the same, apart from lets say printing Obj-C class data.

But if still needed for the sake of completeness, sure we can have section on it too.
Lets discuss this point again after my current PR is reviewed? It is very much possible I am not aware of some technique, which I am

[2019-11-06 15:11] cpholguera commented on #1371
I'll take a look at the current content and we can discuss afterwards ;)

[2019-11-06 15:18] cpholguera commented on #1373
Hi @su-vikas this issue is actually much simpler as it looks. It is really only about testing with the emulator/simulator and what are the limitations in comparison to the Android counterpart (spoiler: Android wins, here there's not really much to do). One clear point is that you cannot run a release app as you already said.

That about unicorn will be part of another section. I'd say in  "Binary

[2019-11-06 15:48] su-vikas commented on #1373
Got it. I will put in Unicorn in Binary analysis section.

And yes I agree this section will be pretty light, and can be done fast. I will send a PR soon.

[2019-11-06 15:59] cpholguera commented on #1373
Sounds great, thanks a lot!

[2019-11-07 12:35] legik opened #1554 "Fix description of zxcvbn image"
**Describe the issue**
In the "0x04e-Testing-Authentication-and-Session-Management.md" the alt description for zxcvbn image is wrong (it is copy-paste from the image below):
[code]

[2019-11-07 13:04] commjoen commented on #1554
Thank you for your issue @legik ! Good catch! Would you mind filing a PR for it?

[2019-11-07 19:20] #1554 closed

[2019-11-07 19:20] commjoen commented on #1554
Superduper cool! Thank you for spotting and fixing it!

[2019-11-08 11:43] legik opened #1556 "JWT tokens description"
**Describe the issue**
In the "MSTG-AUTH-3" section you have the following jwt description:

[code]
But according to [RFC](https://tools.ietf.org/html/rfc7519) JWT uses  "base64url" encoding.

[code]

So, this part should change from base64 to base64url, cause they have some differences in alphabet.

In addtion, I can suggest to add a token structure example:

[code]

[2019-11-08 12:03] cpholguera commented on #1556
Hi @legik that's a very nice catch ;) could you please help us out by sending a PR including those changes? We'll highly appreciate it. Thank you in advance.

[2019-11-10 09:18] sushi2k commented on #1556
Thanks for the improvement! As the PR is merged, I will close this ticket.

[2019-11-10 09:18] #1556 closed

[2019-11-10 09:20] sushi2k commented on #1116
We should also consider now https://github.com/securing/IOSSecuritySuite
It implements a few of the RE checks in Swift

[2019-11-10 09:21] sushi2k commented on #1519
@cpholguera Was this already done?

[2019-11-10 09:39] cpholguera commented on #1519
Hi Sven, no, #1500 still needs a second round :)

[2019-11-10 10:43] sushi2k commented on #1523
Thanks for raising @savagejen! Fixed  and merged

[2019-11-10 10:43] #1523 closed

[2019-11-10 11:18] #1407 closed

[2019-11-10 12:14] legik opened #1560 "Word(s) missing"
**Describe the issue**
In the [MSTG-AUTH-11](https://mobile-security.gitbook.io/mobile-security-testing-guide/general-mobile-app-testing-guide/0x04e-testing-authentication-and-session-management#testing-login-activity-and-device-blocking-mstg-auth-11) you have the following sentence:

[code]

Isn't some word(s) are missing after "then"?

[2019-11-10 21:10] commjoen commented on #1560
uhohw, you're right! Let me have a look at that

[2019-11-10 21:19] commjoen commented on #1560
Would the rewording in [this pr](https://github.com/OWASP/owasp-mstg/pull/1563) make more sense @legik ?

[2019-11-10 21:50] sushi2k commented on #1560
I was too fast and already merged the PR. @legik, please let us know if the change is also ok from your side.
Thanks @legik and @commjoen.

[2019-11-11 07:19] legik commented on #1560
Yes, it's ok now. Thanks for fast fix.

[2019-11-11 07:20] #1560 closed

[2019-11-11 09:03] commjoen opened #1564 "Update ios interaction with Mac OS X now that Catalina no longer has iTunes"
Update ios interaction with Mac OS X now that CAtalina no longer has iTunes.

[2019-11-11 09:16] legik opened #1565 "Link parsing in gitbook version"
**Describe the issue**
In the gitbook version the [following link](https://mobile-security.gitbook.io/mobile-security-testing-guide/general-mobile-app-testing-guide/0x04f-testing-network-communication#ca-certificates) is parsed wrong:
![image](https://user-images.githubusercontent.com/657615/68575230-ab9efa80-047c-11ea-9f70-cd98ff99d27e.png)

[2019-11-11 11:29] commjoen commented on #1540
Fixed with #1562

[2019-11-11 11:29] #1540 closed

[2019-11-11 12:45] commjoen commented on #1564
This, together with how to apply checkra1n at catalina can be fixed in 1 issue i guess.

[2019-11-11 21:56] commjoen commented on #1565
Fixed in #1566 , thanks @legik !

[2019-11-11 21:56] #1565 closed

[2019-11-11 22:16] sushi2k opened #1568 "Check Links in Gitbook"
**Describe the issue**
If the description of the link contains a special character and is not escaped, the link is broken in Gitbook, see https://github.com/OWASP/owasp-mstg/pull/1566

Need to double check the links in markdown for this.

[2019-11-12 00:54] sushi2k commented on #1564
There are various sections in the MSTG that reference to iTunes, like

https://mobile-security.gitbook.io/mobile-security-testing-guide/ios-testing-guide/0x06b-basic-security-testing#testing-device

These sections would need to be removed and an alternative way need to be shown.

[2019-11-13 04:59] sushi2k commented on #1514
That is definitely an interesting topic we should cover. Maybe sth for the next summit and release :-)

[2019-11-13 05:14] sushi2k commented on #1383
@commjoen
It's anyway already mentioned in 0x04e at the beginning of the chapter, but I just added it also to the 2FA test case, that 2FA/MFA should always be enforced on the serverside.

Regarding CAPTCHAs, this is already mentioned in "Testing Best Practices for Passwords" in 0x04e.

Or what did you mean back then with CAPTCHAs in Webviews?

[2019-11-13 09:10] sushi2k opened #1574 "Update on Apple Push Notification (APN)"
**Describe the issue**
The Apple Push Notification service (APNs) will no longer support the legacy binary protocol as of November 2020. https://developer.apple.com/news/?id=11042019a

[2019-11-13 09:13] sushi2k commented on #1568
When escaping special characters as in PR #1566, the links also work in the PDF version.

[2019-11-13 09:22] sushi2k commented on #1568
There was one more instance of broken links in Gitbook, it's fixed here: https://github.com/OWASP/owasp-mstg/pull/1573/commits/c6ee742133264d43ce3876be22a274e6c3577154

[2019-11-13 09:22] #1568 closed

[2019-11-13 09:28] sushi2k commented on #1461
This issue is linked to :
https://github.com/OWASP/owasp-mstg/issues/946 and #1504

[2019-11-13 10:50] sushi2k commented on #943
You were saying you already had a draft @51j0. Do you want to do a PR with this and then we take it from there?

[2019-11-13 16:21] su-vikas commented on #1376
Will take this one :)

[2019-11-13 18:54] commjoen commented on #1376
It is yours now, happy hacking!

[2019-11-14 08:10] commjoen commented on #1534
Meeting notes:
- we will refrain from he/she as we do not want to exclude non-binary
- singular "they" is very confusing to us and shall not be used (and will be part of the styleguide!)
- techniques that we want to use:

... only a noun: “a user should…”
… the plural: “When users should…”
… the second person: “When you are pentesting, you should…”
… an imperative: “Never use event bound methods l

[2019-11-14 08:12] commjoen commented on #1534
Please look for the following to replace:
- him
- his
- her
- she
- hers
- he

[2019-11-14 08:18] commjoen commented on #954
Meeting notes:
the focus of this issue should be to educate the user that the app should come from the right source where updates are allowed. So
1. check whther the app comes from the designated app store
2. check if 1 is not the case, then check if there are permissions set which explain why this was wrongly installed
3. make a remark about that there are various threats on how unknwon apps can

[2019-11-14 15:53] cpholguera opened #1575 "[Android Tool] VirtualXposed"
VirtualXposed is a simple App based on VirtualApp and epic that allows you to use an Xposed Module without needing to root, unlock the bootloader, or flash a custom system image. (Supports Android 5.0~10.0)

See: https://github.com/android-hacker/VirtualXposed

It should be tested and evaluated to see if it's a nice fit to the MSTG tool set for Android. Similar to using Frida on non-rooted devices

[2019-11-14 17:44] commjoen commented on #1482
Work is progressing on the xamarin sheet thanks to spirit. The react native sheet is slowly receiving updates..  flutter is getting no progress...

[2019-11-16 01:25] #1383 closed

[2019-11-16 01:26] #1564 closed

[2019-11-16 22:25] sushi2k opened #1577 "Captions for pictures"
**Describe the issue**

At the moment there are no captions for pictures. There are various ways of doing captions. The following 2 are both violating markdown lint rules:

![image](https://user-images.githubusercontent.com/5951320/68999909-68bca700-0902-11ea-94a4-77f8cae6ec20.png)

To-Do:

- [ ]  Need to discuss what options for captions are available and which one we want to use
- [ ] Apply cons

[2019-11-20 09:24] sushi2k opened #1582 "QA Style Guide"
**Describe the issue**
QA Gender Neutrality part of Style Guide

[2019-11-20 09:25] sushi2k commented on #1534
https://github.com/OWASP/owasp-mstg/issues/1582

[2019-11-20 09:25] #1534 closed

[2019-11-27 06:25] #1582 closed

[2019-11-28 08:56] cpholguera opened #1587 "Reach out to GitHub SecurityLab"
Follow up on: https://securitylab.github.com/

[2019-12-05 23:27] boblone19 opened #1588 "Translation for Chinese Language Version"
**Describe the issue**
Missing Chinese Language, I want create PR to do the translation for Chinese version of mstg thx

[2019-12-06 04:29] sushi2k commented on #1588
Hi @boblone19. Thanks for reaching out to us.
The MSTG project is an extensive book (over 500 pages) that is ever-changing. We are changing the content almost on a daily basis. We also have many tickets/Github issues due to all the changes on Android and iOS from the new major versions (iOS 12/13 and Android 9/10) that would need to be worked on and incorporated into the MSTG.

Because of this, we

[2019-12-06 04:33] sushi2k commented on #1588
If you are keen in translating the MASVS would make more sense, as this document is more stable and will change only a few times a year https://github.com/OWASP/owasp-masvs. Therefore it's easier to manage the changes.

We already have a translation into traditional Chinese, but not simplified Chinese.

I will close this ticket, but feel free to reach out to me via Slack if you are interested in t

[2019-12-06 04:33] #1588 closed

[2019-12-07 00:24] boblone19 commented on #1588
Whatever u said is right, i will keep doing my simplified Chinese MSTG, about 500 pages that u mention? i have finished almost 50% with in 3days, in the future if u guys want a simplified Chinese MSTG, feel free to come https://github.com/boblone19/owasp-mstg

[2019-12-07 04:27] su-vikas commented on #1373
@commjoen I think we can close this one?

[2019-12-07 04:30] su-vikas commented on #1371
@commjoen this one can be closed too?

[2019-12-07 07:27] su-vikas commented on #1370
Will take this one.

[2019-12-07 09:43] su-vikas commented on #1367
@commjoen @cpholguera can you please review this bug and let me know what is missing.

[2019-12-07 22:55] sushi2k commented on #1373
Thanks @su-vikas!

Was closed as covered in PR https://github.com/OWASP/owasp-mstg/pull/1553

[2019-12-07 22:55] #1373 closed

[2019-12-07 22:58] sushi2k commented on #1371
Thanks @su-vikas!

Was closed as covered in PR #1552

[2019-12-07 22:58] #1371 closed

[2019-12-08 17:32] lwierzbicki opened #1590 "Improvement for Simulating a MiTM in 0x04f-Testing-Network-Communication"
**Describe the issue**
Section 'Simulating a Man-in-the-Middle Attack' contains description how to do place in MiTM position using bettercap and only mention using router/Access Point. During testing, I think it is much easier if you place yourself in MiTM position by creating Access Point and connect mobile devices to this access point (you need network access anyway). I used for that USB wifi ca

[2019-12-08 17:54] lwierzbicki opened #1591 "Improvement for 'Example - Dealing with Xamarin' in 0x04f-Testing-Network-Communication"
**Describe the issue**
'Example - Dealing with Xamarin' shows command to redirect traffic only for macOS (using rdr). Maybe it would be nice to add iptables one-liner for linux users? ;)
Additionally, redirecting traffic to intercepting proxy (i.e. Burp) could require additional step like further redirecting traffic (in Burp configuration of Proxy Listener)

**Next step**
* Extend description to c

[2019-12-09 01:31] sushi2k commented on #1591
Hi @lwierzbicki. Thanks for your suggestion. Do you want to take care of the iptables addition and create a pull request :-) ?
For the 2nd item `Additionally, redirecting traffic to intercepting proxy (i.e. Burp) could require additional step like further redirecting traffic (in Burp configuration of Proxy Listener)`. I am not sure what you mean with this. The proxy listener is started with burp a

[2019-12-09 03:15] sushi2k commented on #1590
Hi @lwierzbicki. This is of course one way of doing a MITM, but I must say that this is quite some overhead, in terms of hardware and software configuration.
The easiest approach is by just using `adb reverse` on Android an forwarding all traffic via USB (https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05b-Basic-Security_Testing.md#client-isolation-in-wireless-networks). Then you just n

[2019-12-09 09:15] lwierzbicki commented on #1591
Hi,
1st item - I will create pull request.
2nd item - Here is a case: subject is Xamarin application. You want to be in MiTM position (so all traffic goes through your proxy). However Xamarin doesn't respect your mobile device settings and you need to redirect all traffic to your intercepting proxy (using rdr or iptables).
During testing, I encountered some Xamarin application which has proxy set