[2019-12-09 09:19] sushi2k commented on #1591
Wouldn't it solve the problem if you change /etc/hosts on the android phone, so it resolved to your proxy listener, e.g.:

foo.org 127.0.0.1

or

foo.org 192.168.1.101

[2019-12-09 09:43] lwierzbicki commented on #1590
Hi @sushi2k.
I refer to https://github.com/OWASP/owasp-mstg/blob/master/Document/0x04f-Testing-Network-Communication.md#simulating-a-man-in-the-middle-attack, where detailed guide is provided about bettercap. I think it is easier to be a router/AP than ARP poisoning the network (at least more stable) ;)

Regarding valid use case...
I find this useful in following situation:
- working with Xamarin

[2019-12-09 09:50] lwierzbicki commented on #1591
It solves the problem if you have root on mobile device (or possibility to change /etc/hosts).
Additionally 'Redirect to host' and 'Redirect to port' need to be set - as we hijack traffic to our intercepting proxy and we need to specify where it should go next (in mentioned case was original proxy configured in Xamarin application).

[2019-12-09 10:00] sushi2k commented on #1591
Do you want to add a short description and extend the chapter about Xamarin to explain this? I mean by explaining the Burp setting you mentioned earlier and modifying /etc/hosts on the Android phone.
For Android we can always assume that a rooted device is available.

[2019-12-09 10:02] lwierzbicki commented on #1591
Yes, I would like to contribute.
I will create a PR.

[2019-12-09 20:14] lwierzbicki opened #1592 "Probably typo on 0x05b-Basic-Security_Testing"
**Describe the issue**
I noticed following line in text:
[code]
It doesn't look like it should be there as other pictures are not handled that way. It is line 1751 of
https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05b-Basic-Security_Testing.md

[2019-12-09 21:36] sushi2k commented on #1592
Thanks, that was a leftover, removed it here https://github.com/OWASP/owasp-mstg/pull/1594

Good spot!

[2019-12-09 21:36] #1592 closed

[2019-12-09 21:53] sushi2k commented on #1590
After reading it, I must say you are right and this setup should be part of the MSTG!

What we have for a MITM at the moment is this structure:

#### Simulating a Man-in-the-Middle Attack - bettercap
##### bettercap Installation
##### Network Analyzer Tool
##### Network Setup
##### ARP Poisoning with bettercap

So after this (or before) what we could do is this structure:

#### Span Port / Port Fo

[2019-12-10 00:12] lwierzbicki commented on #1590
I will work on this.

[2019-12-10 00:21] su-vikas commented on #1370
Mentioned in PR #1595  as well, and adding here for traceability.

Currently content for `loaded libraries` is incomplete as pre-compiled vmmap exe is available only for armv7 and my self-compiled vmmap for arm64 is not working. Apple has hided most of the symbols and compiling and making it work has been painful so far.

Will update the content once I get working. If there is an alternative comma

[2019-12-10 07:40] commjoen opened #1596 "Have section numbers in the markdown of the MSTG"
Similar like the WSTG, it would be great to have section numbers as well. (As suggested by @ThunderSon )

https://github.com/OWASP/wstg/blob/master/document/4_Web_Application_Security_Testing/4.1_Introduction_and_Objectives/4.1.1_Testing_Checklist.md

[2019-12-10 08:20] ThunderSon commented on #1596
We (WSTG team) currently looking into what could be the best structure to follow to generate the PDF and to publish to an online generated website (_E.g._ git pages).
Having section numbers in the markdown text is still under review, as we're looking at 2 main points:
- Automating the section headers on publishing and its feasibility, maintainability, etc.
- Manual process, where a check is added

[2019-12-10 09:46] su-vikas commented on #1376
I think now we can close this one too :).

[2019-12-10 09:50] sushi2k commented on #1376
Indeed :-) Thanks for the nudge

[2019-12-10 09:50] #1376 closed

[2019-12-10 09:55] #1591 closed

[2019-12-11 16:16] lwierzbicki commented on #1590
During writing this I noticed a few things:
1. Section Network Analyzer Tool will be similar (the same) section for bettercap and your own Access Point - should we duplicate section or extract this to new point which cover both paths?
2. In Network Setup section is description about applicable case - maybe it would be good to reorder subsection ?
I propose following structure:
#### Simulating a Ma

[2019-12-11 17:00] avengerstark-web opened #1598 ""mobile" misspelled as "mobtile" on the cover page"
"mobile" is misspelled as "mobtile" on the cover page

![image](https://user-images.githubusercontent.com/43069307/70642753-cbf1de80-1c0d-11ea-8bf9-829aa18fad13.png)

[2019-12-11 20:11] commjoen opened #1600 "Upgrade Randorisec from donator to "Good Samaritan""
Randorisec can be upgraded to Good samaritan: logos are attached
![randori_logo_original](https://user-images.githubusercontent.com/1457214/70656673-d1294a80-1c5a-11ea-9643-5db9f3f22df8.png)

[2019-12-11 22:45] HaxThePlanet commented on #1130
You can also cat /proc/self/maps instead of grabbing your own pid

[2019-12-12 03:33] sushi2k commented on #1590
Thanks, that structure makes sense. The section "Network Analyzer Tool " can be a separate paragraph after describing both scenarios. Thanks for taking care of that!

[2019-12-12 04:41] sushi2k commented on #1504
The new BiometricManager class, available in Android 10 is covered in the PR https://github.com/OWASP/owasp-mstg/pull/1569/

[2019-12-12 04:43] sushi2k commented on #1461
I raised it to the authors of the script (https://github.com/FSecureLABS/android-keystore-audit/issues/3) so will close this one. Could you reproduce this on a real device?  If so, give them a nudge on the issue I created. Thanks

[2019-12-12 04:43] #1461 closed

[2019-12-12 04:44] #1504 closed

[2019-12-12 04:55] sushi2k commented on #1600
https://github.com/OWASP/owasp-mstg/pull/1601

[2019-12-12 04:57] sushi2k commented on #1598
Autsch. Thanks for pointing it out :-)
It's already fixed in the new cover https://github.com/OWASP/owasp-mstg/blob/master/Document/cover.jpg

[2019-12-12 04:57] #1598 closed

[2019-12-12 04:58] commjoen commented on #1600
Fixed by Sven at #1601

[2019-12-12 04:58] #1600 closed

[2019-12-12 12:41] lwierzbicki opened #1604 "Heading level 7 issue"
**Describe the issue**
Heading level 7 is not displayed in github. I think Markdown only handles level 1-6 (but I'm not sure). This way heading is not handled (style is not applied) as heading and it is just displayed:
####### [Section Name]

**Optional: Testcase or section**
https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05b-Basic-Security_Testing.md#bypassing-the-network-security-con

[2019-12-12 12:49] lwierzbicki opened #1605 "WiFi or Wi-Fi convention"
**Describe the issue**
Maybe it would be good to have one convention regarding WiFi word?
Currently I found that WiFi or Wi-Fi are used.

**Optional: Testcase or section**
Wi-Fi used in example in 0x06b-Basic-Security-Testing.md.
WiFi used in example 0x04f-Testing-Network-Communication.md
or just grep:
[code]

[2019-12-13 02:42] sushi2k commented on #1605
Thanks for pointing out this inconsistency. It's indeed not in our style-guide yet. I will add it and make everything "Wi-Fi", as that's the writing used by the Wi-Fi alliance  (https://www.wi-fi.org/).

[2019-12-13 02:53] sushi2k commented on #1604
Thanks, good spot! Just made a PR

[2019-12-13 08:23] #1604 closed

[2019-12-13 08:26] sushi2k commented on #1590
Great work! Thanks @lwierzbicki and PR merged :-)

[2019-12-13 08:26] #1590 closed

[2019-12-13 10:55] #1605 closed

[2019-12-14 11:56] sushi2k commented on #1364
r2frida should be added with an example in "###### Getting Loaded Libraries" besides Process.enumerateModules() in  Frida.

https://github.com/enovella/r2frida-wiki/blob/master/README.md

[2019-12-15 10:14] cpholguera commented on #1505
Hey @A-AFTAHI , how are you? Do you have any news on this one? Thanks!

[2019-12-15 10:16] cpholguera commented on #1495
Hello @zehuanli how's the issue going? Do you have any news? Thanks!

[2019-12-15 10:18] cpholguera commented on #1375
Hi @Gaurav-Punjabi , could you start working on this already? please let us know if you need some support :)

[2019-12-15 10:20] cpholguera commented on #1160
Hi @cak, do you have any progress on this one? Can we help you with something?

[2019-12-15 10:21] cpholguera commented on #1041
Hi @shwetajoshi26, could you already start working on this? Do you need some support to get started?

[2019-12-15 10:22] cpholguera commented on #962
Hi @B3nac , @commjoen , what's still open here? Any updates on progress?

[2019-12-15 10:24] cpholguera commented on #961
Hi @cak , could you start working on this one as well? Please let us know, thanks!

[2019-12-15 10:58] cak commented on #1160
@cpholguera Sorry about the delay, I have a draft already written - I will work on it this week and open PR.

[2019-12-15 11:00] cak commented on #961
Hey @cpholguera, yes, I will make another pass. I need to add references to Combine (and SwiftUI) where relevant as well.

[2019-12-15 11:58] cpholguera commented on #961
Awesome. Thanks a lot for the quick response!

[2019-12-15 12:00] cpholguera commented on #1160
That sounds great, we're looking forward to it.  Thanks a lot!

[2019-12-16 10:44] cpholguera commented on #971
Hola Paulino, any news on this one? :) Thanks!

[2019-12-17 17:33] cldrn commented on #971
Hi guys,

Wrapping up Q4 on the 19th and then I will be free to work on this one, the one for disabling keyboard cache in kotlin and updating the checklist in Spanish.

:)

[2019-12-18 11:32] cpholguera opened #1609 "[Android Tool] BusyBox"
Add BusyBox to section https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05b-Basic-Security_Testing.md#recommended-tools---android-device

Add a very brief description on why it is needed and minimal installation instructions (if not yet somewhere online _officially_).

[2019-12-19 08:40] cpholguera commented on #1609
@su-vikas would you like to take over this one? ;)

[2019-12-19 08:46] su-vikas commented on #1609
Yeah sure.

[2019-12-19 08:58] cpholguera commented on #1609
Nice! Thank you, assigned ;)

[2019-12-19 10:53] shwetajoshi26 commented on #1041
Hi, I am not able to proceed ahead because of unavailability of actual devices, rooted android and iphone for testing. I tried running another simulations, but not successful.

[2019-12-19 11:04] cpholguera commented on #1041
Hi @shwetajoshi26 , thanks for the status update :) what if we leave out the third point (dynamic analysis, at least for now)?

We'd highly appreciate if you could at least help us address the other two "how it works" and "static analysis" (from the description above). What do you think?

[2019-12-19 17:31] lwierzbicki opened #1610 "missing space 0x05g-Testing-Network-Communication"
**Describe the issue**
Looks like some missing space after coma in a sentence "dotPeak,ILSpy or dnSpy" (at the end of section https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05g-Testing-Network-Communication.md#xamarin-applications - line 297). I will raise PR.

[2019-12-19 17:48] lwierzbicki opened #1612 "Cert Pinning - TrustManager"
**Describe the issue**
I encountered case where to bypass Cert Pinning I did the following:
1. Unpack app & find that there is res/raw/truststore (bks file).
2. Code was obfuscated and I'm a lazy person. Found part of a code which was responsible for loading truststore (additionally trivial solution 'switch off ssl pinning using objection' didn't work).
3. Get hint from a sentence "Once the KeySto

[2019-12-20 07:55] #1610 closed

[2019-12-21 21:47] cpholguera opened #1614 "Evaluate New CTF 404 App"
Evaluate New challenge / CTF app by Jeet (Slack) for integration into the Crackmes/hacking playground

[2019-12-22 06:09] #946 closed

[2019-12-22 06:13] sushi2k commented on #1612
This would fit in here: https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05g-Testing-Network-Communication.md#bypassing-certificate-pinning

The other link is part of static testing.

[2019-12-23 16:23] lwierzbicki opened #1615 "Unfinished link in reference?"
**Describe the issue**
Noticed that one of reference start with [#mueller]. Looks like markdown for a link, but no link shows up. Maybe creator of that line had something else on mind ;) Or maybe it is just typo.
Please let me know if someone knows how the line should look like and I will be happy to complete it :)

**Optional: Testcase or section**
https://github.com/OWASP/owasp-mstg/blob/master/

[2019-12-25 10:08] su-vikas commented on #1359
Can we please close this one :)

[2019-12-25 10:18] su-vikas commented on #1362
I will take this one.

[2019-12-25 12:50] commjoen commented on #1362
Have fun!

[2019-12-25 12:50] commjoen commented on #1359
@cpholguera is this one sufficiently covered now :-)?

[2019-12-27 09:29] sadshade opened #1616 "Dublicate words in Testing OAuth 2.0 Flows"
Other OAuth2 Best **Best** Practices

[2019-12-27 10:51] lwierzbicki commented on #1616
I think you mean this heading: https://github.com/OWASP/owasp-mstg/blob/master/Document/0x04e-Testing-Authentication-and-Session-Management.md#other-oauth2-best-best-practices

[2019-12-27 10:54] lwierzbicki commented on #1615
The same happened here: https://github.com/OWASP/owasp-mstg/blob/master/Document/0x04b-Mobile-App-Security-Testing.md#references

[2019-12-28 21:43] sushi2k commented on #1616
@sadshade Thanks for spotting it! Do you want to make a PR :-) ?

[2019-12-28 21:46] sushi2k commented on #1615
@lwierzbicki  Thanks for spotting it! Do you want to make a PR and make it compliant to the style guide :-)

[2019-12-28 21:57] lwierzbicki commented on #1615
Will do a PR. However first I crosscheck all references.

[2019-12-30 12:51] lwierzbicki opened #1618 "Leading space before sentence end"
**Describe the issue**
Leading space before sentence end i.e "sidestep sandboxing . "

**Optional: Testcase or section**
Locations:
Document/0x05a-Platform-Overview.md line: 157
Document/0x05c-Reverse-Engineering-and-Tampering.md line: 776
Document/0x05c-Reverse-Engineering-and-Tampering.md line: 2249
Document/0x06b-Basic-Security-Testing.md line:761

[2019-12-30 18:44] shwetajoshi26 commented on #1041
Yes.. I will look for rest of the two things and leave dynamic analysis for
now.
Sorry for delay.. ☺️

On Thu, Dec 19, 2019, 16:34 cpholguera <notifications@github.com> wrote:

[2019-12-30 23:24] sushi2k commented on #1618
Can you create a PR for this? Thanks

[2019-12-31 05:05] lwierzbicki commented on #1618
Will do.

[2019-12-31 16:36] lwierzbicki opened #1619 "Content Provider, Content provider or content provider"
**Describe the issue**
Content Provider name is inconsistently used - noticed versions: Content Provider, content provider, Content provider. Additionally, one sentence starts with lowercase version, next with first capital letter of each word. If I get information which is correct, I will create PR.

**Optional: Testcase or section**
https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05a-

[2020-01-02 02:09] sushi2k commented on #1619
Let's use the lowercase version "content provider" and only write a capital C if it's the beginning of a sentence (see also https://developer.android.com/guide/topics/providers/content-providers).

[2020-01-02 02:12] #1615 closed

[2020-01-02 02:13] #1618 closed

[2020-01-02 02:13] #1612 closed

[2020-01-02 06:51] sushi2k opened #1622 "Add Test case for MSTG‑RESILIENCE‑13"
**Platform:**
iOS / Android

**Description:**
A new requirement was introduced in the MASVS about payload encryption that need to be described as test case in the MSTG:

### Impede Eavesdropping

| # | MSTG-ID | Description | R |
| --- | --- | --- | -- |
| **8.13** | MSTG‑RESILIENCE‑13 | As a defense in depth, next to having solid hardening of the communicating parties, application level payload e

[2020-01-03 00:17] sushi2k opened #1624 "Enhance testing with Frida for non-jailbroken devices"
**Describe the issue**
Recent enhancements to the Frida open-source dynamic instrumentation toolkit greatly ease the process of conducting jailed testing. You no longer have to manually package the Frida Gadget in your target app. As long as the app is debuggable, Frida does that for you. This post will walk you through the process of using Frida on a jailed device.

Frida version 12.7.12 and abov

[2020-01-03 00:25] #1619 closed

[2020-01-06 01:45] sushi2k commented on #1103
To-Do:

- [ ] New test case to cover Tapjacking / Screen Overlay should be created.
- [ ] Clarify on naming convention, are both terms (Tapjacking and Screen Overlay used interchangeably or is there a difference)
- [ ] Research best practices and add them to static analysis
- [ ] Add MSTG-Platform-9 to references at the end

[2020-01-07 05:30] its4win opened #1625 "Testing for Insecure Configuration of Instant Apps (MSTG-ARCH-1, MSTGARCH- 7)"
**Platform:**
Android

**Description:**
I'm very newbie to testing mobile application.
I've read
https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05h-Testing-Platform-Interaction.md #Testing for Insecure Configuration of Instant Apps (MSTG-ARCH-1, MSTGARCH- 7)

For Static Analysis, i must check for Android Manifest to see whether dist:module dist:instant="true",
can i know what app used

[2020-01-07 20:06] commjoen commented on #1625
This is a great question! Currently we do not have any testing app with that configuration.
The apps used in this tests are commercial modular apps that have been modularly designed or refactored. I don't have an open source app from which we can show the "Wrong configuration" unfortunately. A lot of apps still don't use the instant-app capability. It would be a nice idea for the playground (@sush

[2020-01-07 23:45] sushi2k commented on #1625
Thanks for bringing that up. I created a ticket for that in the Hacking Playground. No ETA can be given though :-) But it's an interesting question and I hope I can find some and add a test case.

[2020-01-10 22:18] A-AFTAHI commented on #1505
Hi @cpholguera , i'm good tahnks. i was busy with some work lately. i will push the updates later this sunday.

[2020-01-10 23:30] cpholguera commented on #1505
Sounds great, thanks @A-AFTAHI !

[2020-01-12 14:28] lwierzbicki commented on #805
I verified that case.
I use following setup:
* default Android Studio installation
* application was based on MyFirstApp (https://developer.android.com/training/basics/firstapp) with added `import android.util.Log` and some test Log.v statements
* added rules to proguard-rules.pro as mentioned in [OWASP guide](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05d-Testing-Data-Storage.md#s

[2020-01-12 17:11] lwierzbicki opened #1628 "Removing references to CWE and Mobile Top 10"
References to CWE and Mobile Top 10 were moved to owasp-masvs. This issue is for removing references from MSTG.

Please assign that issue to me.

[2020-01-12 19:27] commjoen commented on #805
Sound like a plan! Thank you very much @lwierzbicki ! Would you mind creating a PR to fix this :) ?

[2020-01-12 19:30] commjoen commented on #1146
Given https://twitter.com/mobilesecurity_/status/1216128610970587139, who wants to pick it up :) ?

[2020-01-12 19:32] commjoen commented on #1362
Possible extension, using https://twitter.com/iGio90/status/1216326128601837570 ?

[2020-01-12 19:34] commjoen commented on #1628
The floor is yours sir!

[2020-01-12 20:18] cpholguera commented on #1362
Nice suggestion! As this section is rather general and the tool is Frida specific, what if we mention it as "yet another way to inject Frida agent" in the Android Frida section? (Including of course all requirements/constraints such as that the phone must be rooted)

If we add it, it would also be nice to write a concrete usage scenario where this might come handy. If I get the tool properly it's

[2020-01-12 20:28] cpholguera opened #1629 "Double check Frida Detection"
Verify that we do cover all detection mechanisms:

https://twitter.com/Dinosn/status/1215857057305387009

[2020-01-12 22:32] lwierzbicki commented on #805
I will do that.

[2020-01-13 10:53] lwierzbicki opened #1631 "Roadmap of content / Table of content"
I found only available Table of Content [here](https://github.com/OWASP/owasp-mstg/blob/master/Generated/OWASP-MSTG-Table-of-Contents.html "Table of content"). However it is a bit outdated. Additionally it provides map only to headings level 3.
I think it would be good to have a table of content which covers to headings level 6 (this provides some overview of what we have and where it is). It woul

[2020-01-13 11:20] lwierzbicki opened #1632 "Multiple markdownlint errors - i.e. trailing spaces"
I noticed multiple markdown lint errors in following documents:
Document/0x05d-Testing-Data-Storage.md
Document/0x04f-Testing-Network-Communication.md
Document/0x04g-Testing-Cryptography.md
Document/0x05c-Reverse-Engineering-and-Tampering.md
Document/0x05g-Testing-Network-Communication.md

Most common errors:
- MD009/no trailing spaces
- MD012/no multiple blanks
- MD040/fenced code language

I can

[2020-01-14 03:03] B3nac commented on #962
Hi @cpholguera I was really busy and ran out of time to work on this. Not sure if Kotlin examples are still needed. Please let me know. Cheers!

[2020-01-14 07:03] cpholguera commented on #962
Hi @B3nac yes definitely, there are plenty of code snippets still only in Java. However, we don't have to target all of them at once. It would be great if you could help us go step by step whenever you have some time. Maybe someone else also wants to participate on this, we can all on the Slack channel :)

[2020-01-15 14:56] commjoen commented on #1492
Last note: when you do pinning on the CA its public key and the CA is compromised, then CT can help detecting that. However, if you do public key pinning on your leaf cert, then CT will not really help for a native app.

[2020-01-15 15:23] B3nac commented on #962
Hi @cpholguera that sounds great! I'll sign back into the Slack channel later today :]

[2020-01-15 22:18] chq-matteo opened #1634 "iOS level 2 crackme issues"
**Describe the bug**
There are issues with the level 2 iOS crackme.

I have already opened an issue on the main repository https://github.com/commjoen/uncrackable_app/issues/10

I am putting this out there just in case there is someone who is stuck with the challenge.

The spoiler free tldr is:
- don't analyze the 64 bit version, the challenge is not cross platform at the moment. Due to some quirk

[2020-01-16 10:26] commjoen commented on #1634
Hi @chq-matteo , thank you for filing a bug. Let me get back to you about this.

[2020-01-18 12:27] cpholguera opened #1635 "Fix Slack Links"
2 slack links in the README lead to https://os-summit.slack.com/app

The Slack invite link is outdated in Frontispiece but it's right in the README.

[2020-01-18 13:41] #1616 closed

[2020-01-18 13:41] cpholguera commented on #1616
Fixed already on #1620

[2020-01-18 23:26] cpholguera commented on #805
Fixed in #1630

[2020-01-18 23:26] #805 closed

[2020-01-18 23:26] cpholguera commented on #1632
Fixed in #1630

[2020-01-18 23:26] #1632 closed

[2020-01-18 23:27] cpholguera commented on #1628
Fixed in #1630

[2020-01-18 23:27] #1628 closed

[2020-01-19 11:01] cpholguera commented on #1625
Should we close this one as it's already in the Hacking playground issues?

[2020-01-19 11:12] #1587 closed

[2020-01-19 11:13] cpholguera commented on #1587
Already done 14th Feb. 2020

[2020-01-20 06:03] #1609 closed

[2020-01-21 01:02] iambrosie opened #1637 "Referencing David Thiel's book Syntax Error"
On https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06h-Testing-Platform-Interaction.md#testing-ios-webviews-mstg-platform-5, David Thiel, iOS Application Security: The Definitive Guide for Hackers and Developers (Kindle Locations 3394-3399), No Starch Press, Kindle Edition is listed under the References section.

None of the references to the book seem to work throughout the document, i

[2020-01-21 06:30] cpholguera commented on #1637
Hi @iambrosie,  in this case that's according to our style guide:

https://github.com/OWASP/owasp-mstg/blob/master/style_guide.md#books-and-papers

Anyway, thanks for keeping an eye on potential syntax errors :)

[2020-01-21 15:27] lwierzbicki commented on #1637
As a matter of fact I added this reference, so we can be compliant with our style-guide. Additionally there is a reference to other David Thiel's book (in 0x06h-Testing-Platform-Interaction.md), that's why I added 2 to make it unique ;)

[2020-01-21 15:30] iambrosie commented on #1637
Hi @cpholguera,

What I understand from the style guide that was shared is that if we renamed

to

in https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06h-Testing-Platform-Interaction.md#references all should be good, i.e. "This could lead to a URL scheme hijacking attack (see page 136 in [#thiel2])" will be rendered correctly.

Correct?

[2020-01-21 20:23] cpholguera commented on #1637
Hi @iambrosie , maybe the confusion comes from the notation itself. This notation is not markdown, no links will be rendered. It's simply a plain/raw way to include references to books within the text that can be then found in the references section. Therefore, it's actually fine as it is and as described in the style guide.

Anyway, thank you very much for rising the issue, it's nice to know that

[2020-01-21 20:23] #1637 closed

[2020-01-22 10:07] cpholguera opened #1638 "Check nowsecure's secure mobile development"
https://github.com/nowsecure/secure-mobile-development

Ideas for collaboration/cross-referencing?

[2020-01-23 10:52] TheDauntless commented on #1629
Since this is part of the cat & mouse game, shouldn't we simply list a few, and point the user to further resources?

[2020-01-23 11:50] cpholguera commented on #1629
Thanks @TheDauntless I could actually have been a bit more descriptive in the description of the issue. I've enhanced it. What do you think?

[2020-01-23 17:04] lwierzbicki commented on #947
If it is still valid, I could investigate the case and submit PR (and you can assign this issue to me)

[2020-01-23 18:25] cpholguera commented on #947
Assigned, thanks @lwierzbicki ;)

[2020-01-26 17:41] lwierzbicki commented on #947
Provider selection (for BC and SC) is only mentioned in 0x05d-Testing-Data-Storage.md (in Older Android, when Android Keystore was not available). I would leave it as it is then. Additionally, I would move whole section about Keystore&Keychain from 0x05d-Testing-Data-Storage.md to 0x05e-Testing-Cryptography.md (and left only reference that this is described in Cryptography).

In 0x05e-Testing-Cryp

[2020-01-26 17:48] cpholguera commented on #947
Hi @lwierzbicki, thanks for analyzing the content and suggesting those structural changes. We'll evaluate them and let you know about how to proceed ;)

[2020-01-27 06:12] su-vikas commented on #1361
Taking this one.

[2020-01-27 06:14] cpholguera commented on #1361
Thanks @su-vikas ;)

[2020-01-27 09:53] cpholguera commented on #1361
Here some major points that I hope might get you started with this more easily:

- using -i, -x and their uppercase versions. When one wants to get some specific function or when one wants to match a group of functions using a glob *
- using it quickly (without considering __handlers__)
- going deeper by obtaining the signature of the target function, opening the specific auto-generated stub in __

[2020-01-27 16:29] su-vikas commented on #1358
Will take this one :)

[2020-01-27 16:30] su-vikas commented on #1358
I will do this with Ghidra, is that fine, or has to be done with R2?

[2020-01-28 06:48] cpholguera commented on #1358
Hi @su-vikas , thanks for taking over this one as well. It's ok if you use Ghidra, as long as you keep it "tool" neutral in the explanation. The focus should be in the techniques, way to do it and why to do what, rather than on explaining how to use the tool.

[2020-01-28 07:11] sushi2k opened #1644 "Remove CWE and Mobile Top 10"
**Describe the issue**
CWE and Mobile Top 10 is now covered as a whole in the MASVS. Should be removed from the MASVS as they are not tied to any test case but only for the whole chapter.

[2020-01-28 08:19] lwierzbicki commented on #1644
It was done in #1628 ;)

[2020-01-28 10:33] sushi2k commented on #1644
Ok. Then let's close it :-)

[2020-01-28 10:33] #1644 closed

[2020-01-28 10:33] #1635 closed

[2020-01-28 10:38] sushi2k commented on #1631
Thanks for pointing it out. To be honest I think we can just remove this document. I do not know where the script is that was used to generate this also.

In editors like Visual Studio Code you can get a quite good overview of the headings of one markdown file by using the markdown extension.

@commjoen @cpholguera Ok if we remove this file, or was there any purpose for it?

[2020-01-28 11:29] cpholguera commented on #1631
I'm ok with it, if we can remove. Maybe Jeroen knows if we need if for something else?

[2020-01-28 11:36] commjoen commented on #1631
it is a file you can generate via the tools int he tools section.
i think we need to get rid of all generated files and just help people to get the generated files themselves.

[2020-01-28 14:55] lwierzbicki commented on #1631
1st case is a file, I agree with guide to help people generate files themselves
2n case is clear and consistent structure across chapters (as example of inconsistency Reference heading was mentioned)

[2020-01-29 07:16] cpholguera commented on #1631
I agree on the 2nd point that we should fix that inconsistency. Would you like to help us out with that @lwierzbicki ?

[2020-01-30 08:48] #1505 closed

[2020-01-30 08:48] commjoen commented on #1505
Fixed in #1627

[2020-01-30 08:53] sushi2k commented on #947
Hi @lwierzbicki. We are ok with the restructuring as proposed by you, please consider for this PR also
- ticket #949
- to-do list for restructuring: https://github.com/OWASP/owasp-mstg/issues/949#issuecomment-522730843
- to-do list for restructuring: https://github.com/OWASP/owasp-mstg/issues/947#issuecomment-522726281

[2020-01-30 13:12] HiddeSmit opened #1645 "Non-Proxy Aware Apps DNS method addition"
The MSTG currently deals with non-proxy aware apps using one of the two methods:

- iptables
- ARP spoofing

I performed a pentest using DNS hosts file and the root free version could be DNS spoofing. Let me know what you think about this potential addition to the MSTG.

**Test setup:**
Tested on Genymotion Android 8.0 - API 26
    -- Applied Genymotion ARM Translation for 8.0
App tested: ORTEC Em

[2020-01-31 20:16] lwierzbicki commented on #1631
Yes, of course. I think if we have a template, it would be great and save some time in the future (like a blueprint when you build a house).

[2020-02-02 12:40] lwierzbicki opened #1647 "[Tool Android] GDA Android Reversing Tool"
**Describe the issue**
Maybe it is worth to take a look and investigate this tool: https://www.kitploit.com/2020/02/gda-android-reversing-tool-new.html
I think we haven't mentioned it anywhere in MSTG.

[2020-02-02 12:47] cpholguera commented on #1647
Looking nice! Thanks @lwierzbicki

[2020-02-02 12:50] lwierzbicki commented on #1647
I could check how it can possibly fit MSTG.

[2020-02-02 13:09] cpholguera commented on #1647
That'd be great, maybe a little overview here about how it's better/more useful in comparison with existing solutions or how it could enhance or replace them? What do you think?

[2020-02-02 13:16] lwierzbicki commented on #1647
That's a good hint. Anyway, I need to gather all that info and I will summarize it here. Then, we could decide what next ;)

[2020-02-02 13:21] lwierzbicki opened #1648 "Hostname left in code snippet"
**Describe the issue**
Someone's hostname was left in code snippet (location below).
I mean this line:
[code]
To be consistent across code snippets I would remove hostname from it.

**Optional: Testcase or section**
owasp-mstg/Document/0x05c-Reverse-Engineering-and-Tampering.md
line 566

[2020-02-02 13:42] lwierzbicki commented on #947
I will consider these two issues (and their comments) in my PR. Could you assign me to #949 as well?

[2020-02-02 15:21] lwierzbicki commented on #1631
Initial concept looks like this:
* level 1 heading - everything which starts 0x0[number]
* level 2 heading - everything which starts 0x0[number][a-z] - example platform overview, and "Testing "[iterate through MASVS domains - without architecture?]
* level 3 heading - overview of a chapter, "Testing for "[iterate through MSTG-ID related to that chapter], references - that can be transform to the s

[2020-02-02 16:30] cpholguera commented on #1647
Sounds perfect 👌

[2020-02-02 16:34] cpholguera commented on #949
@lwierzbicki thanks, we'll assign this to you as well

[2020-02-02 16:37] cpholguera commented on #949
For some reason GitHub doesn't allow right now to assign it, your name is not appearing on the list. I'll investigate this.

[2020-02-03 03:30] sushi2k commented on #1648
Thanks! Please make a PR for it.

[2020-02-03 03:33] sushi2k opened #1649 "Evaluate new Github Feature"
**Describe the issue**
Explore and evaluate the new Github feature https://github.blog/2020-01-22-how-we-built-good-first-issues/

Might be worth to do this, to get matches to our tickets!

[2020-02-03 07:36] cpholguera commented on #1638
We've contacted some time ago (see Slack MSTG channel). We close it for now.

[2020-02-03 07:36] #1638 closed

[2020-02-03 17:24] #1648 closed

[2020-02-04 13:02] FrenchYeti commented on #1450
You can find more information here (old sldies) : https://2019.pass-the-salt.org/files/slides/02-Dexcalibur.pdf
This tool is used in order to perform deobfuscation, anti-root/debug/emulator bypass, intercept serialization, follow data, and more. It focus on bytecode static analysis / DBI / and dynamic analysis. Minimalist VM can simplify CFG and print results as pseudo-code (it performs constant p

[2020-02-04 22:07] lwierzbicki commented on #1647
Tool is located here: https://github.com/charles2gan/GDA-android-reversing-Tool
There are a few limitations:
- currently it is only supported on Windows (some previous versions triggers virus signatures in Windows Defender)
- source code is not available yet (however there are some plans for that in the future - based on notes from author)

Features:
- unpack and decompile apk file in one process

[2020-02-04 23:14] commjoen commented on #1647
Looks great! However: Given the antivirus warnings, the closed nature of the tool and Windows only, it should not be a replacement for the mentioned tools. Perhaps a link in the tools section, after some in-depth testing would be a better fit?

[2020-02-05 12:22] lwierzbicki commented on #1647
During my testing no antivirus warnings popped up. The tool is really useful if you read/verify code of Android app. However I agree that we should wait until the tool become more open (open source would be the best).

[2020-02-07 10:06] lwierzbicki commented on #1631
Additionally, I would split that into two tasks:
1. Blueprint/template of MSTG structure
2. Removal of ```Generated``` directory and describing tools for users that they can generate files themselves (I think sample Table of Content is generated by this script: https://github.com/OWASP/owasp-mstg/blob/master/Tools/generate_toc.rb, some intro is also here https://github.com/OWASP/owasp-mstg/blob/ma

[2020-02-07 17:33] cpholguera commented on #1631
Thanks @lwierzbicki , we'll have a closer look at that ;)

[2020-02-09 20:32] #1360 closed

[2020-02-09 20:32] #1361 closed

[2020-02-09 20:36] #1359 closed

[2020-02-10 13:56] leonjza opened #1652 "Testing iOS Libraries with objection (MSTG-NETWORK-6, MSTG-CODE-5)"
Noticed the section where one could enumerate third party libraries was missing a dynamic analysis section using objection. The commands `ios bundles list_frameworks` and `ios bundles list_bundles` both produce output with the parsed versions numbers of the target libraries as output.

Eg:

[code]

[2020-02-10 17:38] cpholguera commented on #1652
Hi @leonjza,

Thanks for letting us know. That's great, we should definitely add it. Is there also a version of this command for Android?

[2020-02-10 17:39] leonjza commented on #1652
Not yet no. Pull requests welcome though haha!

[2020-02-10 20:16] cpholguera commented on #1652
Same here ^^ If you see something like this and have the time to quickly send a PR we'll be very thankful. If not, at least reporting it also helps of course, as you did here, thanks again!👌

[2020-02-11 08:03] cpholguera commented on #1631
I think we should definitely sync this to the topics of

- having a clear intro to each test case, that can be parsed for e.g. SKF
- having the same structure "overview/static/dynamic" everywhere
- in static analysis having a part for when you have the code and one for when you don't. We just have a few sections doing that. I think in 0x06h.

@sushi2k @lwierzbicki  what do you think? We can discus

[2020-02-11 21:10] lwierzbicki commented on #1631
I agree. Advantages which I see:
* content is organized to deliver precise information how to perform the test
* guide is organized, you can easily find desired topic
* we can plan updates and organize work for future releases
* all of this would lead to more modular document (which can be easily refactored like a code ;) )

[2020-02-11 22:38] cpholguera opened #1654 "Obfuscation techniques for Android native code"
Add recommendations about obfuscation for Android native code?

- Replace libc APIs with syscalls
- Replace libc APIs with custom implementation
- Native code obfuscation using O-LLVM

See: https://darvincitech.wordpress.com/2020/01/07/security-hardening-of-android-native-code/

[2020-02-12 04:40] su-vikas commented on #1654
If no one is taking this one, I will take this one up :)

[2020-02-12 07:03] cpholguera commented on #1654
Hi Vikas, thanks for taking this one. We're not sure if we're adding this or not. We'll have to discuss internally first, if could prepare a little summary before the PR itself that'd help ;)

Also it would be interesting to know if the same techniques are applicable for iOS.

[2020-02-16 20:03] TheDauntless opened #1657 "Unable to check out repo on Github Desktop on windows"
When cloning the repo on Github Desktop on Windows, I get an error that the file tree contains a backslash in a filename and therefore can not be cloned:

![image](https://user-images.githubusercontent.com/1650034/74611776-764f1c00-50ff-11ea-87fa-90e77fc10b24.png)

Current workaround:
- git clone from cmd prompt

Fix:
- Remove the Tools/\ folder from the git history.

[2020-02-18 20:29] #959 closed

[2020-02-24 10:07] harshil-shah004 commented on #877
hi @commjoen , All of the above slack links are inactive.
Could you please help me join the OWASP slack channel.

[2020-02-24 10:16] commjoen commented on #877
Does https://owasp-slack.herokuapp.com/ work for you?

[2020-02-24 10:57] harshil-shah004 commented on #877
Yes, it works!
Thanks a ton :D

On Mon, Feb 24, 2020 at 3:46 PM Jeroen Willemsen <notifications@github.com>
wrote:

[2020-02-24 11:27] commjoen commented on #877
Great! Can you help me out olease @harshil-shah004? Could you please file a pr to change the current url in the readme and mstg please?

[2020-02-24 23:04] sushi2k commented on #877
@commjoen  did it now for readme in MSTG and MASVS

[2020-02-25 07:48] galapogos opened #1662 "Encrypted Shared Preferences not covered in MSTG-STORAGE-1 and MSTG-STORAGE-2"
MSTG-STORAGE-1 and MSTG-STORAGE-2 lists proper usage of Shared Preferences, but doesn't provide guidelines for the new Encrypted Shared Preferences, which automatically encrypt the contents of the XML file.

[2020-02-25 07:58] cpholguera commented on #1662
Hi @galapogos , thanks for pointing that out! If you have experience using that feature, would you mind opening a PR including what's missing? That'd be a great help for us, we'll gladly review it :)

[2020-02-25 08:34] galapogos commented on #1662
I actually don't have experience using this, however I recently encountered an app using this while doing an assessment of it, and wanted to refer to MSTG on testing it, but didn't find anything, hence the issue. However, I did note that I could simply hook on the API call and get the decrypted data.

[2020-02-25 09:06] A-AFTAHI commented on #1662
I think that testing encrypted that is similar either they're stored in Shared Preferences or elsewhere. don't you think? Perhaps adding a section specifically for Shared_Prefs would be Good.

[2020-02-25 11:18] cpholguera commented on #1662
On a first step we should add a reference on usage of encrypted shared preferences in the current section. After that we could think if we need a separate section or a better sub-sections structure, I'm not sure if the current static and dynamic analysis sections even match.

[2020-02-25 11:20] cpholguera commented on #1662
https://developer.android.com/topic/security/data

[2020-02-25 14:18] lwierzbicki commented on #1662
@cpholguera I think I can work on it, as mentioned in issues #947  and #949.

[2020-02-25 16:46] cpholguera commented on #1662
That'd be perfect, thank you so much!

[2020-02-25 20:12] jadeboer commented on #1662
The mechanism being proposed by the new security lib is super simple to use, but the lib itself is an alpha.

However, I would suggest the MSTG recommend its use when it is generally released. I would not recommend to any dev teams that they make use of alpha libraries in general.

https://developer.android.com/topic/security/data#edit-shared-preferences

[2020-02-25 21:01] lwierzbicki commented on #1662
@jadeboer thanks for being thorough :) Lib will make things easier in the future. But I've seen implementations which use the same pattern - master key is stored in Keystore (or at the end it was advised to be stored in Keystore ;) ) and it is used to encrypt keys and values (which are encoded with base64 and saved in shared preferences - app container).

[2020-02-25 21:26] jadeboer commented on #1662
Yep, the pattern is useful and this new security lib will also simplify consistent implementation of the pattern for developers. I just wanted to caution against recommending use of an alpha lib =)

[2020-02-27 23:41] galapogos commented on #1647
Version 3.70 on the linked github page above throws me a Windows Defender warning (Trojan:Win32/Occamy.C)

[2020-03-02 08:48] A-AFTAHI commented on #1652
Hi @cpholguera you can assigne this to me. i like to work on it.

[2020-03-02 08:54] cpholguera commented on #1652
Thanks!

[2020-03-09 08:12] galapogos commented on #1662
Actually I'm not sure if EncryptedSharedPreferences is even a good idea. It seems to only provide data at rest protection, but is susceptible to runtime hooking in order to either dump out the decrypted key/value pair, or the data encryption key of the key/value pair. Seems to give a false sense of security in this sense.

[2020-03-09 08:23] galapogos opened #1665 "Proper Android Local Authentication"
The current MSTG documentation discussing Android Local Authentication offers 2 options:
1. Confirm Credentials (MSTG-AUTH-1 and MSTG-STORAGE-11)
2. Biometric Authentication (MSTG-AUTH-8)

Both options use device level credentials, i.e. lock screen PIN/pattern or biometric authentication. This doesn't cover the case where an app may wish to use an app specific passcode.

There are valid use cases

[2020-03-09 21:59] jadeboer commented on #1662
Hey @galapogos , I think there is still value here.

In my experience, teams will implement their own idea of something to call secured shared preferences, with varying tactics, code quality and resultant security outcomes. This new library's capability will provide consistent implementation, make use of the android key store for master keys, make use of enums for configuration options, etc - whic

[2020-03-09 23:19] galapogos commented on #1662
True, but I think we need to list out the caveats in the MSTG once it's included.

[2020-03-10 01:01] bad5ect0r opened #1666 "Where can I access the background app preview screenshot in Android?"
For iOS, you can visit the following directory and download the screenshots:

`/var/mobile/Containers/Data/Application/$APP_ID/Library/Caches/Snapshots/`

This information is not provided for Android. Is it even possible for an attacker with only file system access to download these screenshots?

[2020-03-11 13:16] legik opened #1667 "Port forwarding in "Tampering and Reverse Engineering on iOS""
**Describe the issue**
In the [Debugging with LLDB](https://github.com/OWASP/owasp-mstg/blob/d3460bab8bc512b348807830afbb9455acf9a604/Document/0x06c-Reverse-Engineering-and-Tampering.md#debugging-with-lldb) section a python "tcprelay.py" script for port forwarding was mentioned without any reference.

The same process can be done with iproxy utility which is already described in "basic-security-te

[2020-03-12 08:01] legik commented on #1666
hi @bad5ect0r ,

The palce of preview screenshots depends on vendor. But in most cases you can find snapshots in the following folders:
- /data/system/recent_images

If device support file-based encryption:
- /data/system_ce/{USER_ID}/snapshots
- /data/system_ce/{USER_ID}/recent_images

[2020-03-14 23:54] cak commented on #1160
I apologize for the delay 😬, but I am circling back on my draft and will submit soon.

[2020-03-15 06:10] sushi2k commented on #1667
Good spot! Do you mind making a PR @legik?

[2020-03-15 06:13] sushi2k commented on #1666
Thanks for pointing that out guys. In iOS this directory is covered in the dynamic testing section, but not for Android.

This should be added for the dynamic scanning in Android:
https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05d-Testing-Data-Storage.md#finding-sensitive-information-in-auto-generated-screenshots-mstg-storage-9

[2020-03-15 12:21] sushi2k commented on #1665
Hi @galapogos. Thanks for the ticket!
Using biometric authentication is a convenient and secure way to authenticate locally. After authenticating locally on the device the user need to login to an app, or resume an existing session which again can be re-authenticated via biometric authentication. You are right that the the user might have a weak pin (1234), but if he has a weak pin and you force t

[2020-03-15 12:25] sushi2k commented on #1665
Hi @galapogos. Thanks for the ticket! As far as I can tell this is not possible to set a specific app password as backup for biometric authentication. If biometric authentication it will always ask for the device pin/password. See also https://developer.android.com/training/sign-in/biometric-auth

Using biometric authentication is a convenient and secure way to authenticate locally. After authenti

[2020-03-16 06:18] #1362 closed

[2020-03-16 09:11] legik commented on #1667
@sushi2k
I will make a PR

[2020-03-16 09:12] legik commented on #1666
@sushi2k
I will create a PR for this

[2020-03-20 04:58] shivsahni opened #1672 "Content Not Aligned With Apple Dev Docs"
**Describe the issue**
The following section is taken from here: https://mobile-security.gitbook.io/mobile-security-testing-guide/ios-testing-guide/0x06f-testing-local-authentication#using-keychain-services-for-local-authentication

It says that **LocalAuthentication.framework uses Security.framework under the hood**. However, as per the Apple Dev Docs, it seems that the converse is true.

Referen

[2020-03-20 05:11] shivsahni opened #1673 "Content Needs To Be More Descriptive"
The following section is taken from here: https://mobile-security.gitbook.io/mobile-security-testing-guide/ios-testing-guide/0x06f-testing-local-authentication

It says Security.framework can be bypassed too as it only returns the boolean value but the actual component of Security.framework i.e. Keychain services seems to be robust from such attacks since the authentication is protected through cr

[2020-03-23 08:10] #1667 closed

[2020-03-23 11:40] cpholguera commented on #1673
Hi @shivsahni, it would be great if we could be more precise and elaborate here as you said. Would you like to help us doing that here? It'd help us a lot if you'd open a PR with your suggestions :)

[2020-03-23 11:42] cpholguera commented on #1672
Same here, It'd help us a lot if you'd open a little PR with your suggestions :) thanks a lot for proofreading!

[2020-03-25 04:43] shivsahni commented on #1672
Hey @cpholguera,

I can definitely open a PR for this, not an issue at all. However, could you please confirm if whatever I mentioned makes sense and we actually need to correct the content.

[2020-03-25 04:44] shivsahni commented on #1673
Hey @cpholguera,

Just like the previous issue:

I can definitely open a PR for this, not an issue at all. However, could you please confirm if whatever I mentioned makes sense and we actually need to correct the content.

[2020-03-31 00:16] galapogos commented on #1665
Hi @sushi2k, I agree on your comment about the possibility of a longer but just as weak PIN. However, the app is free to implement any PIN strength policy it might have (and therefore blacklist weak ones), regardless of the device PIN requirements.

An app specific PIN might make sense in the case of a secure app (e.g. a banking app) in an uncontrolled device (no MDM) that either does not support

[2020-03-31 23:44] sushi2k opened #1678 "Evaluation of URL Loading on Android WebViews"
**Platform:**
Android

**Description:**
Evluate shouldOverrideUrlLoading and add to existing test cases (if needed): https://github.com/OWASP/owasp-mstg/pull/1655#discussion_r384136392

[2020-04-01 11:21] sushi2k commented on #1673
Hi @shivsahni. I guess the point is that you can also hook into low-level functions and overwrite the return values. At the end of the day LAContext is an abstraction or high level function that is relying on the Security Framework (low level C-API).
That's why the best practice is to encrypt some information via keychain services that can only be decrypted after successful biometric authenticatio

[2020-04-01 11:28] sushi2k commented on #1672
Ok, so LAContext and Keychain services definitely play together. I would say that LAContext uses the security framework under the hood, at least this is what the documentation is describing for security framework (even though LAContext is not mentioned specifically) https://developer.apple.com/documentation/security.

I think this just means that LAContext is then deciding if the Touch or Face ID

[2020-04-01 11:30] sushi2k commented on #1666
Hi @legik. Do you have some time to follow up on this? Thanks again for bringing it up.

[2020-04-01 11:39] sushi2k commented on #1665
Hi @galapogos. I think for authentication, especially for apps that have sensitive data we should rely on:
* strong password (enforced from server-side during registration)
* offer biometric authentication (not an issue on iOS, optional for Android)
* enforce usage of 2FA
* configure access tokens according to best practices (e.g. JWT)

All devices for all public apps are unmanaged/uncontrolled bu

[2020-04-01 11:48] sushi2k commented on #1662
I agree with @jadeboer. It streamlines the effort to encrypt data and abstracts it so it's easier to use.
@galapogos You are right it provides additional protection at rest and an attacker will always be able to hock into apps (it's always just a matter of time and skills of the attacker) to get the decrypted data in this case. Nevertheless it's a best practice and should be used once out of the a

[2020-04-01 17:48] lwierzbicki opened #1679 "RMS-Runtime-Mobile-Security"
**Describe the issue**
Maybe it is worth to take a look and investigate this tool: https://github.com/m0bilesecurity/RMS-Runtime-Mobile-Security
I think we haven't mentioned it anywhere in MSTG.

I could check how it can possibly fit MSTG.

[2020-04-01 20:58] cpholguera commented on #1622
Duplicate of #1494?

[2020-04-01 22:00] sushi2k commented on #1657
Hey @TheDauntless. Thanks for raising. How do you know it's the tools folder? At least in the screenshot you shared I cannot find it.

[2020-04-01 22:06] sushi2k commented on #1679
Thanks for opening an issue @lwierzbicki . Think I saw it on twitter last week.

I would suggest you give it a try and see if the tool is usable and helps. If so, we can add it first to the list of tools for the host computer: https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05b-Basic-Security_Testing.md#recommended-tools---host-computer

Then in a 2nd round we can think about if it make

[2020-04-02 17:16] legik commented on #1666
Hi @sushi2k,
Not sure about grammar, check please.

[2020-04-05 09:07] sushi2k commented on #1679
Hi @Ozturk470. Do you want to pick up the issue?

[2020-04-05 10:14] drZaius opened #1685 "Use of SHA1PRNG (MSTG-CRYPTO-2, MSTG-CRYPTO-3 and MSTG-CRYPTO-4)"
I've been reading the MSTG and noticed in the section "Testing the Configuration of Cryptographic Standard Algorithms (MSTG-CRYPTO-2, MSTG-CRYPTO-3 and MSTG-CRYPTO-4)" that when using SecureRandom, SHA1PRNG is deprecated and should no longer be used. Instead, a SecureRandom object should be instantiated as follows

``SecureRandom random = new SecureRandom();``

I wanted to check what algorithm is

[2020-04-05 11:08] su-vikas commented on #1369
Taking this one.

[2020-04-05 11:41] sushi2k commented on #1685
Thanks @drZaius, that's a very good question. Can you please let us know which Android version you were using to run the app?

@lwierzbicki as you are rewriting some of the crypto stuff for Android, any thoughts on this one?

[2020-04-05 11:47] su-vikas commented on #1654
@cpholguera It seems the blogpost is by my friend and I have asked him to directly contribute to this ticket.  @darvincisec

[2020-04-05 11:50] sushi2k commented on #1645
Thanks for sharing and apologies for the late response @HiddeSmit.

Routing the traffic via /etc/hosts and DNS is of course also one way and thanks for describing the steps in detail.

You could add the /etc/hosts as a seperate section after bettercap (https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05b-Basic-Security_Testing.md#bettercap) and include the DNS spoofing to bettercap. Do y

[2020-04-05 11:53] sushi2k commented on #1622
True :-) Closing it

[2020-04-05 11:53] #1622 closed

[2020-04-05 12:14] commjoen commented on #1685
Thank you @drZaius ! I do wonder: did you test it with a patched security provider?

[2020-04-05 13:53] drZaius commented on #1685
Thanks for your quick reply!

@sushi2k I actually ran the app on two different phones (Nexus 5X and Pixel 3), both running Android 10 with build version 29.

@commjoen  no, I only used the default provider. As mentioned in my post, I simply created a new SecureRandom object using ``SecureRandom random = new SecureRandom();``.
I just tested my frida script also on the PayPal and the Signal app. Whe

[2020-04-05 16:18] cpholguera commented on #1654
thanks @su-vikas, that sounds great, thanks for asking him directly.

[2020-04-05 20:17] lwierzbicki commented on #1685
@drZaius - what do you mean by `uses the Conscrypt provider instead of the default AndroidOpenSSL`. Based on my understanding Conscrypt is AndroidOpenSSL.

I would investigate the case with SHA1PRNG and will try to answer your question.

Currently, I would say that SHA1PRNG is not cryptographically strong and Crypto provider is depracated. But let me double check.

[2020-04-06 09:12] lwierzbicki commented on #1685
I used following code snippet on Android emulator API 28 :
[code]
And output is:
[code]

@drZaius - this confirms your case.

In official Android docs, I found the following statement:
`The SHA1PRNG algorithm from the Crypto provider has been deprecated as it was insecure, and also incorrectly used by some apps as a key derivation function. See Security "Crypto" provider deprecated in Android N fo

[2020-04-06 09:37] drZaius commented on #1685
@lwierzbicki yes, it seems that Conscrypt is just using AndroidOpenSSL as its provider name, but they appear to be the same. Although I do not understand why ``getProvider().getName()`` sometimes returns Conscrypt and sometimes AndroidOpenSSL.

Thanks for confirming my case. I've also taken a look at the [source code](https://android.googlesource.com/platform/libcore/+/dab9b37/ojluni/src/main/java

[2020-04-06 19:04] #1666 closed

[2020-04-06 22:49] darvincisec commented on #1654
thanks @su-vikas. @cpholguera I will take this. Will provide a summary before the PR

[2020-04-07 05:18] cpholguera commented on #1654
Ticket assigned. Thanks @darvincisec, looking forward to it ;)

[2020-04-07 15:22] lwierzbicki commented on #1685
I found the following paragraph in [Android dev docs]("https://developer.android.com/reference/java/security/SecureRandom#getInstanceStrong()"):
`
In Android this is equivalent to get a SHA1PRNG from AndroidOpenSSL. Some situations require strong random values, such as when creating high-value/long-lived secrets like RSA public/private keys. To help guide applications in selecting a suitable stron

[2020-04-07 15:32] commjoen commented on #1685
It seems that it is indeed about the implementation of the Crypto provider. Patching the provider should lead to always returning AndroidOpenSSL as a provider. So i guess that got wrongly interpreted. Nice catch! Thanks! Your actions seem to be perfectly fit indeed. Looking forward to your PR!

[2020-04-08 05:16] cpholguera commented on #1679
The tool seems to be very similar to House. I'd propose to test it and make a proposal clearly highlighting the differences between RMS and House. And then decide if we'll add a short description of the tool to the list.

https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05b-Basic-Security_Testing.md#house

[2020-04-10 09:16] sushi2k commented on #1652
Hi @A-AFTAHI. Thanks for volunteering. Can you still pick it up?

[2020-04-10 09:27] sushi2k commented on #1665
Hi @galapogos. After discussing with @commjoen, he brought up a few more points (which concludes for us to close this ticket):

The only solution that can basically detect local tampering without easy patching is the iOS KeyStore. Therefore anything that is offline/local will have to use that and the passcode that comes with it. Any other mechanism, would require an online version at which the ser

[2020-04-10 09:27] #1665 closed

[2020-04-10 09:32] sushi2k opened #1688 "[iOS] Have a testcase for MSTG‑RESILIENCE‑13"
**Platform:**
iOS

**Description:**
https://github.com/OWASP/owasp-mstg/issues/1494

[2020-04-10 16:21] lwierzbicki opened #1689 "Android crypto next level"
**Describe the issue**
We need extend / describe more following topics sections:
- [ ] Dynamic Analysis for MSTG-CRYPTO-01
- [ ] Dynamic Analysis for MSTG-CRYPTO-2, MSTG-CRYPTO-3 and MSTG-CRYPTO-4
- [ ] Dynamic Analysis for MSTG-CRYPTO-05
- [ ] Key Rotation and key lifecycle management
- [ ] GCMParameterSpec is only addressed a bit in anti-reverse engineering, while this needs more love in crypto

[2020-04-11 08:48] PanwarM commented on #1679
Hey everyone, I can maybe take this if it is not yet assigned.

[2020-04-11 09:31] cpholguera commented on #1679
Hi @PanwarM, it's now assigned to you. Please consider the comment above and gladly provide an overview RMS vs House (differences, pros, cons, etc.) **before opening a PR**. We still have to evaluate if and how to integrate this tool to the MSTG. Thank you very much!

[2020-04-14 13:25] commjoen opened #1691 "Update compliancy sheets to MASVS 1.2"
we need to update the Excel sheet to MASVS 1.2.

[2020-04-15 05:53] sushi2k commented on #1672
@shivsahni let us know if you have other feedback to this item

[2020-04-15 05:58] sushi2k commented on #1652
Can be added here: https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06i-Testing-Code-Quality-and-Build-Settings.md#dynamic-analysis-3

[2020-04-15 06:14] sushi2k commented on #1492
Good summary of options for Android: https://medium.com/babylon-engineering/android-security-certificate-transparency-601c18157c44

How does CT work on iOS. Is this part of the OS?

[2020-04-15 21:40] cpholguera opened #1693 "Revisit iOS (MSTG-RESILIENCE-9)"
- **Obfuscation Techniques**: Introduce the types of obfuscation techniques available that make sense for iOS (both Obj-C and Swift and why): name obfuscation, string encryption, control flow obfuscation, dummy code insertion, opaque predicate insertion, etc. (a comparison to Android would also help).
- **Abstraction Levels**: source, binary, IR
- **Static vs Dynamic**: e.g. is "Self-modifying cod

[2020-04-15 21:45] cpholguera commented on #1693
@serek8 requested per PM taking care of this issue. However I cannot assign him.

I'll check and let you know @serek8

[2020-04-16 07:24] A-AFTAHI commented on #1652
@sushi2k  i'm sorry i'm really drowning in some work over here u can assing it to someone else and i'll pick up an other issue when i'm able to.

[2020-04-16 20:01] cpholguera commented on #953
If security-relevant, add after #1642 to complement MSTG-PLATFORM-9.

[2020-04-16 20:41] cpholguera commented on #948
Actually maybe we can relate here to:

`| **4.10** | MSTG‑AUTH‑10 | Sensitive transactions require step-up authentication.  |   | ✓ |`

and change it to be:

`| **4.10** | MSTG‑AUTH‑10 | Sensitive transactions are properly confirmed at the client side (using at least security features offered by the OS) and authenticated at the remote endpoint (step-up authentication).  |   | ✓ |`

or shorter:

`|

[2020-04-17 07:43] sushi2k commented on #1693
Hey @serek8. Please click on the invite via mail or here: https://github.com/OWASP/owasp-mstg/invitations.
Then we can assign the ticket to you! Ping Carlos or me for any issues. Thanks

[2020-04-17 10:13] teok0045 opened #1694 "[iOS] Anti-Reversing Defenses, File Integrity Checks - application source code integrity checks issues"
Hi,

i was actually trying to implement Application source code integrity checks to verify if the IPA file is not being tampered with during runtime.

I have tried integrating the file integrity check code provided by this article(https://mobile-security.gitbook.io/mobile-security-testing-guide/ios-testing-guide/0x06j-testing-resiliency-against-reverse-engineering#file-integrity-checks-mstg-resili

[2020-04-18 10:11] serek8 commented on #1693
Hey @cpholguera and @sushi2k, thanks for the invitation, I just accepted it. Please assign the task to me. @cpholguera, do you mean something specific by "Self-modifying code" for iOS? I believe Apple doesn't allow modifying executable pages in any order. Or you just want me to clarify why Self-modifying code is NOT the case on iOS? Thanks

[2020-04-18 10:22] cpholguera commented on #1693
Assigned @serek8! yes exactly, that'd be the idea, to explain the ones that are applicable and for the interesting ones that are not applicable also to tell why. If you have sources to link please also do so. Thank you so much!

[2020-04-18 22:12] sushi2k opened #1697 "Carthage Analyzr"
**Platform:**
iOS

**Description:**

At the moment it's not possible to analyse Cartage packages. This is still a gap and can be added to Document/0x06i-Testing-Code-Quality-and-Build-Settings.md.

Tasks:

1. Research if any other tool can find vulnerabilites in Carthage
2. Develop your own analyzer and share with the community :-) See
https://github.com/OWASP/owasp-mstg/pull/1690#discussion_r4073

[2020-04-22 07:18] mkaraoz commented on #1662
Fyi, AndroidX Security library is now a release candidate.

https://mvnrepository.com/artifact/androidx.security/security-crypto/1.0.0-rc01

[2020-04-25 22:05] cpholguera opened #1701 "Broken Lulu Link in Readme"
http://www.lulu.com/shop/sven-schleier-and-jeroen-willemsen-and-bernhard-m%C3%BCller/owasp-mobile-security-testing-guide/paperback/product-24091501.html

[2020-04-26 09:34] cpholguera opened #1704 "Add short intro to bytecodeviewer and fix word bytecode"
It's just mentioned in 0x08.

- Add short intro to bytecodeviewer.com in 0x05b-Basic-Security_Testing.md. First draft:

- Fix word "byte-code", "byte code", etc. It should be "bytecode" as per Android Docs. Fix also in the style-guide.md

[2020-04-27 02:35] coky-t opened #1705 "Update MASVS items in Reference section to MASVS 1.2"
Thare are some outdated items of OWASP MASVS in Reference sention.
We need to update them to MASVS 1.2.

[2020-04-27 02:54] #1705 closed

[2020-04-29 15:57] ninedter opened #1709 "Warning message and/or preventing screenshot for personal data sensitive applications"
**Platform:**
iOS, Android

**Description:**
The current MSTG test cases for the screenshot on mobile devices state and restrains the screenshots for application when it is in the background.  However, for applications that are sensitive to personal or financial data, this test case does not apply.

A warning message for such applications when a screenshot is triggered would also bring users aware

[2020-04-29 19:25] commjoen commented on #1709
Is linked to https://github.com/OWASP/owasp-masvs/issues/443 , but seems like a great item to work at!

[2020-05-01 16:10] cpholguera commented on #953
I've included a suggestion in #1642 which will close this, @commjoen @sushi2k please review.

https://github.com/OWASP/owasp-mstg/pull/1642#discussion_r418610302

[2020-05-03 11:35] #1358 closed

[2020-05-04 19:11] lwierzbicki opened #1713 "Android quality code next level (MSTG-CODE-5)"
**Describe the issue**
We need extend / describe more following topics sections:
- [ ] Check [Android patch level](https://developer.android.com/reference/android/os/Build.VERSION#SECURITY_PATCH) - operating on up-to-date system is a good thing ;)
- [ ] Check that security provider is up-to-date (mentioned in Crypto, and it also applies to MSTG-CODE-5)

You can assign me to that ticket.

[2020-05-05 09:08] cpholguera opened #1714 "Move content from 1707 to 0x05c Info gathering"
Move content from  #1707 to 0x05c "Info gathering" section as a subsection.

[2020-05-06 06:56] mkaraoz opened #1715 "Dead Links in 0x05i-Testing-Code-Quality"
**Following links are dead.**

Under Memory Corruption Bugs (MSTG-CODE-8) and References:
A brief history of Android deserialization vulnerabilities: https://blog.semmle.com/android-deserialization-vulnerabilities.

Could be this article but not sure: https://securitylab.github.com/research/android-deserialization-vulnerabilities
_____________

Under Make Sure That Free Security Features Are Activ

[2020-05-06 11:00] cpholguera opened #1717 "Cleanup write-ups"
Since we decided not to include write-ups it might be a good idea to do some clean up. Also because some information isn't actual anymore (e.g. from 3-4 years ago).

We can start by reducing/partially removing content and source code that's 1-1 copy of online articles/documents. **Leaving proper summaries/highlights and references**.

For instance, in [this article](https://www.vantagepoint.sg/blo

[2020-05-07 08:37] cpholguera opened #1718 "Removing Dashes"
I have a feeling that we should in general refrain from using _em dashes_ (—). What do you think? Also I've seen that the ones we have are marked as "bad-chars" by the "Bad Chars" plugin that I have installed for vscode. This might give us some headaches in the future autom. builds if we don't properly take care of them.

In general, a colon or parenthesis should be enough.

- Colons in lists and

[2020-05-07 10:55] cpholguera opened #1719 "Evaluate Tapjacking Dynamic Checks"
In #1642 we've removed the "Dynamic Analysis" sub section from "### Testing for Overlay Attacks (MSTG-PLATFORM-9)". It should be researched carefully and we can include some POCs or similar. I tend to think that there's less that the app can do to avoid this, it's rather the system which has this vulnerability. So the tester can _only_ check the target/minSdk-value maybe and ensure that the OS ver

[2020-05-07 10:57] cpholguera commented on #1719
This article is also interesting: https://www.xda-developers.com/how-tapjacking-made-a-return-with-android-marshmallow-and-nobody-noticed/

[2020-05-07 11:11] jay0301 commented on #1719
@cpholguera Agreed on the point from Note that we can limit to verify minSDK value.

I was deep diving on dynamic testing and would agree that it is rather an AOSP issue than a application issue. Android versions from 8.0 and above has addressed these issues quite well.

Below article gave me a more better idea.

https://unit42.paloaltonetworks.com/unit42-android-toast-overlay-attack-cloak-and-dag

[2020-05-07 11:22] cpholguera commented on #1719
Hi @jay0301 , that's a very nice suggestion. thanks for the research, I agree with the minsdk. however that's more a static check, right? Maybe in dynamic analysis you can simply suggest taking those example POCs as a starting point. Please specify the Android version that they target with the format: "Android X.X (API level xx)"

[2020-05-07 11:40] jay0301 commented on #1719
@cpholguera sure will do that. Drafting the section. Will share the commit today only for issue #1642 and include update Dynamic Analysis section.

[2020-05-07 11:41] cpholguera commented on #1719
perfect, thank you very much!

[2020-05-07 21:15] #1714 closed

[2020-05-09 10:50] Ralireza opened #1722 "differ from MASVS"
in the English checklist, the android requirement differs from the MASVS checklist.
I don't know its an issue or not but not good :)

[2020-05-09 12:54] commjoen commented on #1722
This should be fixed in https://github.com/OWASP/owasp-mstg/pull/1708 :) can you verify please ^^?

[2020-05-09 19:03] Ralireza commented on #1722
security requirement android in:
https://github.com/OWASP/owasp-mstg/blob/master/Checklists/Mobile_App_Security_Checklist-English_1.1.2.xlsx

vs

https://mobile-security.gitbook.io/masvs/security-requirements/0x06-v1-architecture_design_and_threat_modelling_requireme

the gitbook has more

[2020-05-09 19:13] commjoen commented on #1722
Ah no, https://github.com/OWASP/owasp-mstg/blob/master/Checklists/Mobile_App_Security_Checklist-English_1.1.2.xlsx is version 1.1.2, we are currently with the MASVS at version 1.2 (=newer). In #1708 version 1.2 of the MASVS is ported to the Excel.
So no deletion of gitbook requirements ^^.

[2020-05-09 19:14] commjoen commented on #1722
Closing as duplicate of #1691 .

[2020-05-09 19:14] #1722 closed

[2020-05-11 12:36] #1691 closed

[2020-05-11 22:56] sushi2k commented on #1715
Thanks @mkaraoz! Can you create a Pull Request and directly fix the links?

[2020-05-11 22:58] sushi2k commented on #1701
Fixed in https://github.com/OWASP/owasp-mstg/pull/1723

[2020-05-11 22:58] #1701 closed

[2020-05-12 07:17] mkaraoz commented on #1715
I cannot because I couldn't find a live link for this one: https://owasp.org/www-project-code-review-guide/#.NET_.26_Java

When I googled "www-project-code-review" I found a [pdf](https://owasp.org/www-pdf-archive/OWASP_Code_Review_Guide_v2.pdf) but I dont know which (or if any) section of the document is related to the content of the dead link.

If someone helps with it, I can create a pull reque

[2020-05-12 07:30] sushi2k commented on #1409
So Needle is not maintained anymore. The cydia repo is down and even MWR is suggesting to use objection:

https://github.com/FSecureLABS/needle/issues/277

[2020-05-12 07:36] sushi2k commented on #1715
Hi @mkaraoz. You can use the following link for buffer overflow: https://owasp.org/www-community/vulnerabilities/Buffer_Overflow. Please fix both links then 👍

[2020-05-13 21:26] adambieber1 commented on #877
Hi!  @commjoen Is there a new link to join the OWASP Slack Channel?  I'd love to join.

[2020-05-14 01:37] sushi2k opened #1725 "gdb installation"
**Describe the issue**
gdb cannot be installed via http://cydia.radare.org/debs/. This repo is not working anymore.

Need to find an alternative.

gdb is listed here: https://github.com/OWASP/owasp-mstg/blob/2918b24f297acc27a48d6f50b63b4467fdaa6a66/Document/0x08-Testing-Tools.md#dynamic-and-runtime-analysis-2

[2020-05-14 01:42] #1715 closed

[2020-05-14 04:59] commjoen commented on #877
Hi @adambieber1 , yes there is. It is in the readme: it is https://owasp-slack.herokuapp.com/ 👍

[2020-05-14 06:06] commjoen commented on #1715
Hi @mkaraoz ! Given that you are now officially a contributor, I wonder: what name can i put in the contributorslist ?

[2020-05-14 08:15] mkaraoz commented on #1715
You can put Murat KARAOZ, thanks.

[2020-05-14 14:28] calabacito commented on #1725
@radare ?  I guess this is not supported anymore?

[2020-05-14 20:58] commjoen opened #1736 "Migrate to new github actions"
In order to speed up reviewing & releasing, we need to :

- [ ] Fix the epub rendering (check document for links and images) and fix errors from `epubcheck OWASP_MSTG-SNAPSHOT-en.epub`
- [ ] Fix the mobi rendering warnings/errors (missing images, links)
- [ ] Cleanup old materials
- [ ] Fix the PDF generation:
   - [ ] Reduce the TOC by one level, at the moment the TOC is 20 pages / TOC should hav

[2020-05-15 10:27] commjoen commented on #1736
We still have todos open...

[2020-05-25 05:00] crazykid95 opened #1752 "Add a test case to check for sensitive information hardcoded"
**Platform:**
Android, iOS
**Description:**
This test case includes detecting the following issues from the source code of the app:
- Hard embedded sensitive information, for example: MSTG mentioned hard-coding encryption key in the source code at MSTG-CRYPTO-05, but developers can also embed other types of sensitive information like authentication information, sensitive tokens, app secret keys, e

[2020-05-25 12:27] sushi2k commented on #1752
Hi @crazykid95. Thanks for raising the issue!
You are right there is way more than keys and some of the items you mentioned are covered in the static analysis part of iOS https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06d-Testing-Data-Storage.md#static-analysis and
Android https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05d-Testing-Data-Storage.md#static-analysis.
The static

[2020-05-25 13:40] crazykid95 commented on #1752
Yes, what do you think if I create a PR to add an subsection named "**App Package**" under section https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05d-Testing-Data-Storage.md#static-analysis for Android? (Like the Local Storage, KeyStore, KeyChain, Third Party libraries subsections we have). "**App Package**" subsection will make sure developers use regex to recursive search for sensiti

[2020-05-26 07:14] cpholguera opened #1753 "Update Android Encryption"
https://twitter.com/DDinorahtovar/status/1264615629698580485?s=20

Check and update what's missing.

[2020-05-26 22:05] #1693 closed

[2020-05-26 22:07] #947 closed

[2020-05-26 22:07] #949 closed

[2020-05-27 05:48] lwierzbicki commented on #1753
I can take a look and see if we need to update what's missing.

[2020-05-27 07:57] commjoen commented on #1753
Yes please, can you please update your tracking issue and then close this issue with a reference to yours?

[2020-05-27 07:59] lwierzbicki commented on #1753
Yes, of course. That was my plan :)

[2020-05-27 14:14] mkaraoz opened #1754 "[iOS] how to call system function from swift code?"
**Platform:**
iOS

**Description:**
In **iOS anti-reverseing defence** chapter, under **Jailbreak detection (MSTG-RESILIENCE-1)** -> **calling system apis** subtitle, document says that "Calling the system function with a "NULL" argument on a non-jailbroken device ..."

How can we make a call to the system() function. When I try to call it from swift code I get system is not part of iOS compiler e

[2020-05-28 11:37] sushi2k commented on #1754
Thanks for pointing that out. A quick Google search says that from iOS 11 onwards the system() function is not available anymore. Seems that part in the RE chapter need to be updated/removed.

https://forums.developer.apple.com/thread/100617

[2020-05-28 13:08] commjoen commented on #1736
maybe we can include the open tasks of https://github.com/OWASP/owasp-mstg/issues/1156 here?

[2020-05-28 21:26] lwierzbicki commented on #1685
I made correction in the latest PR regarding crypto. This issue is now closed (as I removed prohibition for SHA1PRNG which should be explained as SHA1PRNG from Crypto provider and clarified that SHA1PRNG from AndroidOpenSSL should be used).

[2020-05-29 06:04] #1685 closed

[2020-05-29 06:58] commjoen commented on #1725
can https://iosgods.com/topic/71325-gnu-debugger-gdb-for-arm64/ be of any value?

[2020-05-29 09:14] commjoen commented on #1736
<img width="1075" alt="Schermafbeelding 2020-05-29 om 11 14 27" src="https://user-images.githubusercontent.com/1457214/83243023-9c279a80-a19d-11ea-99af-f30ece71c135.png">
regarding pdf links...

[2020-05-29 09:20] commjoen commented on #1736
Propose : fix `Level 6 headings (######) have no formatting and look like normal text` by preprocessing: ######<content> -> _<content> _

[2020-06-03 04:00] B3nac commented on #962
Hi @cpholguera I've finally made some progress. #1766 :)

[2020-06-04 21:38] jeroenleenarts opened #1767 "iOS DeviceCheck to detect tampering"
**iOS:**

**Description:**
I think Apple's DeviceCheck API can be used to mitigate app tampering. I can imagine there are use cases where you want to prevent against copy-cat or otherwise re-signed clients.

Image using https://developer.apple.com/documentation/devicecheck/dcdevice/2902276-generatetoken to obtain a Token on device and verify-ing it with a Device Validation Request as described on

[2020-06-05 10:33] itsethack opened #1768 "Generate ebook MSTG to PDF"
**Describe the issue**
Repost on #owasp-community on slack https://owasp.slack.com/archives/C04T40NND/p1591346700196800

Hi, I wanna generate pdf OWASP-MSTG v 1.2 from https://github.com/OWASP/owasp-mstg
I already clone the repo, and do run "./tools/docker/run_docker_mstg_generation_on_local.sh"
but I got error (see the picture).
@jeroenwillemsen was said that script was made for mac os x

So, How

[2020-06-05 10:51] ThunderSon commented on #1768
I received no errors whatsoever on Linux.
I believe the issue is with the line endings on Windows, which is CRLF vs LF on linux (and Mac).
You need to amend that on your terminal settings.

[2020-06-05 10:56] ThunderSon commented on #1768
To test that out and confirm this analysis, please do the following and test out:
`sed -i.bak 's/\r$//' ./tools/docker/run_docker_mstg_generation_on_local.sh`

[2020-06-05 14:57] itsethack commented on #1768
Thanks, it works and no error after i test it with that

But, after i finish the 7/7 step and the script going to Generate Document,
I got another error when running script pandoc_makedocs.sh ,
.( /tools/docker/pandoc_makedocs.sh: line 7: $1: unbound variable )

![image](https://user-images.githubusercontent.com/65939746/83891387-46438b80-a777-11ea-8941-35be4e341875.png)

Any solution?

Thanks

[2020-06-05 18:03] commjoen commented on #1768
maybe run it ` bash -c ./tools/docker/run_docker_mstg_generation_on_local.sh ` ?

[2020-06-06 04:06] itsethack commented on #1768
I am sorry @commjoen , there no change, the error still same
![image](https://user-images.githubusercontent.com/65939746/83935651-ca345c80-a7e5-11ea-9c61-7694f924e3d9.png)

[2020-06-06 10:34] lwierzbicki commented on #1753
I reviewed part 1,2 and 3. I would sum up this as introduction to [Android Jetpack Security](https://developer.android.com/jetpack/androidx/releases/security).
Part 1 -> description of Cipher class
Part 2 -> intro to KeyStore and TEE/SE
Part 3 -> EncryptedSharedPreferences and EncryptedFiles.

We've already started discussion about Android Jetpack (by picking topic EncryptedSharedPrefences) in iss

[2020-06-07 09:03] ThunderSon commented on #1768
I uploaded an attempt to transform this into Windows executable. Please try it. Replace .txt with .sh and set it in the same folder location.
Your issue is still porting from linux files to windows.

[mstg_generation_win.txt](https://github.com/OWASP/owasp-mstg/files/4741605/mstg_generation_win.txt)

[2020-06-07 16:07] itsethack commented on #1768
I'm sorry, I still got same error,
![image](https://user-images.githubusercontent.com/65939746/83973881-89d2fc80-a913-11ea-8a72-f3072b8db7b7.png)

I used WSL (Ubuntu) on Windows 10 to run the .sh files

[2020-06-11 15:50] ThunderSon opened #1771 "Android KeyStore Should Belong to the Overview Section"
**Describe the issue**
[Android KeyStore](https://mobile-security.gitbook.io/mobile-security-testing-guide/android-testing-guide/0x05d-testing-data-storage#keystore) is placed in the Static Analysis part, where it discusses how KeyStore works.

It should be part of the Overview section, as it's giving information about the functionality.

[2020-06-12 06:50] sushi2k opened #1772 "Release Creation of MSTG"
**Describe the issue**

During PDF creation in the pipeline the following error occurs, but it is not visisble in the PDF.

[code]

We should create a script that is checking the overfull hboxes and find out which values are really visible in the PDF output (e.g. over 50pt)

![image](https://user-images.githubusercontent.com/5951320/84473614-f8211180-acbb-11ea-8530-d381c935415d.png)

[2020-06-15 22:09] lwierzbicki commented on #1771
I think it is a good point. I redesigned a bit next chapter (testing android crypto), but I put Android Keystore in Testing Data Storage the same way it was before.

@sushi2k @commjoen - what do you think? Should we change structure in Testing Data Storage the same way as in Testing crypto?

[2020-06-16 05:58] cpholguera opened #1777 "Add SMS retriever API"
Add to https://github.com/OWASP/owasp-mstg/blob/e6ddca17b0a95e521463cf66892a0e4496cd0e7d/Document/0x05h-Testing-Platform-Interaction.md#permission-analysis

With the sms retriever API an app is able to trigger an SMS on the backend and the OS will give it back. It must contain a certain set of characteristics, e.g. a certain hash. This way the app does not have to request read access to SMSs as a

[2020-06-16 06:32] cpholguera opened #1778 "Uploading a picture without File Permissions"
On Android it's possible for an app to request the user to select a picture and upload it withtout having to request read access to files. Add the corresponding API and info to

https://github.com/OWASP/owasp-mstg/blob/e6ddca17b0a95e521463cf66892a0e4496cd0e7d/Document/0x05h-Testing-Platform-Interaction.md#permission-analysis

Example app: LinkdIn

[2020-06-19 07:36] ThunderSon commented on #1174
Hello! What's the status on this? #1402 follows on to add PKCE which is engulfed by this issue. The RFC update mentioned in here mainly discusses native apps, and discusses mostly native apps that are clients (and discusses a bit on normal native apps that are not clients).
It is important to note that PKCE doesn't remove the risk of someone sniffing the authorization code. What it does is that it

[2020-06-19 07:42] commjoen commented on #1174
I have not worked on it yet, as multiple other things came in that had a higher priority ^^. What we wanted to do was indeed describe those and describe how you can easily build another app sniffing for that same intent. (Though often just static review is enough :) ). There was a tool that was able to play around with intent filter as well (catch them preconfigured), but I don't know the name any

[2020-06-19 07:59] ThunderSon commented on #1174
Hmmm, then this issue shall handle the technical knowledge, and the 1402 will handle the intent catcher **app**. I'd say to update the other issue a bit to just say that for new comers? (But I see it's already assigned, so that's cool)
Let me tackle this. I am going to be working on the OAuth sheet, and this could be a good part for the native clients.

[2020-06-20 13:02] m0bilesecurity commented on #1679
Hey @PanwarM, all

one of the best features of **RMS** which, AFAIK is not present in other similar tools, is the ability to **highlight all the hooked methods that have been executed by the app**! Very useful if the code is obfuscated 😉

Have a look at the **GIF** below

![RMS_Overview](https://user-images.githubusercontent.com/26333219/85202401-773ec700-b306-11ea-981b-993696fe96ff.gif)

Thank yo

[2020-06-24 04:00] cpholguera opened #1781 "Broken Vantagepoint Blog links"
It seems that all links to Vantagepoints blog are broken now. e.g. https://www.vantagepoint.sg/blog/90-the-jiu-jitsu-of-detecting-frida from 0x05j-Testing-Resiliency-Against-Reverse-Engineering.md

Thanks to @fujiokayu for pointing that out in #1780!

[2020-06-30 08:33] su-vikas opened #1784 "FRIDA 12.10 improves java function tracing"
In FRIDA 12.10, frida-trace functionality for Java method tracing is improved. The examples is available in the FRIDA release notes here: https://frida.re/news/2020/06/29/frida-12-10-released/

Incorporate these changes in MSTG Android section.

[2020-07-06 08:56] lwierzbicki commented on #1679
Hey all,
I've started using RMS some time ago. It works pretty well. It replaced objection for me. Main features which I (heavily) use:
- Frida scripts (it came with some scripts out-of-box)
- monitoring API (really, really useful regarding monitoring changes made by application)
There are other features as well, but I use them rarely.

On most of the pentests/assessments/bug bounties, I use mainl

[2020-07-06 19:25] karolpiateknet commented on #1652
Hey @sushi2k  I could pick that up :)

[2020-07-07 07:22] cpholguera commented on #1652
Hi @karolpiateknet thank you very much, it's assigned to you ;)

[2020-07-07 08:38] cpholguera commented on #1679
Hi @lwierzbicki! Thanks for updating.

Did/could you try out House as well? Could you give us some hints on how they differentiate from each other?

Regarding objection, could you point out some more details?
- can you monitor the same things? more? is the graphical overview advantage? can objection be extended via scripts to monitor the missing things?
- Is it being updated often as objection?

@

[2020-07-09 07:51] sushi2k commented on #1778
Same permission will be introduced in iOS. Both should be updated.

[2020-07-09 08:03] commjoen opened #1787 "React Native and Flutter are not hybrid as per the given definition"
From https://github.com/OWASP/owasp-masvs/issues/461  by @mrrenaud

https://github.com/OWASP/owasp-mstg/blob/1.1.3/Document/0x04a-Mobile-App-Taxonomy.md#hybrid-app

Hybrid apps are described this way :

A hybrid app executes like a native app, but a majority of the processes rely on web technologies, meaning a portion of the app runs in an embedded web browser (commonly called “webview”)

But this

[2020-07-09 09:28] jadeboer commented on #1787
Absolutely necessary.

[2020-07-16 11:46] righettod opened #1790 "Keychain Data Persistence: Utility script proposal"
Hello,

In order to perform the verification about the **[Keychain Data Persistence](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06d-Testing-Data-Storage.md#keychain-data-persistence)**, I have created the following script to automate the comparison after the export of the keychain using Objection (like mentioned in the MSTG).

I do not know if you can find it useful for this part o

[2020-07-21 06:19] commjoen commented on #1790
Hi @righettod ! That sounds like an easy way to check for it!
Do you have a repository where you can publicly host it? Then we can provide just the example command in the MSTG at the relevant section + a link to your repo.. I just want to prevent Pythonian discussions @ the MSTG ;-).

[2020-07-21 06:26] commjoen commented on #1736
Maybe https://github.com/dalibo/pandocker/issues/168#issuecomment-660968845 can help?

[2020-07-21 06:26] righettod commented on #1790
Totally agree, I will host it on my GH gist area (allow versioning and comment) and maintain it over the time
I will perform PR once the gist is ready.

[2020-07-21 06:59] righettod commented on #1790
PR #1792 opened.

[2020-07-21 16:45] m0bilesecurity commented on #1679
Hey @cpholguera,
Yes, in my opinion the **UI is a big advantage** because it helps to perform all the RE stuff much faster.
You can easily hook tons of Classes/Methods in a second.
The UI also helps to keep track of all the methods that have been **hooked and executed by the app** (very useful if the code of the app is obfuscated).

RMS comes bundled with a lot of **useful FRIDA scripts** for bypa

[2020-07-21 18:20] #1754 closed

[2020-07-28 09:33] m2sup3rn0va opened #1794 "Error in "Obtaining and Extracting Apps" section"
**Section - Obtaining and Extracting Apps**
**2 - From a Jailbroken device**

In this point, it's mentioned that after installing the app from App store, you need to rebuild the IPA from memory because of DRM, but I guess that is not correct.

As per my understanding, DRM is applicable till App store and only for IPA's injected with streaming videos to protect copyright and Apple to have sole owne

[2020-07-28 10:21] Sjord commented on #1794
[Link to text in question](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06b-Basic-Security-Testing.md#acquiring-the-app-binary)

[2020-07-28 17:34] m2sup3rn0va commented on #1794
Thank you **Sjord** for explaining the fact but this is exactly the point I am not aligned with and that's why I have added the link of my tool which will do exactly what you are saying will not be successful **"so simply pulling the binary from the Bundle (either through SSH or Objection) will not be successful"**

Once an app is installed on a JB idevice, we can use **SSH** to extract the IPA an

[2020-07-28 20:36] lwierzbicki commented on #1679
Hi all,
Apologies for a late answer.
I have tried House before. There are a lot of common features. Usage is also similar. Main differences from my perspective are:
- [RMS] more monitoring functions out of box
- [RMS] support for ios
- [House] more intuitive enumeration of classess/methods (however I rarely use that function)

Objection, the main difference are:
- lack of graphical interface, howe

[2020-07-29 04:02] aoprea1982 opened #1795 "UnCrackable-Level3.apk not resolvable using a known solution"
**Describe the bug**

UnCrackable-Level3.apk  not resolvable using a known solution

apk: UnCrackable-Level3.apk [https://github.com/OWASP/owasp-mstg/tree/master/Crackmes/Android/Level_03](url)
Tools: [https://github.com/enovella/androidtrainings/tree/master/owasp-crackmes/level3/hooks](url)
[code]

Using the solution from [https://enovella.github.io/android/reverse/2017/05/20/android-owasp-crackm

[2020-07-31 00:10] b3n-j4m1n opened #1796 "Slack join link doesn't work"
The join link for Slack in the README doesn't appear to work - https://owasp-slack.herokuapp.com/

![Screen Shot 2020-07-31 at 10 09 47 am](https://user-images.githubusercontent.com/19149345/88986323-fcf65f00-d315-11ea-9429-1828133a4c19.png)

[2020-07-31 05:03] mattjerry commented on #877
Can you pl share owasp slick invite

[2020-07-31 05:23] commjoen commented on #877
does the url no longer work?

[2020-07-31 05:41] mattjerry commented on #877
No longer works under

[2020-07-31 07:34] sushi2k commented on #1796
We raised it in the OWASP Slack and will come back to you once we have an answer. Thanks for raising.

[2020-07-31 10:35] mattjerry opened #1799 "Need invite for owasp slack"
Pl Share  invite  for owasp slack. All published invites don’t work

[2020-07-31 10:59] commjoen commented on #1799
Hi @mattjerry , thank you for filing an issue about the no longer working url.
If https://owasp-slack.herokuapp.com/ no longer works, then there's not much we can do ATM. We raised the issue with the community given your comment at https://github.com/OWASP/owasp-mstg/issues/877#issuecomment-666936474 . Let's close this issue and wait for the community to respond.

[2020-07-31 10:59] #1799 closed

[2020-07-31 11:00] commjoen commented on #877
Like explained at https://github.com/OWASP/owasp-mstg/issues/1799: we will have to wait for the community slack admins to pick it up. If https://owasp-slack.herokuapp.com/ no longer works, there's not much we can do ATM.

[2020-07-31 17:42] martinbydefault commented on #1781
Wayback machine has some mirrors of the site: https://web.archive.org/web/20181227120751/http://www.vantagepoint.sg/blog/90-the-jiu-jitsu-of-detecting-frida

[2020-07-31 21:58] sushi2k commented on #1796
@b3n-j4m1n: Please use this link for now https://owasp.slack.com/join/shared_invite/zt-g398htpy-AZ40HOM1WUOZguJKbblqkw#/
OWASP is investigating to get the old link working

[2020-08-06 14:52] daMatz opened #1802 "All links in current checklist are broken"
In the current checklists (e.g. [Mobile_App_Security_Checklist-English_1.2.xlsx](https://github.com/OWASP/owasp-mstg/blob/master/Checklists/Mobile_App_Security_Checklist-English_1.2.xlsx)) all the hyperlinks referenced in "Testing Procedure(s)" are broken, as they link to a base URL of `https://github.com/OWASP/owasp-mstg/blob/1.2/Document/`, which doesn't seem to exist anymore. So the webpages li

[2020-08-07 09:27] daMatz commented on #1488
Is MSTG-PLATFORM-11 applicable for Android?

[2020-08-11 22:09] sushi2k commented on #1802
Thanks for raising. I just fixed it. https://github.com/OWASP/owasp-mstg/pull/1803

[2020-08-11 22:13] #1802 closed

[2020-08-13 10:57] cpholguera commented on #1781
awesome, thanks @martinbydefault !

[2020-08-15 07:05] #1796 closed

[2020-08-15 07:11] sushi2k commented on #1795
You could try an older Frida version, just to check that it's not something that has changed in Frida. So give it a try with a frida version that was available when this solution was published.

[2020-08-15 07:58] #1790 closed

[2020-08-16 06:53] #1652 closed

[2020-08-16 19:06] #953 closed

[2020-08-16 19:06] #1103 closed

[2020-08-25 05:11] cpholguera commented on #1678
Closed with #1655

[2020-08-25 05:11] #1678 closed

[2020-08-25 05:12] cpholguera commented on #1719
Closed with #1642

[2020-08-25 05:12] #1719 closed

[2020-08-25 09:44] cpholguera commented on #1163
Will be assigned to @0x10f2c (still has to be invited)

[2020-08-26 17:05] #1409 closed

[2020-08-26 17:27] cpholguera commented on #1694
Hi @teok0045, it seems that the source code is very old (2013). Probably originating here:

https://www.fabernovel.com/en/insights/tech-en/securing-ios-apps-patching-binaries

As a quick response I could tell you if you've tried with LC_SEGMENT_64 as I guess that you're testing on a modern device.

Anyway thanks for raising the question, we'll address this issue.

[2020-08-26 17:33] cpholguera commented on #1672
Closing after long inactivity, please re-open if it needs more clarification or contact us on Slack :)

[2020-08-26 17:33] #1672 closed

[2020-08-26 17:33] cpholguera commented on #1673
Closing after long inactivity, please re-open if it needs more clarification or contact us on Slack :)

[2020-08-26 17:33] #1673 closed

[2020-08-26 17:39] cpholguera commented on #1631
@TheDauntless @sushi2k we were mentioning this today in our meeting

[2020-08-26 17:40] #1625 closed

[2020-08-26 17:43] cpholguera commented on #1596
Updated link:

https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/04-Authentication_Testing/02-Testing_for_Default_Credentials.md

@sushi2k @TheDauntless This is also related to today's topic.

[2020-08-26 17:46] cpholguera commented on #1508
This should be recommended when testing data storage.

[2020-08-26 17:48] cpholguera commented on #1510
I'd say this is unfortunately out of scope.

[2020-08-26 17:49] cpholguera commented on #1511
Addressed in any iOS MSTG-AUTH?

[2020-08-26 17:55] cpholguera commented on #1445
Closed after long inactivity. Please re-open if you've something new :)

[2020-08-26 17:55] #1445 closed

[2020-08-26 18:02] commjoen commented on #1510
It is I guess :-)

[2020-08-26 18:02] #1510 closed

[2020-08-26 18:03] cpholguera commented on #1189
Closed after long inactivity

[2020-08-26 18:03] #1189 closed

[2020-08-26 18:07] cpholguera commented on #1160
Already merged

[2020-08-26 18:07] #1160 closed

[2020-08-26 18:09] cpholguera commented on #1047
Closed after long inactivity. Please re-open if you've something new. Thanks!

[2020-08-26 18:09] #1047 closed

[2020-08-26 18:10] cpholguera commented on #1015
Any news here? @sushi2k

[2020-08-27 06:47] teok0045 commented on #1694
Hi @cpholguera ,

Am glad that finally someone came into looking at the bug.

Thank you for addressing the issue!

[2020-08-28 11:11] paradisperdu opened #1810 "AAB to APK"
**Platform:**
Android
**Description:**

I am testing an application which is deployed from Play store as an AAB. It stores the base.apk and several split_config.apk files within the /data/app/app folder.

If i retrieve the base.apk and install it on another device, the app will not load. I assume this is because I need the other apk files too.  If i push these apk's to the folder the app still doe

[2020-08-29 15:00] cpholguera commented on #1810
Hi @paradisperdu, did you try to revert the process? For instance, by taking the whole structure of .apk files and putting them together in an .apks file that you could the
 handle with bundletool?

Something like this here but inverted: https://www.geekdashboard.com/extract-apk-files-from-aab/

[2020-08-29 15:06] cpholguera commented on #1810
By the way, I can highly recommend you to post these kind of questions in our Slack channel. There you have a lot of people ready to help and it's more likely to also help others that might have the same question 😊

[2020-08-29 15:25] cpholguera commented on #1794
Hi @m2sup3rn0va, of course you can extract the IPA and re-install it without having to decrypt anything but if your goal is to extract and reverse engineer the **app binary** you'll have to let the OS decrypt it for you and then use e.g.  Frida to extract it directly from memory.

We should anyway rework that sentence. Even if it is correct, it might be confusing. "The file" refers to the binary,

[2020-08-30 08:18] #1810 closed

[2020-08-30 10:50] m0bilesecurity commented on #1679
Hi all,
I've recorded 2 videos in order to explain how to use **RMS** to solve **OWASP Uncrackable Android Apps**
- [Solving **OWASP** UnCrackable Android **App Level 1** with **Runtime Mobile Security (RMS)**](https://youtu.be/P6rNPkM2DdY)
- [Solving **OWASP** UnCrackable Android **App Level 2** with **Runtime Mobile Security (RMS)**](https://youtu.be/xRQVljerl0A)

**P.S.** @cpholguera since vers

[2020-08-30 10:53] cpholguera commented on #1679
Done, thanks for the update ;)

[2020-08-30 17:24] cpholguera commented on #1697
There's an issue for this in OWASP Dep. Check: https://github.com/jeremylong/DependencyCheck/issues/962; info added to PR #1811  so we can close this one.

[2020-08-31 22:32] #1283 closed

[2020-08-31 22:32] #1718 closed

[2020-09-01 06:14] #1697 closed

[2020-09-01 06:14] #1725 closed

[2020-09-01 06:14] #1781 closed

[2020-09-01 06:14] #1784 closed

[2020-09-01 06:14] #1794 closed

[2020-09-02 09:09] lwierzbicki commented on #1631
@cpholguera could you share the output? Would be good to incorporate it in future commits/PR.

[2020-09-02 09:13] lwierzbicki commented on #1679
@cpholguera @sushi2k  - what is the next step here?

[2020-09-02 09:17] lwierzbicki commented on #1753
Till now, only part 4 were added - which focused on `Biometric as Local Auth` (mainly from implementation point of view). Currently it doesn't anything new. I would close this issue and create a new one if anything interesting shows up.

[2020-09-02 09:19] lwierzbicki commented on #1771
@cpholguera I think it is related to #1631 . Any action, depends on what was agreed.

[2020-09-02 09:45] cpholguera commented on #1679
We would need a **short** introduction focusing on the added value of RMS in comparison to other tools. Please don't include anything that can be found in the README, or docs. Simply refer/link to it. Linking to the videos should also help to keep it short.

[2020-09-04 16:35] sahildhar commented on #1795
Hi @aoprea1982 , the solution won't work anymore as the code for the app has probably changed during compilation. For example: as per the assembly of libfoo.so there is no such function like "strncmp_xor64" which takes two arguments. Now we have only one function with one argument which is the secret value to protect.

If you carefully read the solution, the offset "offset_protect_secret64" is not

[2020-09-08 05:37] kismp123 opened #1817 "IOS Crackme Level2 can't be executed"
**Describe the bug**
A clear and concise description of what the bug is.
I ran successfully level 1 crackme. However I could not run level2

[code]

**crackme or other challenge**
Describe the crackme or other challenge that is broken

**To Reproduce**
Steps to reproduce the behavior:
1. Tab on app to run
2. You can see it does not work

**Expected behavior**
A clear and concise description of wha

[2020-09-09 18:38] bigshebang commented on #1767
What's the ask for this issue? Do we want to add content about how to use DeviceCheck correctly and then how to attack it?

I am doing some research on this so can probably assist if I have more of an outline of the desired outcome of this issue.

[2020-09-14 06:12] 0x10f2c commented on #1777
I'll do some research into this and add it

[2020-09-14 13:02] daMatz commented on #1817
Hi,
have you tried to run it on a non-jailbroken device?
Maybe there are mechanisms in place, that prevent you from running it on a jailbroken device ;)

[2020-09-15 00:00] kismp123 commented on #1817
I don't think so
because all of apps prevent jailbroken run UI normally. :(

[2020-09-15 13:46] daMatz commented on #1817
When I tried to run it on a jailbroken device, it also closed itself immediately.
Then I applied a script to bypass jailbreak detection via Frida (for this task check out RMS - Runtime Mobile Security) and it started normally.

[2020-09-16 12:26] #1753 closed

[2020-09-16 12:26] #1574 closed

[2020-09-16 12:27] sushi2k commented on #1574
APN is not described in MSTG

[2020-09-16 12:27] cpholguera commented on #1771
Consider removing all descriptions that can be anyway found in Android Docs, and refer by link.

[2020-09-16 12:27] sushi2k commented on #1514
It is beyond what the MSTG should cover. Therefore we close it.

[2020-09-16 12:27] #1514 closed

[2020-09-16 12:29] sushi2k commented on #1512
It seems there is no IPC therefore the attack surface is very small. Will close this issue.

[2020-09-16 12:29] #1512 closed

[2020-09-16 12:38] sushi2k commented on #1507
Is considered out of scope for the MSTG, as the user is prompted for example to switch to a peer-to-peer network. This is happening on the OS level

[2020-09-16 12:38] #1507 closed

[2020-09-16 12:41] #1345 closed

[2020-09-16 12:47] #1182 closed

[2020-09-16 12:56] sushi2k opened #1818 "Review existing Source Code"
**Describe the issue**
There are a lot of inconstancies in the MSTG (old Swift, Java Code etc.) that might be outdated. Source code should be reviewed and redundancies and outdated code should be removed.

Also code which only describes how something is implemented or best practices should be removed and only a link to the original documentation should be used.

[2020-09-16 12:56] #962 closed

[2020-09-16 13:04] #942 closed

[2020-09-16 13:06] sushi2k commented on #940
Mention it in one paragraph.

[2020-09-17 06:45] alexff89 opened #1819 "Ios14"
**Platform:**
Put the platform here for which you want to see the testcase (iOS, Android, etc.)
**Description:**
Describe the type of testcase that you are missing.

[2020-09-17 11:29] commjoen commented on #1488
I guess not: mostly only in iOS as every keyboard shipped with the Android OS could be a third party keyboard...

[2020-09-17 12:49] sushi2k opened #1820 "MSTG-Platform-11 is missing as test case"
**Platform:**
iOS

**Description:**

See also https://github.com/OWASP/owasp-masvs/issues/488

Requirement in https://github.com/OWASP/owasp-masvs/blob/master/Document/0x11-V6-Interaction_with_the_environment.md could be changed to:

6.11 | MSTG-PLATFORM-11 | Verify that the app prevents usage of custom third-party keyboards whenever sensitive data is entered (iOS only). |   | ✓
-- | -- | -- | --

[2020-09-18 03:03] sushi2k commented on #1819
Hi @alexff89. Can you please elaborate a bit more around what is new in iOS 14 that should be added? Thanks

[2020-09-21 16:56] darvincisec commented on #1654
@cpholguera Apologies for the delay..Here is a summary for this issue:
Libc APIs offer a low hanging fruit for attackers to analyse the file, memory, string related operations done by the application.Most of the application protection mechanism rely on libc APIs, so an adversary can easily fake the files or string operations( for ex: root checks relying on presence of su files, hook detection rely

[2020-09-21 17:05] darvincisec commented on #1146
The above link points to my github project on magisk hide detection. If you think it is still relevant to add this, can you assign it to me ?

[2020-09-24 07:29] sushi2k commented on #1146
Hi @darvincisec. Thanks for reaching out. After internal discussion on our side, you could add an introduction paragraph into the following chapter: https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05j-Testing-Resiliency-Against-Reverse-Engineering.md#programmatic-detection

Directly after "Programmatic Detection". We can also discuss further in Slack.

[2020-09-24 20:52] cpholguera commented on #1654
No worries, thanks for taking the time to write the summary. I really like the proposal, so please go ahead ;) I'd say 0x05j is the chapter for this, you should probably add the content across the different (sub)sections. What do you think? Whenever you have an outline of what you'll add, I can gladly take a look at it. If you have any questions please don't hesitate to contact us here or on Slack

[2020-09-25 14:51] cpholguera commented on #1777
That would be great @0x10f2c, thanks!

[2020-09-25 14:54] cpholguera commented on #1767
That'd be great @bigshebang. Please think of something from the tester/attacker perspective. If you have a draft or proposal for outline you can gladly share it with us before start writing.

[2020-09-25 18:32] cpholguera opened #1823 "[Tool] LibScout"
What about mentioning https://github.com/reddr/LibScout in 0x05i -> ## Checking for Weaknesses in Third Party Libraries (MSTG-CODE-5) ?

Let's verify its effectiveness first before including it.

[2020-09-27 07:49] cpholguera commented on #1819
Closed for long inactivity

[2020-09-27 07:49] #1819 closed

[2020-09-27 18:27] ghenry opened #1824 "sha256sum error"
HI all,

I'm getting:

[code]

and the README says:

[code]

[2020-10-02 22:38] sushi2k commented on #1824
Hi @ghenry. Thanks for pointing out this inconsistency! The hash wasn't updated in the README. To simplify, we will be removing the hashing section completely. The hashing was introduced for two reasons:

- File was downloaded properly: If the xls is not downloaded properly the file will be corrupted anyway.
- Integrity of the file: We have a single source of truth with the Github repo. If someone

[2020-10-02 22:57] ghenry commented on #1824
No problem. Just enjoying your SE Radio podcast :)--
Kind Regards,

Gavin Henry.
Managing Director.

T +44 (0) 330 44 50 000
D +44 (0) 330 44 55 007
M +44 (0) 7930 323266
F +44 (0) 1224 824887
E ghenry@suretec.co.uk

Open Source. Open Solutions(tm).

http://www.suretecsystems.com/

Suretec Systems is a limited company registered in Scotland. Registered
number: SC258005. Registered office: 24 Corma

[2020-10-03 06:55] su-vikas commented on #1375
I will take this one up, as current assignee has not worked on it yet.

[2020-10-03 06:56] su-vikas commented on #1363
will take this one.

[2020-10-03 08:46] jeroenleenarts commented on #1767
I'm in the proces of seeing if I can get a more formalized example / implementation of this.

[2020-10-04 08:46] #1824 closed

[2020-10-04 10:02] 0x10f2c commented on #1777
Will try to get onto this next weekend, been quite busy of late!

[2020-10-05 03:37] sushi2k opened #1832 "Fix 404 in MSTG"
**Describe the issue**
There are a few URLs that produce 404's: https://github.com/OWASP/owasp-mstg/runs/1205042472

Find the right URL if it changed, or remove it.

[2020-10-05 15:00] ghenry opened #1833 "Commercial services?"
Hi all,

Apologies for raising this issue, but I was uncertain where to ask this. Does anyone that watches these issues provide services to do the testing on one of your apps following the guide?

Thanks,
Gavin.

[2020-10-06 10:59] sushi2k commented on #1833
Hi Gavin. We are not handling commercial requests here. Therefore I will close this issue.

Nevertheless what might help you is CREST: https://service-selection-platform.crest-approved.org/. CREST is an organisation coming from the UK that is certifying vendors for penetration testing and red teaming. You might find a suitable vendor there that offers penetration testing services.

Good luck and c

[2020-10-06 10:59] #1833 closed

[2020-10-07 17:14] su-vikas commented on #1778
Can you provide a link for the APIs? Using linkedin as a search term doesn't help either.

For Android I found this one: https://developer.android.com/training/data-storage/shared/media#scoped_storage_enabled

`Don't unnecessarily request storage-related permissions for devices that run Android 10 or higher. Your app can contribute to well-defined media collections, including the MediaStore. Downl

[2020-10-07 17:18] su-vikas commented on #1778
For iOS, is it this one: https://developer.apple.com/documentation/photokit/requesting_authorization_to_access_photos?

[2020-10-08 02:33] #1832 closed

[2020-10-08 05:35] cpholguera commented on #1778
The iOS one is right, exactly what I meant. But for Android it's not quite. Maybe something regarding ImagePicker as in iOS?

[2020-10-08 05:50] cpholguera commented on #1777
Perfect, thanks for the update :)

[2020-10-08 18:06] su-vikas commented on #1778
Seems in iOS 14 Apple introduced a replacement for UIImagePicker - PHPicker. I suppose in such a case, need to discuss both the APIs and mentioning which iOS version supports it.

https://developer.apple.com/videos/play/wwdc2020/10652/

[2020-10-09 07:31] sushi2k opened #1837 "Automation of Checklist"
**Describe the issue**
Checklists are still maintained manually, creation should be automated.

Branches:
- https://github.com/OWASP/owasp-masvs/tree/checklist-generation
- https://github.com/OWASP/owasp-masvs/tree/project-integration

[2020-10-09 07:52] sushi2k opened #1838 "Objection - more consistence in the guide"
**Describe the issue**

Similiar to Frida (https://mobile-security.gitbook.io/mobile-security-testing-guide/general-mobile-app-testing-guide/0x04c-tampering-and-reverse-engineering#frida) objection should be described in the generic tampering section and then only what is relevant for iOS and Andorid in the specific chapters to avoid redundancies and link to it.

Objection is described here:
- htt

[2020-10-09 08:12] karolpiateknet commented on #1838
I can do that :)

[2020-10-09 10:31] lwierzbicki commented on #1838
The same applies to House. I can combine this into one PR with issue #1679  and this one.

[2020-10-09 10:53] lwierzbicki commented on #1838
As a matter of fact, when I look at https://mobile-security.gitbook.io/mobile-security-testing-guide/general-mobile-app-testing-guide/0x04c-tampering-and-reverse-engineering#frida I see that the following case should applied as well to:
- Passionfruit
- Objection
- RMS (which is under #1679 )
- House
- fridump
- r2frida
- jnitrace
- and other frida tools which are mentioned in the guide.
Additiona

[2020-10-09 10:58] lwierzbicki opened #1839 "Drozer - is it still alive?"
**Describe the issue**
I noticed that Drozer last update was made around 3 years ago. Is it still supported and developed?
From my perspective it is out-dated and no use for modern mobile apps (see last update). Addtionally it support Python 2.7, which is also outdated ;)
I would rather say that currently it is replaced by frida and frida clients.

It would be good to decide what is the next step?

[2020-10-09 10:59] lwierzbicki commented on #1839
The same applies to needle. I don't see any meaningful movement after rebranding from MWR to FSecure.

[2020-10-09 17:37] cpholguera commented on #1631
Hi @lwierzbicki, we agreed on the comment above: https://github.com/OWASP/owasp-mstg/issues/1631#issuecomment-584516532

We take this now as the new approach of the MSTG. It will require a lot of restructuring and removing of information, making everything more concise, relying on external sources, focusing on "what the tester has to verify" instead of telling "what the developer should do". We wi

[2020-10-09 18:27] cpholguera commented on #1771
First of all sorry about the "cryptic" message. After taking another look at the whole thing I will now explain a bit more :)

We see 3 PRs in this Issue, manly because this way we can better follow the changes and can act more quicly. If we open one big PR for this it could take months until we process it :/

**First PR**: move the "Android KeyStore" and other sections describing "Data Storage" t

[2020-10-09 18:29] cpholguera opened #1840 "0x05d Refactor - Having a proper Chapter Overview"
Move the "Android KeyStore" and other sections describing "Data Storage" to the top of the chapter.  If we go though the whole chapter we can find:
  - "Local Storage" incl. Shared prefs, Databases, Internal and external storage, KeyStore.
  - Logs
  - Backups
  - Process Memory

[code]

[2020-10-09 18:33] cpholguera opened #1841 "0x05d Refactor - Remove Info already available Online"
Do after closing #1840 !

Review the new Overview and remove all information that can be already found online. For instance:
The section for "Key Attestation" has a lot of information, most of it addresing the developers. For that there is the official site:
[Key Attestation](https://developer.android.com/training/articles/security-key-attestation "Key Attestation").  It should be evaluated if we

[2020-10-09 18:33] cpholguera opened #1842 "0x05d Refactor - Consistency in Test Cases"
Do after closing #1840 and #1841!

Ensure that each Test Case Section has proper short and concise "Overview" telling what we are verifying and not "what Android has". Then, "Static" and "Dynamic analysis" sections should properly tell the tester WHAT TO TEST and how. Because that cannot be found somewhere else. Of course, taking [Key Attestation](https://developer.android.com/training/articles/se

[2020-10-09 18:34] cpholguera commented on #1840
Original issue: #1771

[2020-10-09 18:34] cpholguera commented on #1841
Original issue: #1771

[2020-10-09 18:34] cpholguera commented on #1842
Original issue: #1771

[2020-10-09 18:36] cpholguera commented on #1771
Thanks @ThunderSon and @lwierzbicki for raising and giving inputs regarding this issue. Now divided into 3 issues, see above. Please let us know who would like to start and we will assign you to them :)

[2020-10-09 18:36] #1771 closed

[2020-10-09 21:10] sushi2k commented on #1839
Hi Lukasz,

we removed already some parts of Needle a while back, but I just found that we still have some leftovers: https://github.com/OWASP/owasp-mstg/search?q=needle This can definitely be removed as Needle is not maintained anymore and there are enough other tools we can use.

For drozer we also use it only in a few test cases: https://github.com/OWASP/owasp-mstg/search?q=drozer.
Drozer is a

[2020-10-10 06:15] 0x10f2c commented on #1163
Hi all, so this got solved on the Android side; I guess the discussion now is if this should be done for the iOS side or not.

On the iOS side each notification is treated as private to the originating app.
I guess we could still mention that sensitive information shouldn't be in notifications anyway as someone could see it on the lock screen assuming notifications are not hidden?

Happy to hear s

[2020-10-13 12:48] bernard-wagner opened #1846 "Expand MSTG-CODE-4 to include stripping of build paths if fatalError is used"
**Platform:**
iOS

**Description:**

By default Swift will embed the full path of the source file whenever `fatalError` is called.

This is due to the compiler expanding the #file and #line macros at compile time. When disassembling an iOS application that makes use of these methods, the build path of the application is revealed as well as some information regarding the source code structure. This

[2020-10-15 13:04] Infernalbronco commented on #1840
Sir, in this are we have to move the Key store subsection that is found in Static analysis section into overview section and make it a subsection(like shared preferences)?

[2020-10-21 19:40] cpholguera commented on #1840
Hi @Infernalbronco, subsections such as "####Shared Preferences" are still inside other sections (in this case "## Testing Local Storage for Sensitive Data (MSTG-STORAGE-1 and MSTG-STORAGE-2)".

They should be also moved as indicated above. This way we can have a consolidated level 2 (##) Overview section and the test cases can focus on testing and not on describing storage options.

[2020-10-22 20:16] #1777 closed

[2020-10-23 17:03] cpholguera commented on #1839
I fully agree! @lwierzbicki would you like to make the honors? :)

[2020-10-23 17:18] cpholguera commented on #1838
PR #1843 is bringing all the tool descriptions to one unique place. The rest of the guide will then reference back there whenever a tool is used consistently. Example from 0x04c (part of the PR as well):

[code]

This will have tremendous advantages including:
- no more duplicates
- we can start deriving data such as where are which tools being used in which chapter/section, most/less used tools,

[2020-10-24 18:41] lwierzbicki commented on #1839
I will do it. I'm waiting for your merge regarding tools and I will continue the show :)

[2020-10-25 04:54] 0x10f2c opened #1848 "0x05d - Add Android 11 Changes and update android 10"
The Testing App Permissions section at the start mentions changes in 8/9/10(beta) but not 11.
Should implement the following:
- Add android 11 changes to list
- Change Android 10 changes from beta to release(and verify the information is still correct for release)

Probably best to do this once done with the refactor for the section.

[2020-10-25 06:19] 0x10f2c commented on #1840
So my plan for this one is to just move the sections into their new locations without modifying them (even for grammar/flow) as I presume we'll do the modification to each section in #1841 rather then double over ourselves and waste effort

Can you confirm if this is right @cpholguera, I've done an example commit in the PR

[2020-10-25 08:39] cpholguera commented on #1840
Please take a look at the comment here 😊 thanks for starting already, this will be a very nice refactoring. I like what you've already written to introduce the overview and separate concerns.

https://github.com/OWASP/owasp-mstg/pull/1849/files#r511565736

[2020-10-25 09:39] 0x10f2c commented on #1840
Awesome sounds good mate, ill try get it pushed all through this week

[2020-10-26 11:06] su-vikas commented on #1778
PR #1845 only covers iOS part. Android part is still open, as I haven't found the complete information yet. I will open a new PR for Android.

[2020-10-26 11:08] su-vikas commented on #1787
i will take this one.

[2020-10-27 07:36] sushi2k opened #1850 "Sync with Gitbook is not working anymore"
**Describe the issue**
For example MSTG-Platform-9 can not be found in Gitbook: https://mobile-security.gitbook.io/mobile-security-testing-guide/android-testing-guide/0x05h-testing-platform-interaction, but it was added earlier this year https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05h-Testing-Platform-Interaction.md#testing-for-overlay-attacks-mstg-platform-9

[2020-10-27 17:22] su-vikas commented on #1372
We can close this one.

[2020-10-31 03:27] 0x10f2c opened #1853 "0x05d - Expand firebase and add scoped storage"
Once done with refactor it is probably worthwhile going into this section and adding a test case for online databases like firebase as the current mention is quite brief and not really in the right section (local storage MSTG-PLATFORM-1).

Furthermore it would be worth while adding in scoped storage and the changes that brings to data storage.

[2020-11-03 14:19] dipti-code opened #1854 "New 1.2 excel with new guided link, as needle is outdated,"
**Platform:**
Put the platform here for which you want to see the testcase (iOS, Android, etc.)
**Description:**
Describe the type of testcase that you are missing.

Kindly provide us new 1.2 version excel sheet with the link to the latest tool as needle is outdated.

[2020-11-07 10:45] fam4r opened #1857 "Sync releases with changelog"
Hello,

right now the latest version  ([1.2](https://github.com/OWASP/owasp-mstg/blob/master/CHANGELOG.md#v12---12-may-2020)) described in the `CHANGELOG.md` file is still not being released.

In fact, the latest release is [1.1.3](https://github.com/OWASP/owasp-mstg/releases/tag/1.1.3-excel).

Can you please update releases?

Thanks

[2020-11-12 22:18] lwierzbicki commented on #1838
@cpholguera finally long awaited commit :) Very good work.

Regarding objection, I would trim a bit and maybe give more references to documentation (like, do we really need a cheat-sheet like `using objection for android`?). My main concern is maintenance cost here (especially when this chapter is going to grow).
I would rather replace that non related usage in 0x08 to samples in actual test cases

[2020-11-12 22:23] lwierzbicki opened #1858 "Add to organizations which use MASVS and MSTG"
I would like to add `Trustwave` to Users.md file.
Trustwave actively uses both guides (MASVS and MSTG) during pentests.

Please, assign this issue to me.

[2020-11-12 22:27] lwierzbicki commented on #1839
@cpholguera as your child 0x08 was proudly released, I'm going to remove `drozer` and `needle` from it. As well as from other files, where sample usage is presented with these tools.

[2020-11-13 05:52] cpholguera commented on #1838
Hey @lwierzbicki I totally agree, that's the way to go. Thanks for the suggestion ;)

[2020-11-13 07:04] cpholguera commented on #1839
Awesome,thank you Lukasz!

[2020-11-15 09:18] #1840 closed

[2020-11-15 18:29] cpholguera commented on #1838
hi @lwierzbicki I've sent you an invitation, I was wondering why I couldn't assign you any issues until now. That should make it ;)

[2020-11-17 17:37] ThunderSon opened #1860 "Donation Link is Outdated"
Hello! I noticed that the donation link still links to the old website, please update to the new one, that corresponds to your repo:

[code]

[2020-11-18 13:04] #1679 closed

[2020-11-26 00:15] 0x10f2c commented on #1841
I haven't forgotten about this!
Just quite busy at the moment, wont have time for another 2 weeks to get started on it.

[2020-12-09 13:12] kousha1999 opened #1867 "Testing for setWebContentsDebuggingEnabled() is Enabled"
**Platform:**
Android
**Description:**
I think it would be nice to add a testcase for checking that `setWebContentsDebuggingEnabled()` is enabled or not.
[Reference 1(blog.compass-security.com)](https://blog.compass-security.com/2019/10/introducing-web-vulnerabilities-into-native-apps)
[Reference 2 (dev.to)](https://dev.to/ashishb/android-security-don-t-leave-webview-debugging-enabled-in-productio

[2020-12-11 12:33] WingYn opened #1868 "iOS Code Quality and Build Settings (MSTG-CODE-3)"
**Describe the issue**
iOS Code Quality and Build Settings

Finding Debugging Symbols (MSTG-CODE-3):

When using ```gobjdump --stabs --dwarf```, it is clear what TargetApp is.

It is actually the Unix executable in the .app bundle.

Additionally, it is not very clear what to look for, and what not to look for.
It would be very helpful to see a an Unix executable that is vulnerable.

[2021-01-08 16:44] lwierzbicki commented on #1858
As discussed, official request is needed from the company (in form of an email) to project leaders.
I passed that info. I'm closing this issue.

[2021-01-08 16:44] #1858 closed

[2021-01-14 13:49] AkshayJainG commented on #1614
Is it public?

[2021-01-27 12:14] #1850 closed

[2021-01-27 12:14] sushi2k commented on #1850
FIxed

[2021-01-27 12:16] sushi2k opened #1872 "Update to Yaml"
**Describe the issue**
Add additional meta-data to our existing markdown description.

Mixture of Yaml and Markdown:
https://raw.githubusercontent.com/OWASP/owasp-mstg/master/.github/ISSUE_TEMPLATE/bug-report---error-in-app.md

Can still be read in Python @TheDauntless what was the library?

Front Matter https://jekyllrb.com/docs/front-matter/

Pro

- [ ] Can we collect keywords that could be used

[2021-01-29 08:55] TommyLeong commented on #1694
Hi @cpholguera, assumingly you were looking into the issue raised. Do we have any progress on this? I was as well referring to [article shared earlier](https://mobile-security.gitbook.io/mobile-security-testing-guide/ios-testing-guide/0x06j-testing-resiliency-against-reverse-engineering#file-integrity-checks-mstg-resilience-3-and-mstg-resilience-11) by @teok0045

[2021-01-29 11:10] cpholguera commented on #1694
Hi @TommyLeong , we've discussed internally regarding this topic and decided that still having this kind of code snippets that are not coming directly from us might be misleading. To save trouble we'll be cleaning up the guide, i.e. we will remove them. For us it's not plausible to maintain 3rd party code bases but we will keep providing the community with the valuable information that you can fin

[2021-02-01 17:38] #1854 closed

[2021-02-01 17:39] cpholguera commented on #1854
We'll be having new Excel Checklists soon, all inline with the latest MASVS and MSTG 😉

[2021-02-08 13:26] SecJoe commented on #1857
In the 1.1.2 Excel (Filename) is the 1.1.3 Release (Dashboard) included. I think the filenames are incorrect??

[2021-02-15 21:33] cpholguera opened #1874 "0x5h - Add PendingIntents"
Using Intent as a mechanism to implement a callback to an Activity can lead to vulnerabilities, both in the provider and client apps. This is due to the fact that Intents are always processed in the Context of the app they are called within. This Context opens the possibility to start any non-exported activities in the provider app, and forces the client app to export the activity that should rece

[2021-02-25 10:20] TheDauntless commented on #1867
Thanks for your suggestion!

Since setWebContentsDebuggingEnabled only does something if the app has been built with debugging="true" in the manifest, this would automatically be covered under 7.2:

The app has been built in release mode, with settings appropriate for a release build (e.g. non-debuggable).

I don't immediately see the risk of having this method called in a PRD app.

[2021-03-05 08:27] #961 closed

[2021-03-12 13:07] fujiokayu opened #1876 "the default value of setAllowFileAccess was changed since Android 11(MSTG-PLATFORM-6)"
**Describe the issue**
Since Android 11(targetSDKVersion 30), the default value of setAllowFileAccess has changed from true to false.
- [developer.android.com: setAllowFileAccess](https://developer.android.com/reference/android/webkit/WebSettings#setAllowFileAccess(boolean))

so I think it is better to make the following modifications.

[code]

**Optional: Testcase or section**
[MSTG-PLATFORM-6](h

[2021-03-12 13:53] vixentael commented on #1787
Shouldn't this be closed?

[2021-03-15 09:19] AkshayJainG commented on #1146
Magisk can be easily detected by using https://github.com/darvincisec/DetectMagiskHide

[2021-03-15 10:06] righettod opened #1879 "Proposal for iOS backup"
**Describe the issue**

I have found the following tools to work with iOS backup, do you think that it can be interesting to add it in the testing storage section when talking about backup ?

https://github.com/avibrazil/iOSbackup

Thanks a lot in advance 😃

[2021-03-16 05:36] #1876 closed

[2021-03-16 05:41] cpholguera commented on #1879
It sounds very interesting, have you tried it out yourself? Does it work well?

[2021-03-16 06:25] righettod commented on #1879
Hi,

I used it to create the following little utility script and it work like a charm:

https://github.com/righettod/toolbox-pentest-web/blob/master/scripts/search-in-encrypted-ios-backup.py

[2021-03-16 11:06] cpholguera commented on #1879
Nice, then you could add a little entry in the Tools chapter (0x08) and in the iOS chapter with a markdown reference to the tools chapter entry. We're following this approach with all tools now to have them centralized. Let me know if you have any questions 😁

[2021-03-16 12:30] righettod commented on #1879
OK, i will do it once you have analyzed if my initial PR was acceped or rejected in order to work in sequence 😃

[2021-03-16 16:09] cpholguera commented on #1879
done, you made proceed ^^

[2021-03-16 16:38] righettod commented on #1879
OK I will do it very very very soon

[2021-03-16 20:15] cpholguera commented on #1879
big LIKE to that ;)

[2021-03-17 06:31] righettod commented on #1879
Done in PR #1880 😃

[2021-03-17 12:24] #1879 closed

[2021-03-19 11:50] cpholguera opened #1881 "[Tool] stromgarm Static Analyzer"
Try and evaluate for integration to the MSTG.

https://github.com/datatheorem/strongarm

[2021-03-19 14:14] fujiokayu opened #1882 "About unchecked requirements in excel checklists"
Sorry to ask a trivial question.
I noticed there are 2 requirements that are not checked(:heavy_check_mark:) in Excel checklists.
- Android / iOS V2.2
- Android / iOS V4.4

Is there any reason for this? If there is no reason, I would like to fix it.

[2021-03-20 06:10] #1882 closed

[2021-03-20 06:12] cpholguera commented on #1882
Hi @fujiokayu,

thanks for reporting this issue! I've closed it but for a very good reason I hope you'll also like.

As you already know as of now we edit the excel file per hand, for every language. In a couple of weeks we'll introduce some code that will automatically write the contents of the checklists by parsing the MASVS in all the available languages.

This means that we keep the MASVS file

[2021-03-29 15:33] gl4nce opened #1886 "Reading system log with socat does not work (anymore?)"
As described here: https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06b-Basic-Security-Testing.md

There you find the following command:

`iPhone:~ root# socat - UNIX-CONNECT:/var/run/lockdown/syslog.sock`

I tried it on my iPhone (iOS 14.2) but I get always the following error message: `no such file or directory`.

Maybe it does not working anymore on iOS 14.2? Or I am doing something w

[2021-03-30 05:24] cpholguera opened #1887 "[Tool] Grapefruit"
Grapefruit is the new Passion fruit:

https://github.com/ChiChou/grapefruit

[2021-03-30 06:22] cpholguera commented on #1886
This might well be, have you verified if the file is in deed there? have you tried to search for the file from the root / with e.g. "find"?

This and further research might help;

https://www.reddit.com/r/jailbreakdevelopers/comments/ene6ua/ios_13_read_syslog/

Please let us know if you find the cause, thanks for reporting!

[2021-03-30 10:36] gl4nce opened #1889 "Path of auto generated screenshots has changed (MSTG-STORAGE-9)"
MSTG-STORAGE-9 states as path for saving background screenshots `/var/mobile/Containers/Data/Application/$APP_ID/Library/Caches/Snapshots/`.

Looks like it has changed or it's app related (tested on iOS 14.2). For me it's `/var/mobile/Containers/Data/Application/$APP_ID/Library/SplashBoard/Snapshots/sceneID:$APP_NAME-default/`

[2021-04-04 18:03] cpholguera opened #1890 "Android AccountManager not yet addressed"
- https://developer.android.com/training/articles/security-tips.html#Credentials
- https://developer.android.com/training/id-auth/authenticate.html

[2021-04-07 18:24] cpholguera commented on #1860
Thanks for reporting @ThunderSon!

[2021-04-07 18:47] cpholguera commented on #1787
That's right, thanks @vixentael for keeping an eye on the issues ;)

[2021-04-07 18:47] #1787 closed

[2021-04-07 18:48] cpholguera commented on #1837
Closed with https://github.com/OWASP/owasp-masvs/tree/yaml-export for all languages

[2021-04-07 18:48] #1837 closed

[2021-04-07 18:50] cpholguera commented on #1778
anything new on this @su-vikas?

[2021-04-07 18:51] cpholguera commented on #1768
Fixed in our new pipeline

[2021-04-07 18:51] #1768 closed

[2021-04-07 18:55] cpholguera commented on #1657
@TheDauntless , is this still an issue?

[2021-04-07 18:56] cpholguera commented on #1654
Hey @darvincisec, @su-vikas, any news on this? Looking forward to your PR ^^

[2021-04-07 19:00] cpholguera commented on #1649
Let's keep using the "good first issue" label, that should do it :)

[2021-04-07 19:00] #1649 closed

[2021-04-07 19:04] cpholguera commented on #1519
@TheDauntless, whenever you have time, could you please give this a look? If you think everything in that PR was right we can close this one.

[2021-04-08 13:15] cpholguera commented on #1629
@julepka would you like to help us out here?

[2021-04-08 15:20] julepka commented on #1629
I was looking for a nice library to detect reverse engineering tools on Android and I've found exactly the same repos as mentioned here and in MSTG. I hope to test them when I have time to see if they are working. For example, I wanted to use https://github.com/darvincisec/DetectFrida but it has a couple of reported issues that doesn't sound good to me.

[2021-04-08 15:40] cpholguera opened #1894 "Review and enhance iOS Binary Protections"
## Task
enhance the following Test Case:

https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06i-Testing-Code-Quality-and-Build-Settings.md#make-sure-that-free-security-features-are-activated-mstg-code-9

using this article:

https://sensepost.com/blog/2021/on-ios-binary-protections/

## Summary

The decision regarding which protections can and should be enabled is heavily influenced based

[2021-04-10 16:10] cpholguera opened #1895 "[Tool] Android Static Analyzers"
Try and evaluate for integration to the MASTG.

https://github.com/detekt/detekt
https://github.com/find-sec-bugs/find-sec-bugs

Keep an eye on kotlin final support by https://github.com/semgrep/semgrep

[2021-04-10 16:21] cpholguera opened #1896 "[Style] Remove Title Enforcement for Markdown links"
The link style we're using is not maintainable, we have to manually review this for each PR instead of letting the linter do this.

[code]

There's no rule for title in markdown links:
https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md

I don't see how this brings any value, therefore I suggest we remove it.

[2021-04-12 07:03] su-vikas commented on #1894
You can assign this to me

[2021-04-12 07:03] su-vikas commented on #1868
You can assign this to me.

[2021-04-13 05:47] cpholguera commented on #1818
Refer to official/open source apps:

https://github.com/android/security-samples

[2021-04-14 18:21] #1860 closed

[2021-04-15 05:51] righettod opened #1898 "[Tool] Cast Android device screen to a computer"
**Platform:**
Android

**Description:**
I have recently discovered and used the tool [scrcpy](https://github.com/Genymobile/scrcpy) to mirror a device screen to a computer.

Do you are interested by a PR describing in which context this tool can be used when evaluating Android apps?

Thanks a lot in advance 😃

[2021-04-16 06:01] righettod opened #1899 "[Tool] Link to IDB is dead"
**Platform:**
iOS

**Description:**

The link to IDB homepage  in [this section](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x08-Testing-Tools.md#idb) is dead:

![image](https://user-images.githubusercontent.com/1573775/114978552-a1f79e80-9e89-11eb-847c-498335e866ad.png)

However, the [GitHub repo](https://github.com/dmayer/idb) still exists even if it was not updated since 2017.

Th

[2021-04-16 13:26] sushi2k commented on #1886
You can also use ideviceinstaller, which is part of the package libimobiledevice in brew. Then you can access the system logs once you connect the iOS device via USB. Console.app on macOS also works fine.

[2021-04-16 14:42] gl4nce commented on #1886
Thanks for the information @sushi2k!

I could get it working. These are my steps (frida and libimobiledevice required; used macOS). All steps are done on the macOS Console.app.

1. Get the PID for the target app with `frida-ps -U`
2. Run idevicesyslog with the PID you got from the step before:  `idevicesyslog -p $PID`
3. Do dynamic testing on the target app and check the log entries

[2021-04-16 14:59] cpholguera commented on #1899
hi @righettod, thanks for reporting. Maybe it's actually time to retire IDB since it's pretty old, hasn't been updated and does not really bring added value given the current alternatives. Would you like to help us get rid of it?

https://github.com/OWASP/owasp-mstg/search?q=idb&type=

(excluding of course the CHAGELOG files)

[2021-04-17 06:29] righettod commented on #1899
Hi, OK i'm on it 😃

[2021-04-17 06:38] righettod commented on #1899
PR #1900 submitted.

[2021-04-17 06:59] righettod commented on #1898
PR #1901 submitted 😃

[2021-04-18 12:46] #1899 closed

[2021-04-18 12:48] #1898 closed

[2021-04-18 12:51] cpholguera commented on #1894
This will also make a nice replacement for what was removed in #1900

[2021-04-18 15:11] cpholguera commented on #1767
Hi @jeroenleenarts, any news on this? Thanks!

[2021-04-18 19:41] jeroenleenarts commented on #1767
@cpholguera not at the moment. I have run some tests to investigate the DeviceCheck APIs involved.

The effect is that the app running a device check can be validated as having requested and received a valid signature from Apple. Not sure how playback scenarios work yet.

It is something I tried pitching at my place of work. The net benefit was understood, but not prioritized.

[2021-04-18 19:54] cpholguera commented on #1767
Thanks a lot for the update. Let us know once you have more details, we'll be looking forward to it 😊

[2021-04-19 13:11] righettod commented on #1838
@cpholguera  Based on [this exchange](https://github.com/OWASP/owasp-mstg/pull/1901#issuecomment-822006689), I have checked for the global replacement of *Drozer* by *Objection* but its seems that *Objection* do not provide out of the box features for the following cases (**perhaps I have missed something so do not hesitate to indicate to me if i'm wrong**):
- List and interacting with Content Pro

[2021-04-19 13:16] righettod commented on #1839
@cpholguera  Based on [this exchange](https://github.com/OWASP/owasp-mstg/pull/1901#issuecomment-822006689), I have checked for the global replacement of *Drozer* by *Objection* but its seems that *Objection* do not provide out of the box features for the following cases:
- List and interacting with Content Provider
- List app permissions
- List the attack surface (I think that the job can be achi

[2021-04-20 05:52] umersiddique741 commented on #1461
how to prevent biometric authentication machanisim in mobile application

[2021-04-20 09:54] righettod commented on #1839
I have found these commands to extract attack surface for an app, it not direct like Drozer but it give information:

[code]

[2021-04-27 17:39] jessystecroix717 commented on #1890
[https://github.com/OWASP/owasp-mstg/issues/1890#issue-849928348]()

[2021-04-27 17:42] jessystecroix717 commented on #1890
@

[2021-04-30 12:26] #1363 closed

[2021-04-30 12:26] #1369 closed

[2021-04-30 12:26] #1372 closed

[2021-04-30 12:39] #1367 closed

[2021-04-30 13:01] cpholguera commented on #1654
This issue had a misleading title because the article is called Security Hardening, I've updated it. We're not talking about security hardening but rather obfuscation.

This should be the right place to put the new content:

https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05j-Testing-Resiliency-Against-Reverse-Engineering.md#testing-obfuscation-mstg-resilience-9

The thing is that proba

[2021-05-01 10:41] #1654 closed

[2021-05-09 05:53] darvincisec opened #1907 "[Android] Anti-debug and Anti-memory dump techniques"
Can you check if some of the below techniques taken from [here](https://github.com/darvincisec/AntiDebugandMemoryDump)
can be included ?
1. Check for JDWP string in /proc/self/task/comm as an indication of app is debuggable
2. Use of inotify to detect memory dump

[2021-05-14 23:24] sushi2k commented on #1907
Hi @darvincisec. Thanks for sharing!

Regarding JDWP this might be a nice extension to our existing content: https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05j-Testing-Resiliency-Against-Reverse-Engineering.md#jdwp-anti-debugging

Regarding TracerPID, this is already available in the MSTG, but please feel free to review as I think this section wasn't touched for quite some time https:/

[2021-05-16 05:00] darvincisec commented on #1907
Thanks @sushi2k .  Reg. Anti-memory dump, I dont see a section like Anti-Debug, Anti-Hook. Do you think it will be good to have a section on memory dump and mention about anti memory dump.

[2021-06-04 13:08] Tobifrinator opened #1908 "Outdated directory for auto-generated screenshots provided (iOS)"
This issue is related to  [Testing Auto-Generated Screenshots for Sensitive Information (MSTG-STORAGE-9)](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06d-Testing-Data-Storage.md#testing-auto-generated-screenshots-for-sensitive-information-mstg-storage-9) on iOS.

The directory where app snapshots can be found that is given in **[Dynamic Analysis](https://github.com/OWASP/owasp-mstg/

[2021-06-04 13:09] #1908 closed

[2021-06-04 13:10] Tobifrinator commented on #1908
Duplicate issue with: https://github.com/OWASP/owasp-mstg/issues/1889

[2021-06-04 13:20] Tobifrinator commented on #1889
Had the same issue, the snapshot location has changed and should be updated in the guide. The directory provided by [Testing Auto-Generated Screenshots for Sensitive Information (MSTG-STORAGE-9) #Dynamic Analysis](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06d-Testing-Data-Storage.md#dynamic-analysis-7) does not exist anymore. My test device is an iPhone SE with iOS 14.6.

[2021-06-05 14:08] cpholguera commented on #1889
Thanks for sharing your results @Tobifrinator, this is always very helpful for us. Please keep it coming and always that you feel like it gladly open a PR. That usually speeds up the process and gives you contribution points 😉.

[2021-06-07 17:28] #1889 closed

[2021-06-09 11:20] sushi2k opened #1911 "New MSTG Release"
To-Do for current release:

- [x] Create new build pipeline (adopt from MASVS)
- [x] Remove `tools/old` and `tools/docker/old` directories, there are many outdated scripts from travis/previous release efforts
- [x] Alternative text in markdown image syntax is showing up as caption in epub and docx. Alternative text is always "OWASP MSTG" so it shouldn't be shown in the output as it's not describin

[2021-06-15 06:47] cpholguera opened #1912 "Review iOS Secure Data Storage alternatives"
- use SQLCipher? see:  https://github.com/corona-warn-app/cwa-app-ios/blob/release/2.5.x/src/xcode/ENA/ENA/Source/Workers/SQLiteKeyValueStore.swift
- review suggestion for encrypted CoreData

[2021-06-15 15:49] cpholguera opened #1913 "Introduce App Attest"
_App Attest allows your app to attach a hardware-backed assertion as a part of the request. Your server can use assertion to verify the request came from your genuine app, on a genuine Apple device._

https://developer.apple.com/videos/play/wwdc2021/10244/

https://developer.apple.com/documentation/devicecheck/assessing_fraud_risk

https://developer.apple.com/documentation/bundleresources/entitlem

[2021-06-18 06:27] karolpiateknet commented on #1913
Hey, I would like to handle this one :)

[2021-06-18 18:22] cpholguera commented on #1913
Thanks @karolpiateknet, just assigned to you!

[2021-06-25 11:48] cpholguera opened #1917 "Android Package Visibility"
Include one short point max. 1-2 paragraphs about Package Visibility in https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05h-Testing-Platform-Interaction.md

First search and confirm the section where it should belong.

Reference:

https://medium.com/androiddevelopers/working-with-package-visibility-dc252829de2d

[2021-06-29 16:36] cpholguera opened #1918 "Introduce GitHub Issue Forms"
https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/

Think about porting the existing ones.

[2021-07-12 19:28] eybisi commented on #1145
Well RATs get Accessibiltiy permission and automatically press Yes to popup without use interaction.

[2021-07-13 00:28] sushi2k opened #1924 "[Tools] Remove Passionfruit - Add Grapefruit"
**Describe the issue**
Passionfruit is being used and referenced in the MASTG. Passionfruit is not maintained anymore and worse is not working anymore since Frida 14.

Passionfruit (https://github.com/chaitin/passionfruit) can be replaced with Grapefruit (https://github.com/ChiChou/grapefruit)

[2021-07-20 02:33] wahibimoh opened #1929 "IDA Pro decompiler (Hex Ray) is solving Uncrackable-Level 2"
Hi,
I am not sure if the binaries for armv7 are optimized too much or if Hex Ray decompiler, v7.5, is better than I expected. But when I used the decompiler on libfoo.so from armeabi-v7a the solution is in plain text:

![image](https://user-images.githubusercontent.com/2051325/126253181-9ce9a58c-4368-4786-83f9-6f2eba718c73.png)

Here is what I get Ghidar:
![image](https://user-images.githubusercon

[2021-07-21 09:42] su-vikas commented on #1704
@cpholguera  this one can be closed.

[2021-07-22 12:18] cpholguera commented on #1050
Let's give it another try!

[2021-07-22 22:28] sushi2k commented on #1050
List of files over 1MB in git:

[code]

[2021-07-22 22:35] sushi2k commented on #1050
First test with a fork of the MSTG:

[code]

[code]

[2021-07-22 22:36] sushi2k commented on #1050
Instead of 417MB it's now 130MB (for .git only)

[code]

[2021-07-25 23:37] sushi2k opened #1933 "Release 1.3 preparation"
To-Do pushed to next release:
- [ ] Parse the log output in GitHub actions to detect overflows that might cause issues in the produced artefacts (PDF etc.); meaning missing line breaks (happens for example with source code)
- [ ] Add contributors automatically in MSTG document build
- [ ] Add captions automatically to pictures with python script from @cpholguera
- [ ] Auto-generate excel checklist

[2021-09-15 09:18] imdadvs opened #1935 "Security Test case for testing swift based application using frida-swift-bridge"
**Platform:**
iOS
**Description:**
A test case of the swift based application using frida-swift-bridge

https://github.com/frida/frida-swift-bridge

[2021-10-05 23:32] gabcarneiro commented on #1629
Hi guys, im trying out the [frida detection example made by Berdhard Mueller](https://github.com/b-mueller/frida-detection-demo/blob/master/AntiFrida/app/src/main/cpp/native-lib.cpp) mentioned on the table [here](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05j-Testing-Resiliency-Against-Reverse-Engineering.md#detection-methods), and its just not working. Im running a frida-server (v

[2021-10-14 12:19] cpholguera opened #1942 "[Technique] Taint Analysis"
Include Taint Analysis in our techniques.

https://www.usenix.org/system/files/sec20-elsabagh.pdf

## Tools

### GDA?

GDA supports Static Taint Analysis:
https://github.com/charles2gan/GDA-android-reversing-Tool/wiki/GDA-Static-Taint-Analysis

Among many other features, it has this Frida support:
https://github.com/charles2gan/GDA-android-reversing-Tool/wiki/GDA-support-for-the-frida

### Other t

[2021-10-15 10:42] cpholguera commented on #1929
Hi @wahibimoh, thanks for your message :) The solution string is indeed inside the code so it might be very possible that IDA was able to resolve it using techniques such as symbolic execution.

https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05c-Reverse-Engineering-and-Tampering.md#symbolic-execution

[2021-10-15 10:42] #1929 closed

[2021-10-17 14:00] cpholguera commented on #1935
Hi @imdadvs,

thanks for raising the issue. This should be definitely addressed but instead of writing a new test case we need to:

1. update the Frida entry section in the Tools chapter:
 https://github.com/OWASP/owasp-mstg/blob/master/Document/0x08-Testing-Tools.md#frida

2. update the Frida for iOS subsection:
 https://github.com/OWASP/owasp-mstg/blob/master/Document/0x08-Testing-Tools.md#frida

[2021-10-17 14:01] #1911 closed

[2021-10-17 14:03] cpholguera commented on #1887
Duplicate. See #1924

[2021-10-17 14:03] #1887 closed

[2021-10-17 14:06] cpholguera commented on #1867
Agree with @TheDauntless, let's close this issue then. Thanks @kousha1999

[2021-10-17 14:11] cpholguera commented on #1817
Closing due to inactivity. Please reopen if more support is needed.

[2021-10-17 14:21] cpholguera commented on #1752
Hi @crazykid95, sorry about the late response, we were and are very busy with the new refactoring of both MASVS and MSTG.

Right now, as you mentioned, there's only one MASVS requirement mentioning something "hardcoded" (MSTG-CRYPTO-1). We're thinking about introducing a new V7 (MSTG-CODE) requirement for hardcoded sensitive information.

For now, it would be great if you could open the PR as you

[2021-10-18 03:17] imdadvs commented on #1935
@cpholguera  Thanks. I will take this up.

[2021-10-18 18:37] cpholguera commented on #1767
Any news on this @jeroenleenarts? 😊

[2021-10-19 13:10] cpholguera opened #1944 "Add NIST, ioXt, BSI & more"
Standards using the MASVS and MSTG:

- NIST (2022): https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-218.pdf
- BSI: https://www.bsi.bund.de/SharedDocs/Downloads/EN/BSI/Publications/TechGuidelines/TR03161/TR-03161.pdf

https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/DigitaleGesellschaft/Pruefvorschrift_Produktgutachter_ePA-Frontend.pdf

- ioXt: https://static1.squarespace.com/s

[2021-10-21 16:59] cpholguera opened #1946 "Centralize Crackmes"
Move
- https://github.com/OWASP/owasp-mstg/tree/master/Crackmes
- https://github.com/OWASP/MSTG-Hacking-Playground

to https://github.com/OWASP/mstg-crackmes/

Related to https://github.com/OWASP/owasp-mstg/issues/1015, #1541

[2021-10-23 13:50] cpholguera opened #1949 "iOS Pasteboard transparency and Secure Paste"
Shortly introduce these two topics in MASTG-KNOW-0083.md

This avoids information leakage leaving it up to the user. Since iOS 14/15.

## Pasteboard transparency

iOS and iPadOS notify you when an app is copying content from the pasteboard so you’re aware of the activity. Developers can allow you to paste content from another app without having access to what you’ve copied until you want them to.

[2021-10-23 14:00] cpholguera opened #1950 "[iOS Privacy] Limited Library to avoid Storage Permission"
With enhanced Photos limited library access, developers can offer smart functionality — like a recent photos folder for specific albums — even when a user has only granted limited access.

https://www.apple.com/newsroom/2021/06/apple-advances-its-privacy-leadership-with-ios-15-ipados-15-macos-monterey-and-watchos-8/

Many apps may only need read-only access to retrieve images to share on the inter

[2021-10-25 10:17] R3zk0n opened #1951 "Decrypting Realm Databases"
**Proposal to add to a section**
Adding to section [0x06-d - Realm Databases](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06d-Testing-Data-Storage.md#realm-databases)

### Decrypting Realm Databases
However Realm Databases have a notable issue when using the encrypted method, The encryption key is also the decryption key. If a user is able to obtain the key that is used to encryptio

[2021-10-30 04:35] #1370 closed

[2021-11-03 06:20] fujiokayu opened #1965 "[iOS] SecKeyEncrypt has been deprecated"
[SecKeyEncrypt](https://developer.apple.com/documentation/security/1617956-seckeyencrypt) has been deprecated in iOS SDK 15.
- [Security iOS 14.5 to 15.0 API Differences](http://codeworkshop.net/objc-diff/sdkdiffs/ios/15.0/Security.html)

MSTG does not mention this API in any depth, and SecKey itself is not deprecated.
So, I would like to just fix the following one place.
What do you think of this

[2021-11-05 10:07] cpholguera opened #1967 "[Privacy] Nutrition Labels Privacy Report, Safety Section and Privacy Dashboard"
Be sure to mention and analyze for potential risks and misuse.

Enhance MSTG-STORAGE-12.

## Android

https://www.google.com/amp/s/www.imore.com/google-reveals-android-version-apples-privacy-nutrition-labels%3famp

https://android-developers.googleblog.com/2021/05/new-safety-section-in-google-play-will.html?m=1

Privacy Dashboard:
https://medium.com/androiddevelopers/increasing-user-transparency-w

[2021-11-05 15:18] cpholguera opened #1968 "[Tool] xpcspy"
Mention xpcspy in the Dynamic Analysis section:

https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06d-Testing-Data-Storage.md#determining-whether-sensitive-data-is-exposed-via-ipc-mechanisms-mstg-storage-6

https://github.com/hot3eed/xpcspy

Add to the Tools chapter.

[2021-11-11 04:47] commjoen commented on #1174
Hmm I cannot find the time for it so would love to set it back to todo unfortunately.

[2021-11-14 14:04] #1416 closed

[2021-11-14 14:04] #1482 closed

[2021-11-14 14:12] #1509 closed

[2021-11-14 14:15] cpholguera commented on #1614
We don't have access to the mentioned up, closing for now. We can reopen if we get access to it.

[2021-11-14 14:15] #1614 closed

[2021-11-14 14:18] #1657 closed

[2021-11-14 14:20] cpholguera commented on #1596
We won't do it for now. It didn't look good and with the new approach this won't be needed anyway. We'll move to one file per MASVS ID

[2021-11-14 14:20] #1596 closed

[2021-11-14 14:30] cpholguera commented on #1857
Fixed in the 1.2 release. Regarding the excel, no need to worry, soon it will be automatically generated for all languages so there's no need to maintain it anymore.

[2021-11-14 14:30] #1857 closed

[2021-11-14 21:44] cpholguera commented on #1156
all done. Last fix in #1973

[2021-11-14 21:44] #1156 closed

[2021-11-15 11:47] cpholguera opened #1974 "[Android Privacy] Companion Device Pairing to avoid location permission"
https://developer.android.com/guide/topics/connectivity/companion-device-pairing

[2021-11-18 11:38] sushi2k opened #1982 "Do we need the slash in image tags in markdown?"
**Describe the issue**
https://github.com/OWASP/owasp-mstg/pull/1979#pullrequestreview-809807221

[2021-11-19 20:54] WarrDaddy commented on #1461
Hey I'm experiencing this issue. I've added  the variable to line 168 per d0n473ll0's recommendation however, the error is persistent.

[2021-11-20 00:07] cpholguera commented on #1461
Hi @WarrDaddy, if you're experiencing any issues with that script please contact the authors directly at https://github.com/FSecureLABS/android-keystore-audit/issues/3

Thank you!

[2021-11-20 06:45] cpholguera opened #1983 "[Tool] FlowDroid"
https://github.com/secure-software-engineering/FlowDroid

https://youtu.be/S89_V9DGtrk

[2021-11-25 06:12] flamecopper opened #1989 "Insecure Version Of OS Installation Allowed"
Can be specified in AndroidManifest.xml, minSDKversion section. Temporarily determine min Sdk = 24 and min OS = Android

Is this part of the official test case?

[2021-11-26 06:02] cpholguera commented on #1989
Hi @flamecopper, could you please give us some more context? Thank you 😊

[2021-11-27 08:37] cpholguera opened #1991 "[SMS 2FA] - Enhance SMS-delivered code security with domain-bound codes"
By including the URL of the intended website within the SMS, it would mean websites and apps could automatically detect and read a 2FA SMS message, inputting the data. This would certainly be more convenient than remembering and then typing the keycode in. However, more importantly, by ensuring the code would only work with a specific, intended website, the plan could eliminate the risk of falling

[2021-11-27 08:57] cpholguera commented on #1493
We considered this as part of MASVS-NETWORK and the ioXt standard will take care of this bulding on top of the MASVS.

[2021-11-27 08:57] #1493 closed

[2021-11-27 09:02] cpholguera commented on #1491
Related to #1988

[2021-11-27 09:20] #1694 closed

[2021-12-01 13:51] cpholguera opened #1994 "Implement Test Case for MSTG-ARCH-1"
#1988 removes this section that doesn't belong there since it's not about privacy or user education on that regard. It's rather about complying to copyright laws stating that the user must be informed regarding 3rd party libraries, their licences, etc.

This could be re-used for MSTG-ARCH-1 (not yet covered in the MSTG).

[code]

[2021-12-11 12:25] cpholguera opened #2007 "Add Tech Writing Training to style guide"
Our style guide: https://github.com/OWASP/owasp-mastg/blob/master/docs/contributing/5_Style_Guide.md

Add these trainings as an [mkdocs admonition of type "tip"](https://squidfunk.github.io/mkdocs-material/reference/admonitions/):

[code]

[2021-12-12 09:25] cpholguera opened #2008 "[Test Case] usesCleartextTraffic in AndroidManifest"
Add a test in MASVS-NETWORK-1 for `usesCleartextTraffic` in AndroidManifest:
https://developer.android.com/guide/topics/manifest/application-element#usesCleartextTraffic

[2021-12-17 08:12] cpholguera opened #2012 "Use Custom Linting Rules"
To help complying with our style guide we can develop custom linting rules to be executed locally and on our markdown-lint Action.

See:
 https://github.com/DavidAnson/markdownlint/blob/main/doc/CustomRules.md

https://www.npmjs.com/package/markdownlint-rule-search-replace

[2021-12-22 13:13] cpholguera opened #2014 "Enhance General Mobiles Security Testing chapter"
We should enhance the chapter with clear guidelines on setting up the scope and expectations with the client. This way we can refer back to a section here whenever a test might get too complex and time consuming.

https://github.com/OWASP/owasp-mstg/blob/master/Document/0x04b-Mobile-App-Security-Testing.md#coordinating-with-the-client

This idea came after discussing https://github.com/OWASP/owasp

[2021-12-22 23:37] #1967 closed

[2021-12-26 09:15] cpholguera opened #2019 "[Android] Add Windows Subsystem for Android (WSA)"
https://sensepost.com/blog/2021/android-application-testing-using-windows-11-and-windows-subsystem-for-android/

[2021-12-31 00:20] brian-nowsecure opened #2020 "💲🎉 New Donation"
### 🙂 Your Name

Brian Reed

### 🏢 Company Name

NowSecure

### 📧 E-Mail Address

breed@nowsecure.com

### 💵 Donation Amount

4000.00

### 📦 Donation Package

God Mode Donator (USD 4000 / 5 Available; 3 years; 5 paperback MSTGs)

### 📘 MSTG Paperback Copies

🌱 No, please save the money for the project and help the environment and climate.

### 📋 Code of Conduct and Donation Conditions

- [X] I agr

[2022-01-02 11:29] cpholguera commented on #2020
Open PRs (waiting for verification and approval):

- https://github.com/OWASP/owasp-masvs/pull/613
- https://github.com/OWASP/owasp-mstg/pull/2021
- https://github.com/OWASP/www-project-mobile-security-testing-guide/pull/66

[2022-01-07 23:26] #2020 closed

[2022-01-15 12:59] cpholguera commented on #1918
Done

[2022-01-15 12:59] #1918 closed

[2022-01-25 07:52] #2008 closed

[2022-01-26 22:00] cpholguera opened #2044 "Android Nearby Connections API"
Nearby Connections is a peer-to-peer networking API that allows apps to easily discover, connect to, and exchange data with nearby devices in real-time, regardless of network connectivity.

First, the messages are not encrypted and you shouldn’t publish sensitive information through the Nearby Server. Instead, once you verify close physical proximity through the Nearby APIs, you can transition to

[2022-02-02 20:48] LukasMarckmiller opened #2052 "[Android] Improve Activity Testing to include implicit Intent attacks"
Chapter **0x04h-Testing-Code-Quality, Testing for Injection Flaws (MSTG-PLATFORM-2)** could provide a better background to intent hijacking and spoofing (see e.g https://onlinelibrary.wiley.com/doi/abs/10.1002/spe.2643).

What's missing in the MSTG is testing for a tech I read about [here](https://blog.oversecured.com/Interception-of-Android-implicit-intents/). Implicit intents are rarely discover

[2022-02-03 10:47] cpholguera commented on #2052
Hi @LukasMarckmiller, thanks for raising the issue. We should definitely cover that. Would you like to help us by writing a short test case for it?

[2022-02-03 10:48] cpholguera commented on #2052
The PR addressing this should also cover this (now closed) issue #941:

With Android Oreo, you now have new broadcast (implicit intent) limitations, as well as limitations as a background service. This will influence how the rogue apps might be able to get to your intents.

time to update the MSTG on the android sections regarding broadcasts and (possibly) background services for platform interact

[2022-02-03 10:55] LukasMarckmiller commented on #2052
@cpholguera, yes i would love to contribute and help. so should I fork the chapter and include a description of the problem aswell as coding samples? Or how should a test case look like?

[2022-02-03 11:17] cpholguera commented on #2052
That's great, thank you @LukasMarckmiller!

## Getting started

You can read how to setup your contributor environment [here](https://github.com/OWASP/owasp-mstg/blob/master/CONTRIBUTING.md#how-to-set-up-your-contributor-environment).

However, if you prefer, there's a much easier way thanks to GitHub.
- Navigate to [the chapter](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05h-Testi

[2022-02-03 11:34] LukasMarckmiller commented on #2052
Thanks for the information! I'll definitely do that :)

[2022-02-11 07:26] cpholguera opened #2062 "[Android Privacy] Photo Picker to avoid Storage Permission (Android 13)"
[code]

More info regarding Android 13 here: https://android-developers.googleblog.com/2022/02/first-preview-android-13.html

Related (iOS counterpart): #1950

[2022-02-14 14:29] cpholguera opened #2063 "[Test Case] Dynamic Pinning"
Test for dynamic pinning as in https://github.com/wultra/ssl-pinning-android.

[2022-02-17 05:53] cpholguera commented on #1989
Closing due to inactivity.

[2022-02-17 05:54] #1989 closed

[2022-02-17 05:57] cpholguera commented on #1935
Hi @imdadvs, I hope you're doing well. Do you have any news on this?

[2022-02-17 20:12] gabcarneiro opened #2065 "[Question] - Possible false-positive on emulator detection"
Hello guys, first i wanna thank you for all the effort you have been putting on this project, im working on an app that requires resilience against reverse engineering and this project saved my life.

The issue is: im applying an emulator detection on an Android project based on these build.props [here](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05j-Testing-Resiliency-Against-Rever

[2022-02-17 21:18] cpholguera commented on #1965
Hi @fujiokayu, nicely spotted! Would you mind opening a PR with the fix for that title? 🙏

I think that a bit down below in that section we refer to `SecKey` using the correct links. If you find any inconsistencies, could you please include them in the same PR? Let us know if you have any questions, thanks a lot!

[2022-02-17 21:21] cpholguera commented on #1951
Hi @R3zk0n, thanks a lot for your suggestion, could you please open a PR with that?

[2022-02-17 22:27] julepka commented on #2063
It should be worth mentioning that dynamic pinning is a nice and convenient idea... until you need to send a certificate or public key hash through the unprotected channel (because you don't have pinning to protect it). Then, developers start thinking of exchanging secrets... encryption... and it gets complicated because you need to think about PKI and encryption algorithms and there is a large ro

[2022-02-18 16:59] cpholguera opened #2068 "Add Codespell workflow"
`codespell --ignore-words-list=ba,compliancy,firt,ist,keypair,ligh,ser,synopsys,zuser`

https://pypi.org/project/codespell/

Related to #2067.
Thanks again @cclauss!

[2022-02-18 23:33] cpholguera commented on #2068
Closed in #2069

[2022-02-18 23:33] #2068 closed

[2022-02-21 07:16] imdadvs commented on #1935
@cpholguera I was on a long vacation. I will start working and update you.

[2022-02-21 07:22] cpholguera commented on #1935
Alright, thanks a lot @imdadvs! 👌

[2022-02-21 11:06] cpholguera opened #2070 "[Tool] Add jadx to Frida Integration"
https://twitter.com/leonjza/status/1495445380292558857?t=o7MgyV0wjMTQe2CLPrie4w&s=19

[2022-03-03 15:51] mtsio opened #2080 "[Android] Testing for Injection Flaws Content Provider"
There is an example of a vulnerable Content Provider in this section that has the following manifest.
[code]
It mentions in the text that the provider is exported so other apps can interact with it. Why is this the case? I think this only holds for API 17 which makes the Content Provider exported by default. Maybe a clarification would be helpful.

[2022-03-06 07:41] fujiokayu commented on #1965
@cpholguera Thank you for checking this, and sorry for the delay in noticing.
I will send PR soon.

[2022-03-06 08:34] #1965 closed

[2022-03-09 16:12] cpholguera opened #2084 "Fix Checklists Coverage for MSTG Test Cases"
### Discussed in https://github.com/OWASP/owasp-mstg/discussions/2082

<div type='discussions-op-text'>

<sup>Originally posted by **fujiokayu** March  6, 2022</sup>
since [V1.4.0](https://github.com/OWASP/owasp-mstg/releases/tag/v1.4.0), the OWASP Mobile App Security Checklists have been renewed and changed to be automatically generated.
thanks for the great works.

However, the Test Case links a

[2022-03-09 16:19] cpholguera commented on #2084
Hi @fujiokayu, here's the issue, could you please open a PR including your changes? Please write `Closes #2084` in the description so that it is linked to this issue.

Once it is created we can take a look at the generated files and see it it need some more fixes.

I've sent you an invitation to join our project on GitHub, once you accept it I'll assign this issue to you.

Thank you very much agai

[2022-03-09 17:09] fujiokayu commented on #2084
Thanks @cpholguera for the invitation, I accepted.
I will clean up the code a bit and send you a PR within a few days.

[2022-03-09 17:26] cpholguera commented on #2084
どうもありがとうございます、 @fujiokayu! 🙏

[2022-03-11 08:18] #2084 closed

[2022-03-18 15:19] imdadvs commented on #1935
@cpholguera Just an update. I have just started on it. Experimenting with the tool with few sample apps. Will update you soon.

[2022-03-18 15:28] cpholguera commented on #1935
That's great @imdadvs, thank you for the update. Looking for to reviewing it!

[2022-03-19 07:31] imdadvs commented on #1935
@cpholguera

The frida-swift-bridge api currently extracts the metadata from the swift binary and print's out the Class, Structs, Enums, Protocols and it has other features as well. The Swift.Interceptor.attach api does not seem to be fully functional as of now. With this, I wasn't able to completely instrument the binary by hooking it into a method of printing the return type or manipulating it.

[2022-03-20 13:14] bimsec opened #2087 "Typo"
### MSTG Chapter

Cryptography in Mobile Apps

### File Line Number

177

### Context

“Male sure” but should be “Make sure”

[2022-03-21 15:32] cpholguera commented on #2087
Nicely seen, thanks a lot @bimsec. Would you mind opening a PR including your changes? Please write `Closes #2087` in the description so that it is linked to this issue. Feel free to send any other corrections you may have.

You can simply:

1. Go to the chapter [here](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x04g-Testing-Cryptography.md)

2. Click the edit button
<img width="600"

[2022-03-24 09:03] cpholguera opened #2091 "[Tool] medusa"
Add medusa along with objection, etc.?

https://github.com/Ch0pin/medusa

See it in action:
- Testing WebViews: https://valsamaras.medium.com/when-equal-is-not-another-webview-takeover-story-730be8d6e202
- Testing JNI: https://valsamaras.medium.com/tracing-jni-functions-75b04bee7c58
- Cracking Android Uncrackable Level 2: https://valsamaras.medium.com/just-another-cracking-the-uncrackable-2266cbb6

[2022-03-25 17:23] cpholguera opened #2093 "Upgrade pandocker"
Upgrade to the latest pandocker once this issue is fixed: https://github.com/dalibo/pandocker/issues/234

For now we'll remain in 21.02, see #2092.

[2022-03-26 09:07] cpholguera opened #2095 "Auto-label PRs"
For new PRs we want to automatically label them to match our release.yml.

Use https://github.com/actions/labeler

[2022-03-31 01:32] fujiokayu opened #2097 "[checklist] Separate status columns for each platform"
The current (ver 1.4.1) checklist has only one status column.
In my humble opinion, it would be easier to use if we have separate columns for Android and iOS, since we would need two checksheets for each assessment.

- current:
<img width="393" alt="image" src="https://user-images.githubusercontent.com/17287988/160956923-12450a07-75f7-43dd-b118-1964004f643e.png">

- my opinion:
<img width="419" al

[2022-04-01 10:11] cpholguera commented on #2097
Thanks for the feedback @fujiokayu, we'll think about it 😊

[2022-04-13 11:38] bimsec opened #2099 "Misinformation"
Corellium is the only publicly available iOS emulator. It is an enterprise SaaS solution with a per user license model and does not offer any trial license. => this is no longer true, Correlium does offer trial licenses. Important sidenote, you will need an IPA file that has been signed with your own developer certificate in order to be able to install on Corellium devices.

This is for 0x06b-Basi

[2022-04-13 11:54] bimsec opened #2100 "Out of date info"
[Passionfruit](https://github.com/chaitin/passionfruit): an iOS app blackbox assessment tool. It's no longer Passionfruit but it is now called Grapefruit. (https://github.com/chichou/grapefruit).

Found in 0x08-Testing-Tools.md#frida

[2022-04-14 16:14] cpholguera commented on #2099
Hi @bimsec, do you have a reference link pointing to that information?

Would you mind opening a PR with your correction, that'd be very helpful. Thank you in advance.

[2022-04-14 16:20] cpholguera commented on #2100
Hi @bimsec, we already have an issue for that. See https://github.com/OWASP/owasp-mstg/issues/1924

This would imply updating all occurrences and examples of passionfruit. Would you mind opening a PR with an update? That'd be a huge help for us right now.

If you have any questions or need help getting started please let us know. Thank you very much!

[2022-05-03 08:42] cpholguera opened #2104 "Testing iOS App Clips"
Research & try out App Clips, add a section about its privacy and security implications and add tests if needed.

See privacy implications in [Preserve User Privacy](https://developer.apple.com/documentation/app_clips/choosing_the_right_functionality_for_your_app_clip).

More:
- https://developer.apple.com/documentation/app_clips/sharing_data_between_your_app_clip_and_your_full_app
- https://devel

[2022-05-03 09:32] cpholguera opened #2105 "Add tcpdump to 0x06b"
Add tcpdump (after testing against the latest iOS) and check if there's anything else worth adding from the refs below (sslsplit?).

Refs:
- https://blog.jjhayes.net/wp/2019/02/28/capture-iphone-network-traffic-with-tcpdump-and-wireshark/
- https://iphelix.medium.com/ios-data-interception-b3a393e80c82 (2013, verify that it still works)
- https://www.mustafadur.com/blog/intercepting-ssl-and-https/

[2022-05-04 02:50] irbishop opened #2106 "[Bug] Additional option to prevent caching"
### MSTG Chapter

0x06d-testing-data-storage

### File Line Number

448

### Context

I came across this article: https://blog.silentsignal.eu/2016/05/06/ios-http-cache-analysis-for-abusing-apis-and-forensics/ which talked about setting the Cache-Control header to prevent caching on iOS devices among other things.  I tested it out on iOS 13.4.1 with modified responses containing `Cache-Control: no

[2022-05-04 02:55] irbishop commented on #2106
I tested it on 2 apps, one written using Xamarin the other in Swift.

[2022-05-28 12:28] Keith1650 opened #2108 "Hi"

[2022-05-29 14:53] #2108 closed

[2022-06-07 07:25] cpholguera opened #2109 "iOS Developer Mode"
Research and analyze security impact:

https://developer.apple.com/documentation/xcode/enabling-developer-mode-on-a-device

At least mention it in Fundamentals / Basic Security testing (0x06b).

[2022-06-07 08:39] cpholguera opened #2110 "Add References to Frida Book"
Add references to https://learnfrida.info/ which extends the MASTG Dynamic Binary Instrumentation (DBI) testing techniques.

In the general MASTG-TOOL for Frida create a section "Frida Handbook". It should have the following content:

- very short intro about the book.
- short listing about what you can learn in the book (from the high-level topics in  https://learnfrida.info/)

Apart from that, w

[2022-06-07 09:47] lndevel opened #2111 "[iOS] Add information on enabling Safari Web Inspector on iOS"
In  *Testing iOS WebViews (MSTG-PLATFORM-5)* the guide provides information on testing web views.

Turning on Safari developer tools results in a great  information resource on web view contents.
Additionally, it allows for better vetting of hybrid applications, as the contents of the mobile application's web views can be inspected directly on a Mac.

We suggest adding information on enabling the

[2022-06-07 11:13] cpholguera commented on #2111
Hi @lndevel, that's a great improvement. Would you mind opening a PR with your proposal? Thanks a lot in advance!

[2022-06-07 12:52] lndevel commented on #2111
Hi. I created a PR with a short description on enabling the web inspector. I hope the location is appropriate. If you want the section to be more detailed, just let me know.

[2022-06-07 15:58] cpholguera commented on #2111
Thanks a lot @lndevel, we'll take a look at it soon!

[2022-06-09 04:47] AtmegaBuzz commented on #2110
hello @cpholguera I am new contributor to owasp. can you explain your issue in little detail. do i have to add single reference or multiple reference to subtopics of databases in 0x05d testing data storage.

[2022-06-10 07:17] cpholguera opened #2113 "Update 0x05j with Play Integrity"
Google will discontinue SafetyNet API in favor of Play Integrity API

https://developer.android.com/google/play/integrity/migrate

We should update the SafetyNet section accordingly.

[2022-06-11 20:02] vadimszzz opened #2115 "💲🎉 New Donation"
### 🙂 Your Name

Vadim Yegorov

### 🏢 Company Name

Vadim Yegorov. I don't own a company. Would be nice to see my name \\^^/

### 📧 E-Mail Address

vadimszzz@airmail.cc

### 💵 Donation Amount

4000 USD

### 📦 Donation Package

God Mode Donator (USD 4000 / 5 Available; 3 years; 5 paperback MSTGs)

### 📘 MSTG Paperback Copies

📮 Yes, please send them to me.

### 📋 Code of Conduct and Donation Condit

[2022-06-12 12:52] #2111 closed

[2022-06-12 18:03] cpholguera commented on #2115
Hi @vadimszzz, this is awesome, thank you very much for your support! We've contacted you per email regarding the next steps. We'll be happy to coordinate that as well as your upcoming content contributions which we're very much looking forward to. Have a great Sunday!

[2022-06-20 15:51] #1944 closed

[2022-06-21 10:42] cpholguera opened #2119 "Broken URLs"
Some URLs are broken, see https://github.com/OWASP/owasp-mstg/runs/6897262028?check_suite_focus=true

Search for [✖] in the log below.

- If you are able to open the link you may need to add an exception in https://github.com/OWASP/owasp-mstg/blob/master/.github/workflows/config/mlc_config.json
- If the link does not lead anywhere anymore you can search the web archive and see if you can find the

[2022-06-25 08:47] cpholguera commented on #2110
Hi @AtmegaBuzz, sorry about the delayed answer. I've improved the description to help you get started with your PR. If you have any other questions please let me know here or via private message on [Slack](https://github.com/OWASP/owasp-mstg#connect-with-us), as you prefer.

Thank you very much for wanting to contribute to the OWASP MSTG!

[2022-06-25 08:51] #2100 closed

[2022-06-25 09:27] #2099 closed

[2022-06-27 10:32] cpholguera commented on #1933
see https://github.com/OWASP/owasp-mstg/issues/1772

[2022-06-27 10:33] cpholguera commented on #1015
covered in https://github.com/OWASP/owasp-mstg/issues/1946

[2022-06-27 10:33] #1015 closed

[2022-07-03 17:33] cpholguera opened #2135 "Enhance iOS Platform Overview Chapter"
@vadimszzz has written a nice document including an overview of the iOS platform which is located in the following section:

https://github.com/vadimszzz/iOS-Internals-and-Security-Testing#ios-platform-overview

We can use this to enhance our current chapter.

https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06a-Platform-Overview.md

Please keep in mind that we'd like to keep the content

[2022-07-05 06:55] cpholguera opened #2141 "[0x06j] Upgrade Test Case: Jailbreak Detection (MSTG-RESILIENCE-1)"
Upgrade section "Bypassing Jailbreak Detection" in https://github.com/OWASP/owasp-mstg/blob/master/Document/0x06j-Testing-Resiliency-Against-Reverse-Engineering.md#jailbreak-detection-mstg-resilience-1

TODO:

- simplify
- remove hopper (and images), use radare2 instead
- remove cycript, use frida instead
- or simply reduce all to objection

[2022-07-05 07:04] cpholguera opened #2142 "New Chapter for Reference Apps"
Rename 0x08-Testing-Tools.md to 0x08a-Testing-Tools.md and fix all related links in the MSTG.

Create a new chapter for ["Vulnerable applications"](https://github.com/OWASP/owasp-mstg/blob/master/Document/0x08-Testing-Tools.md#vulnerable-applications): 0x08b-Reference-Apps.md

Each entry should have own markdown headers:

[code]

Ensure that the headers are unique, e.g. `### Crackmes` should be `#

[2022-07-11 07:43] wwwhackcom commented on #2119
Hi @sushi2k and @cpholguera, I am a new contributor, it was nice meeting Sven there during the OWAPS NZ Day. Shall I start with this issue, please let me know, thank you.

[2022-07-11 08:34] cpholguera commented on #2087
It seems to be fixed now. Thanks @bimsec

[2022-07-11 08:34] #2087 closed

[2022-07-11 08:36] #2119 closed

[2022-07-11 09:07] wwwhackcom commented on #2142
Thanks @cpholguera, I am happy to start with this "create a new chapter 0x08b".

[2022-07-11 09:11] cpholguera commented on #2142
It's now assigned to you. See how to contribute https://github.com/OWASP/owasp-mstg/blob/master/docs/contributing/2_Getting_Started.md#contribute-offline

And here more info about opening your first PR and the review process: https://github.com/OWASP/owasp-mstg/blob/master/docs/contributing/3_PRs_and_Reviews.md

Thanks!

[2022-07-13 19:10] cpholguera opened #2158 "[Tool] APKLab"
Evaluate for inclusion:

https://github.com/Surendrajat/APKLab/

[2022-07-13 21:38] cpholguera opened #2159 "Add Hide Sensitive Content from Clipboard MSTG-STORAGE-7"
https://developer.android.com/about/versions/13/behavior-changes-all#copy-sensitive-content

[2022-07-19 21:14] #2142 closed

[2022-07-20 09:03] t3chn0m4g3 opened #2163 "[Bug] Landscape change, claim might not hold anymore"
### MSTG Chapter

MSTG-RESILIENCE-5, line 638

### File Line Number

638 (0x06j-Testing-Resiliency-Against-Reverse-Engineering.md)

### Context

At the moment R5 on iOS claims, that emulation detection is no concern on iOS since the only known emulator is XCode. However there are offerings i.e. by Corellium (https://www.corellium.com/) offering iOS emulation even jailbroken and large scale. It is

[2022-07-22 11:43] t3chn0m4g3 commented on #2163
@cpholguera Of course, but it will need review and testing.

[2022-07-22 11:55] cpholguera commented on #2163
That's great, please take your time. We'll review your PR of course 👍 Thank you very much!

[2022-07-22 12:00] wwwhackcom commented on #1991
Hi @cpholguera and @sushi2k, I have been following this Enhance SMS domain-bound OTP and WebOTP recently,
do you reckon what the next trend is for OTP, or maybe WEBAUTHN? Would be great if can shed some light on this topic.
On top of that, what's your next step for this issue?
Cheers, Nick

[2022-07-22 12:48] anantshri commented on #1823
Some more references around this

Alterantive tools
1. https://github.com/pkumza/LibRadar
2. https://github.com/yuanxzhang/LibPecker
3. https://github.com/ucam-cl-dtg/LibID

an interesting whitepaper https://arxiv.org/pdf/2108.01964.pdf which does an extensive coverage with all these tools as well as some more around 3rd party library detection.

Important point to keep in mind. that these tools a

[2022-07-22 13:18] t3chn0m4g3 commented on #2163
PR created with #2167

[2022-07-28 09:00] #1846 closed

[2022-07-31 06:25] fujiokayu commented on #2158
@cpholguera

Thanks for sharing good tool.

Installation was very easy. And i tried decompile, MITM Patch, and rebuild by this tool.
It looks good for me.

[2022-08-03 02:27] cpholguera commented on #2158
Hey @fujiokayu, that's great. Thanks for taking the time to test it. Would you like to add a short entry to the Testing Tools chapter ...

https://github.com/OWASP/owasp-mstg/blob/master/Document/0x08a-Testing-Tools.md

and in here ...?

https://github.com/OWASP/owasp-mstg/blob/master/Document/0x05c-Reverse-Engineering-and-Tampering.md#decompiling-java-code

[2022-08-03 02:59] fujiokayu commented on #2158
Thanks @cpholguera for specifying the chapters.
I'll send you a PR in a few weeks.

[2022-08-03 03:01] cpholguera commented on #2158
Thank you very much!

[2022-08-04 14:42] LJacbosen opened #2173 "💲🎉 New Donation"
### 🙂 Your Name

Loni Jacobsen

### 🏢 Company Name

Corellium

### 📧 E-Mail Address

loni@beacondigitalmarketing.com

### 💵 Donation Amount

_No response_

### 📦 Donation Package

Honourable Benefactor (USD 2000 / 8 Available; 2 years; 3 paperback MSTGs)

### 📘 MSTG Paperback Copies

🌱 No, please save the money for the project and help the environment and climate.

### 📋 Code of Conduct and Donati

[2022-08-04 15:09] #2173 closed

[2022-08-17 09:38] #2163 closed

[2022-08-18 09:28] #2158 closed

[2022-08-19 12:47] fujiokayu commented on #2070
@cpholguera

Thank you for sharing good feature.
This is just a little help for mobile security testing.

From the context menu(right-click menu) of a function that decompiled with jadx-gui, we can generate skeleton code for Frida scripts.
Here is an example with UnCrackable-Level1.

![image](https://user-images.githubusercontent.com/17287988/185618641-dce7992f-8794-4bbe-9412-9de1e76f203f.png)

Ho

[2022-08-19 14:15] cpholguera commented on #2070
That sounds great @fujiokayu, thanks for the suggestion!

[2022-08-25 07:42] cpholguera opened #2184 "Using Google Paranoid to Test for Bad Crypto"
1. Demo/little writeup how we could use this to test for crypto in Android and iOS apps.

https://github.com/google/paranoid_crypto

2. Propose a list MASTG test cases to enhance with this.
3. Enhance the MASTG test case(s).

[2022-08-31 05:42] sushi2k commented on #2115
Hi Anna,

we are sorry to hear that, but to clarify a few things:

- We never got this money, OWASP confirmed with us
- The only communication that did happen was this ticket when it was opened, without any follow-up from him.
- We never got any response or were in active contact with him, even after following up with him directly.

We are happy to help if there is any way, but no money was being

[2022-08-31 05:42] #2115 closed

[2022-09-01 12:04] cpholguera commented on #1991
Hi @wwwhackcom, sorry for the late reply. We've been extremely busy due to the MASVS refactoring.

What we'd like to do here is to write a little test case to test for this but considering the app side only. What can go wrong?

Do you think you can help us drafting something? That'd be very helpful! Thank you!

[2022-09-01 12:08] cpholguera commented on #1823
Hi @anantshri and sorry for the late reply. We've been extremely busy due to the MASVS refactoring.

This is very helpful thank you so much! Do you think you could help us enhancing that test case to include these references and that consideration that you mentioned? Maybe also adding some more interesting considerations from the paper that would help when analyzing the app third party libs?

[2022-09-01 12:19] anantshri commented on #1823
I think i should be able to. Let me sit down and write something up. Any specific test case of number that you want me to expand or simply add it as a new scenario.

[2022-09-01 20:17] cpholguera commented on #1823
I'd say in chapter 0x05i, test case "Checking for Weaknesses in Third Party Libraries (MSTG-CODE-5)".

Thank you @anantshri!

[2022-09-02 13:31] chantzlarge opened #2197 "[Bug] Resolve broken link to OWASP MASTG Authors and Co-Authors Section in "How You Can Contribute" document"
## Description

Discovered broken reference to the [OWASP MASTG Authors and Co-Authors Section](https://github.com/OWASP/owasp-mastg/blob/master/Document/0x02a-Frontispiece.md) while reading the [How Can You Contribute](https://github.com/OWASP/owasp-mastg/blob/master/docs/contributing/1_How_Can_You_Contribute.md).

- https://github.com/OWASP/owasp-mastg/blob/59ead4803548c5cbd19e2f06b53c1f4f2860f4

[2022-09-02 13:43] chantzlarge opened #2199 "[Bug] Resolve broken link to OWASP MASTG Contributors Section in "How You Can Contribute" document"
## Description

Discovered broken reference to the [OWASP MASTG Contributors Section](https://github.com/OWASP/owasp-mastg/blob/master/Document/0x02c-Acknowledgements.md#contributors) while reading the [How Can You Contribute](https://github.com/OWASP/owasp-mastg/blob/master/docs/contributing/1_How_Can_You_Contribute.md).

https://github.com/OWASP/owasp-mastg/blob/59ead4803548c5cbd19e2f06b53c1f4f2

[2022-09-02 14:50] chantzlarge opened #2201 "[Bug] Resolve broken link to OWASP MASTG printed version"
## Description

Discovered broken reference to the OWASP MASTG printed version in [How Can You Contribute?](https://github.com/OWASP/owasp-mastg/blob/master/docs/contributing/1_How_Can_You_Contribute.md) document.

https://github.com/OWASP/owasp-mastg/blob/59ead4803548c5cbd19e2f06b53c1f4f2860f47a/docs/contributing/1_How_Can_You_Contribute.md?plain=1#L81

## Expected Behavior

Link resolves to the

[2022-09-03 08:28] #2197 closed

[2022-09-03 08:30] #2199 closed

[2022-09-03 08:57] #2201 closed

[2022-09-03 09:00] cpholguera commented on #2201
Thank you @chantzlarge! Now it's fixed ;)

[2022-09-05 12:22] cpholguera opened #2209 "[Phase 1] Refactor 0x04e-Testing-Authentication-and-Session-Management.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:24] cpholguera opened #2210 "[Phase 1] Refactor 0x04f-Testing-Network-Communication.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:25] cpholguera opened #2211 "[Phase 1] Refactor 0x04g-Testing-Cryptography.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:25] cpholguera opened #2212 "[Phase 1] Refactor 0x04h-Testing-Code-Quality.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:26] cpholguera opened #2213 "[Phase 1] Refactor 0x05d-Testing-Data-Storage.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:26] cpholguera opened #2214 "[Phase 1] Refactor 0x05e-Testing-Cryptography.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:27] cpholguera opened #2215 "[Phase 1] Refactor 0x05f-Testing-Local-Authentication.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:27] cpholguera opened #2216 "[Phase 1] Refactor 0x05g-Testing-Network-Communication.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:28] cpholguera opened #2217 "[Phase 1] Refactor 0x05h-Testing-Platform-Interaction.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:28] cpholguera opened #2218 "[Phase 1] Refactor 0x05i-Testing-Code-Quality-and-Build-Settings.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:29] cpholguera opened #2219 "[Phase 1] Refactor 0x05j-Testing-Resiliency-Against-Reverse-Engineering.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:29] cpholguera opened #2220 "[Phase 1] Refactor 0x06d-Testing-Data-Storage.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:30] cpholguera opened #2221 "[Phase 1] Refactor 0x06e-Testing-Cryptography.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:30] cpholguera opened #2222 "[Phase 1] Refactor 0x06f-Testing-Local-Authentication.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:31] cpholguera opened #2223 "[Phase 1] Refactor 0x06g-Testing-Network-Communication.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:31] cpholguera opened #2224 "[Phase 1] Refactor 0x06h-Testing-Platform-Interaction.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:32] cpholguera opened #2225 "[Phase 1] Refactor 0x06i-Testing-Code-Quality-and-Build-Settings.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 12:32] cpholguera opened #2226 "[Phase 1] Refactor 0x06j-Testing-Resiliency-Against-Reverse-Engineering.md"
1. Go through each test case (1 MR per chapter)
2. Extract any general information and put it to the theory overview

  - Each chapter must have a “## Overview” section and then several “## Testing …(MSTG-XXX-YY)” sections

  - Strategy 1: move theory to chapter overview
  - Strategy 2: move theory to general chapter overview

3. Only leave a test description on each test (see notes)

Notes:

- Fo

[2022-09-05 15:45] TheDauntless opened #2228 "Old repo info in mkdocs.yml"
### MASTG Chapter

mkdocs.yml

### File Line Number

1-3

### Context

Still has owasp-mstg

[2022-09-05 15:46] TheDauntless opened #2229 "[Bug] 1.5 pdf contains empty Appendix page"
### MASTG Chapter

0x07-Appendix

### File Line Number

/

### Context

This file is empty, but still included in v1.5.0

[2022-09-05 15:49] TheDauntless opened #2230 "[Bug] Swift language not supported by pandoc"
### MASTG Chapter

0x06j

### File Line Number

various

### Context

Pandoc doesn't support swift with the current version, so code blocks have been reverted to ```default. This ticket is a reminder to revert those changes when pandoc supports swift.

[2022-09-05 19:59] cpholguera commented on #2228
it seems to be correct:

https://github.com/OWASP/owasp-mastg/blob/master/mkdocs.yml#L3

[2022-09-05 19:59] #2228 closed

[2022-09-05 20:26] #2229 closed

[2022-09-11 16:34] Amod02-prog commented on #2007
Hi , I would like to work on this issue . Do you want to add Tech Writing Training as  a separate heading.

[2022-09-11 16:56] Amod02-prog commented on #2109
Hi I would like to work on contribute on this issue . Now do you want a separate Heading mentioning ios developer mode .Also what all points you want to be added in this.

[2022-09-12 07:01] cpholguera commented on #2007
Hi @Amod02-prog, I've updated the description, I hope that helps. No need for a separate header you can put this right before "## 1. How to Write Content". Thank you!

[2022-09-12 07:13] cpholguera commented on #2109
Hi @Amod02-prog,

the idea would be to do it as similar as possible to what we did for Android: https://github.com/OWASP/owasp-mastg/blob/master/Document/0x05b-Basic-Security_Testing.md#testing-on-a-real-device

Could you please enhance the equivalent iOS section with a new paragraph about "iOS Developer Mode"?

https://github.com/OWASP/owasp-mastg/blob/master/Document/0x05b-Basic-Security_Testing

[2022-09-12 10:48] cpholguera commented on #1994
MASVS-ARCH removed for MASVS 2.0

[2022-09-12 10:48] #1994 closed

[2022-09-12 10:48] cpholguera commented on #1490
MASVS-ARCH removed for MASVS 2.0

[2022-09-12 10:48] #1490 closed

[2022-09-12 10:49] cpholguera commented on #1491
MASVS-ARCH removed for MASVS 2.0

MASVS-STORAGE-5 takes care of this.

[2022-09-12 10:49] #1491 closed

[2022-09-16 14:09] #2007 closed

[2022-09-19 09:28] AndreMCCarvalho opened #2252 "[Bug] Broken links in MASTG Webpage"
### MASTG Chapter

0x04g-Testing-Cryptography.md

### File Line Number

90

### Context

The links to "Data Storage on Android"  and "Data Storage on iOS" lead to 404

[2022-09-19 14:42] cpholguera commented on #2252
Hi @AndreMCCarvalho, I assume there will be more similar broken links. We'll fix them as soon as we can. Thank you very much for reporting!

[2022-09-20 03:42] Amod02-prog commented on #2109
Hi, @cpholguera I have been reading the android developer mode guide and I found that no separate section for IOS exist so do I need to make an exact copy of this for IOS or add a new heading for IOS in the same file

[2022-09-20 05:51] cpholguera commented on #2109
Hi @Amod02-prog,

The iOS chapter has this section `#### Testing on a real device (Jailbroken)`:

https://github.com/OWASP/owasp-mastg/blob/master/Document/0x06b-Basic-Security-Testing.md?plain=1#L64-L66

The idea is to change the current title from "#### Testing on a real device (Jailbroken)" to "#### Testing on a Real Device".

Something like this:

[code]

In that new paragraph you can shortly

[2022-09-20 06:42] #2252 closed

[2022-09-20 06:46] cpholguera commented on #2252
Hi @AndreMCCarvalho, links should work now as expected. Please let us know if you find any other issues. We really appreciate that, thank you very much!

[2022-09-20 12:24] AndreMCCarvalho commented on #2252
No problem! I will! Keep up the good work :+1:

[2022-09-22 10:34] su-vikas commented on #1874
i will take this.

Let me know in which section does this fit in.

[2022-09-22 21:23] cpholguera commented on #1874
Hi @su-vikas, could you please write a new test case in 0x05h for it, it should cover for MSTG-PLATFORM-4. Right after this one:

https://mas.owasp.org/MASTG/Android/0x05h-Testing-Platform-Interaction/#testing-for-sensitive-functionality-exposure-through-ipc-mstg-platform-4

Please include an Overview section with the theory and a paragraph of what the test will do and then the sections for Static